In [ ]:
@staticmethod
    def move_data_to_file_type(file_path_tbd: str, file_type: str, **kwargs):

        """
        kwargs takes 'seller_firm_id' as an argument to determine the seller firm specific path
        """
        basepath = current_app.config.BASE_PATH_BUSINESS_DATA

        basepath_tbd = os.path.join(basepath, 'tbd')
        basepath_file_type = os.path.join(basepath, file_type, 'in')
        os.makedirs(basepath_file_type, exist_ok=True)

        file_name = os.path.basename(file_path_tbd)
        file_path_file_type = os.path.join(basepath_file_type, file_name)
        try:
            shutil.move(file_path_tbd, file_path_file_type)
            return file_path_file_type
        except:
            raise

In [3]:
import os
basepath = '/Users/tm/Projects/vat/webapp_data/test'
seller_firm_id = 0
basepath_in = os.path.join(basepath, str(seller_firm_id), 'in')
print(basepath_in)

os.makedirs(basepath_in, exist_ok=True)



def stringify_snake_case(string_raw: str) -> str:
    import re
    pattern = re.compile(r'-{2,}')
    #https://stackoverflow.com/questions/23996118/replace-special-characters-in-a-string-python
    string = string_raw.lower().translate(
        {ord(c): " " for c in "!@#$%^&*()[]{};:,./<>?\|`~-=-+"}).replace(" ", "_").strip("-")
    return re.sub(pattern, "_", string)

/Users/tm/Projects/vat/webapp_data/test/0/in

In [4]:
string_raw = 'asldk AKKLASKLLAKKL alsdklaksd'

stringify_snake_case(string_raw)

'asldk_akklaskllakkl_alsdklaksd'

In [4]:
import pandas as pd
import os

def clean_df(df_raw: pd.DataFrame) -> pd.DataFrame:

    df = df_raw.dropna(how='all')
    #formatting to handle bad input
    df.columns = df.columns.str.strip('')
    df.columns = df.columns.str.replace('(,$)|(^,)', '', regex=True) #removes , from both ends of column

    return df


def read_file_path_into_df(file_path: str, df_encoding: str, delimiter: str) -> pd.DataFrame:
        if os.path.isfile(file_path):
            file_name = os.path.basename(file_path)
            try:
                if file_name.lower().endswith('.csv') or file_name.lower().endswith('.txt'):
                    df_raw = pd.read_csv(file_path, encoding=df_encoding, delimiter=delimiter)
                    df = clean_df(df_raw)

                else:
                    raise UnsupportedMediaType('File extension invalid (file: {}).'.format(file_name))
                return df
            except:
                raise UnsupportedMediaType('Cannot read file {}.'.format(file_name))

        else:
            raise  # !!! (not a file)

def get_str(df: pd.DataFrame, i: int, column: str) -> str:
    try:
        string = str(df.iloc[i][column])
    except:
        raise UnsupportedMediaType('Can not read str format.')
    return string

def get_index(df, value: str, column_name: str) -> int:
    return df[df[column_name]==value].index.values[0]
    

    
file_path = '/Users/tm/Projects/vat/webapp/api/seeds/sample_seller_firm/Bond_Store_Ltd/transactions/Sales Tax Transaction Report_MBOND-2020-01.csv'

df = read_file_path_into_df(file_path, df_encoding="utf-8", delimiter=",")

In [5]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A2SB1NLSCTA007,2020-JAN,AFN,NaN,FC_TRANSFER,4771817619,4771817619,NaN,28-01-2020,30-01-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A2SB1NLSCTA008,2020-JAN,AFN,amazon.de,SALE,214-1448457-2676716,EC6kv22rs,30-01-2020,30-01-2020,NaN,...,NaN,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN
2,A2SB1NLSCTA009,2020-JAN,AFN,amazon.de,SALE,212-6864247-8482824,EJlGV5lQM,30-01-2020,30-01-2020,NaN,...,NaN,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN
3,A2SB1NLSCTA010,2020-JAN,AFN,amazon.de,SALE,212-5267511-7218525,EJ58HphVF,30-01-2020,30-01-2020,NaN,...,NaN,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN
4,A2SB1NLSCTA011,2020-JAN,AFN,amazon.de,SALE,216-6177411-2584759,EJYWnBFWc,30-01-2020,30-01-2020,NaN,...,NaN,NaN,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN

In [10]:
from datetime import datetime, date

def get_date_or_None(df: pd.DataFrame, i:int, column:str) -> date:
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
            except:
                try:
                    date = datetime.strptime(df.iloc[i][column], '%d.%m.%Y').date()
                except:
                    try:
                        date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
                    except:
                        raise UnsupportedMediaType('Can not read date format.')
        return date


def verify_transaction_order(df, total) -> bool:

    complete_date_top = get_date_or_None(df, 0, column='TRANSACTION_COMPLETE_DATE')
    complete_date_bottom = get_date_or_None(df, total, column='TRANSACTION_COMPLETE_DATE')
    
    print('complete_date_top: {} - ')

    return complete_date_top >= complete_date_bottom

In [11]:
total = total_number_transaction_inputs = len(df.index)
desc = verify_transaction_order(df, total_number_transaction_inputs-1)
print('total: {} - desc: {}'.format(total, desc))

TypeError: '>=' not supported between instances of 'datetime.date' and 'NoneType'

In [2]:
for i in range(len(df.index)):
    sku = get_str(df, i, column="SELLER_SKU")
    t_type = get_str(df, i, column="TRANSACTION_TYPE") 
    indexs = get_index(df2, sku, column_name="SKU")
    
    price1 = round(float(get_str(df, i, column="GIFT_WRAP_AMT_VAT_EXCL")), 2)
    price2 = round(float(get_str(df, i, column="GIFT_WRAP_VAT_AMT")), 2)
    price3 = round(float(get_str(df, i, column="GIFT_WRAP_AMT_VAT_INCL")), 2)
    
    
    if round(price1+price2,2) != round(price3,2) and not math.isnan(price1):
        print(sku, t_type, round(price1+price2,2), price3)
    #if price1 != price2:
    #    print(i, sku, indexs, price1, price2)
    
    
    #print(float(price1) * 4 + if price1 != 'nan' else 'nan')
    
    """if t_type == 'FC_TRANSFER' or t_type == 'RETURN':
        price = 'nan'
    elif t_type == 'REFUND':
        price = float(get_str(df2, indexs, column="price"))  * -1
    else:
        price = get_str(df2, indexs, column="price")
        
    print(price)
    """

NameError: name 'df' is not defined

In [169]:


import re
for i in range(len(df.index)):
    value = get_str(df, i, column="VAT_INV_NUMBER")
    new_string = re.sub(pattern=r'0(?=.)', string=value, repl="1")
    new_string = re.sub(pattern=r'7(?=.)', string=new_string, repl="5") 
    new_string = re.sub(pattern=r'3(?=.)', string=new_string, repl="2") 
    new_string = re.sub(pattern=r'8(?=.)', string=new_string, repl="7") 
    new_string = re.sub(pattern=r'9(?=.)', string=new_string, repl="8") 
    #new_string = re.sub(pattern=r'D(?=.)', string=new_string, repl="E")
    #new_string = re.sub(pattern=r'7', string=value, repl="5")
    #new_string = re.sub(pattern=r'3', string=new_string, repl="2")
    #new_string = re.sub(pattern=r'31-01', string=new_string, repl="01-01")
    #new_string = re.sub(pattern=r'29-01', string=new_string, repl="30-01")

    #print(new_string)

In [227]:
0.21/1.12

0.18749999999999997

In [226]:
0.64/3.35

0.191044776119403

In [239]:
29.5-4.95

24.55

In [240]:
-24.79-4.71

-29.5