In [151]:
from datetime import datetime, date, timedelta
from typing import Dict, List
import os
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.ext.declarative import declared_attr
import uuid
from sqlalchemy.dialects.postgresql import UUID


app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///:memory:"
app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False


db = SQLAlchemy(app)

In [9]:
def get_b():
    print("hi")
    
def get_a():
    a = get_b()
    print(a)
    return a

In [10]:
get_a()

hi
None

In [4]:
class PrintingClass:
    
    def print_a(file_type):
        vc = variable_config[file_type]
        print(vc.a)
        
    def print_b(file_type):
        print(variable_config[file_type].b)
        
class AMZ2020:
    a = { 'name': 'PRICE_OF_ITEMS_AMT_VAT_INCL', 'method': PrintingClass.print_b }
    b = { 'name': 'TRANSACTION_CC_20', 'method': PrintingClass.print_a }
    

class AMZ2021(AMZ2020):
    b = 'TRANSACTION_CC_21'



        
variable_config = dict(
    transactions_amazon_2020=AMZ2020,
    transactions_amazon_2021=AMZ2021
)

In [6]:
vc = variable_config['transactions_amazon_2020']
service = vc.a['method']
name = vc.a['name']

service(name)

#PrintingClass.print_a('transactions_amazon_2020')

KeyError: 'PRICE_OF_ITEMS_AMT_VAT_INCL'

In [155]:
PrintingClass.print_b('transactions_amazon_2020')

TRANSACTION_CC_20

In [156]:
PrintingClass.print_b('transactions_amazon_2021')

TRANSACTION_CC_21

In [157]:
class Item(db.Model):
    id=db.Column(db.Integer, primary_key=True)
    name=db.Column(db.String(255))
    location=db.Column(db.String(255))

In [158]:
db.create_all()

In [159]:
i = Item()
db.session.add(i)
db.session.commit()

In [160]:
i1 = Item.query.first()
print(i1.id)
print(i1.name)

1
None

In [161]:
import pandas as pd

In [162]:
path = '/Users/tm/Projects/vat/webapp/api/data/test/GVCTest/JN Imports/raw/JN IMPORTS - OCT NOV DEC 2019.txt'
path2 = '/Users/tm/Projects/vat/webapp/api/data/test/GVCTest/JN Imports/raw/JN IMPORTS - OCT NOV DEC 2019 test.txt'

df = pd.read_csv(path, sep="\t")
df2 = pd.read_csv(path2, sep="\t")


total = len(df.index)
total2 = len(df2.index)

/Library/Python/3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7,59,70,71,72,73,74,75,76,77,78,79,80,81,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [163]:
def check_column_exist(f):
    def wrap(*args, **kwargs):
        if kwargs.get('column') in df.columns:
            return f(*args, **kwargs)
        else:
            return 5000

    return wrap

def allow_none(f):
    def wrap(*args, **kwargs):
        df = args[0]
        i = args[1]
        column = kwargs.get('column')
        if pd.isnull(df.iloc[i][column]):
            return f(*args, **kwargs)
        else:
            return 2

    return wrap

In [164]:
@check_column_exist
@allow_none
def returning(df, i, column: str) -> bool:
    return get_date_or_None(df, 0, column=column)

In [165]:
returning(df,0, column = 'TRANSACTION_COMPLETE_DATE')

2

In [166]:

returning(df, 1, column = 'TRANSACTION_COMPLETE_DATE2')

5000

In [167]:
var_list = [
    {
    'column': 'TRANSACTION_COMPLETE_DATE',
    'function': returning
    },
    {
    'column': 'TRANSACTION_COMPLETE_DATE2',
    'function': returning
    }
]

In [168]:
for i, el in enumerate(var_list):
    print(i)
    print(el['function'](df, i, column=el['column']))

0
2
1
5000

In [169]:
def get_date_or_None(df: pd.DataFrame, i:int, column:str) -> date:
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
        except:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d.%m.%Y').date()
            except:
                try:
                    date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
                except:
                    raise UnsupportedMediaType('Can not read date format.')
    return date

def verify_transaction_order_AMZ(df, total) -> bool:
    complete_date_top = get_date_or_None(df, 0, column='TRANSACTION_COMPLETE_DATE')
    complete_date_bottom = get_date_or_None(df, total-1, column='TRANSACTION_COMPLETE_DATE')

    return complete_date_top >= complete_date_bottom

def verify_transaction_order(df: pd.DataFrame, total: int, platform_code: str) -> List[int]:
    if platform_code == 'AMZ':
        desc = verify_transaction_order_AMZ(df, total)

    # general/platform-independent
    if desc:
        start, stop, step = total-1, 0-1, -1
    else:
        start, stop, step = 0, total, 1

    return start, stop, step, desc

In [170]:
start, stop, step, desc = verify_transaction_order(df2, total2, 'AMZ')
print(start, stop, step, desc)

0 -1 -1 True

In [171]:
for i in range(total2):
    print(get_date_or_None(df2, i, column='TRANSACTION_COMPLETE_DATE'))

2019-10-01

In [172]:
path2 = '/Users/tm/Projects/vat/webapp/api/data/test/DEMO/SampleAG/transactions/Sales Tax Transaction Report_M-2020-02.txt'
df2 = pd.read_csv(path2, sep="\t")

In [179]:
df2.drop_duplicates(subset=['SELLER_DEPART_COUNTRY_VAT_NUMBER','SELLER_DEPART_COUNTRY_VAT_NUMBER'])[['SELLER_DEPART_VAT_NUMBER_COUNTRY', 'SELLER_DEPART_COUNTRY_VAT_NUMBER']].dropna()

    SELLER_DEPART_VAT_NUMBER_COUNTRY SELLER_DEPART_COUNTRY_VAT_NUMBER
2                                 DE                      DE322857776
13                                PL                     PL5263266229
29                                FR                    FR17850992868
31                                ES                      ESA81405219
34                                CZ                      CZ684824655
132                               IT                    IT00231149998

In [180]:
a = 'SELLER_DEPART_COUNTRY_VAT_NUMBER'
b = 'SELLER_ARRIVAL_COUNTRY_VAT_NUMBER'
c = 'TRANSACTION_SELLER_VAT_NUMBER'

column_values = df2[[a, b, c]].values.ravel('K')
unique_values_raw = pd.unique(column_values).tolist()
unique_values = [x for x in unique_values_raw if str(x) != 'nan']

In [178]:
print(unique_values)

['DE322857776', 'PL5263266229', 'FR17850992868', 'ESA81405219', 'CZ684824655', 'IT00231149998']

In [149]:
column_values

array([nan, nan, nan])

In [159]:
df3 = df.drop_duplicates(subset=['SELLER_SKU','ASIN'])[['SELLER_SKU','ASIN', 'ITEM_DESCRIPTION', 'ITEM_WEIGHT']]

In [161]:
len(df3.index)

876

In [162]:
df4 = df.drop_duplicates(subset=['ASIN'])[['SELLER_SKU','ASIN', 'ITEM_DESCRIPTION', 'ITEM_WEIGHT']]
len(df4.index)

853

In [163]:
df4 = df.drop_duplicates(subset=['SELLER_SKU'])[['SELLER_SKU','ASIN', 'ITEM_DESCRIPTION', 'ITEM_WEIGHT']]
len(df4.index)

876

In [171]:
from datetime import datetime

In [141]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-9720047-6097111,D2CQDQkpy,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-9720047-6097111,D2CQDQkpy,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-8685933-5889139,Dpqgvd3PD,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-6561626-5309947,DKW4Zd2PF,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-6487173-2525963,D8D7w1k8y,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
dates_all = df[
    ["TRANSACTION_DEPART_DATE", "TRANSACTION_ARRIVAL_DATE", "TRANSACTION_COMPLETE_DATE", "TAX_CALCULATION_DATE", "VAT_INV_EXCHANGE_RATE_DATE"]
    ].values.ravel('K')
dates_raw = pd.unique(dates_all).tolist()
dates = [datetime.strptime(d, '%d-%m-%Y').date() for d in dates_raw if str(d) != 'nan']
valid_from = min(dates)

In [143]:
valid_from

datetime.date(2019, 9, 19)