In [3]:
from datetime import datetime, date, timedelta
import os
from flask import Flask, session
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite://"
app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False

db = SQLAlchemy(app)

In [4]:
db.drop_all()

In [4]:
db.create_all()
#db.session.rollback()

In [20]:
def func(**kwargs):
    return add(**kwargs)

def add(**kwargs):
    if 'a' in kwargs:
        result = kwargs['a']
    else:
        result = 'b'
    return result

In [22]:

func(a=1)

1

In [2]:
def read_item_list_upload_into_df(file):
    try:
        if file.is_file() and file.lower().endswith('.csv'):
            df = pd.read_csv(file, encoding='latin-1')
        else:
            raise UnsupportedMediaType('File extension invalid (file: {}).'.format(file.name))
        return df
       
    except:
        if file.is_file():
            raise UnsupportedMediaType('Cannot read file {}.'.format(file.names))
        else:
            raise UnsupportedMediaType('Cannot read file.')

In [ ]:
read_item_list_upload_into_df()

In [9]:
today = date.today().strftime('%Y%m%d')

In [3]:
# for testing of many to many relationships
association_table = db.Table(
    'association_table',
    db.Column('parent_code', db.Integer, db.ForeignKey('parent.code'), primary_key=True),
    db.Column('child_code', db.Integer, db.ForeignKey('child.code'), primary_key=True)
    )

class Parent(db.Model):
    __tablename__ = 'parent'
    code = db.Column(db.String(4), primary_key=True)
    children = db.relationship("Child",
                    secondary=association_table,
                    back_populates="parents")

    
class Child(db.Model):
    __tablename__ = 'child'
    code = db.Column(db.String(4), primary_key=True)
    parents = db.relationship("Parent",
                    secondary=association_table,
                    back_populates="children")

In [6]:
p1 = Parent(code="A")
p2 = Parent(code="B")
c1 = Child(code="A")
c2 = Child(code="B")

In [8]:
db.session.add(p1)
db.session.add(p2)
db.session.add(c1)
db.session.add(c1)
db.session.commit()

In [10]:
p1.children.append(c1)
p1.children.append(c2)
c1.parents.append(p2)
db.session.commit()

In [11]:
lista = ['list_b1', 'list_b2', 'list_b3']
for i, item in enumerate(lista):
    print('i: {} | item: {}'.format(i, item) )

i: 0 | item: list_b1
i: 1 | item: list_b2
i: 2 | item: list_b3

In [12]:
response_objects_cum = []
response_objects1 = []

response_object11 = {
    'status':'success',
    'message': 'validity has been added to the database.'
    }
response_object12 = {
    'status':'fail',
    'message': 'validity has not been added to the database.'
    }

response_objects1.append(response_object11)
response_objects1.append(response_object12)

response_objects2 = []
response_object21 = {
    'status':'error',
    'message': 'validity has been added to the database.'
    }
response_object22 = {
    'status':'cool',
    'message': 'validity has not been added to the database.'
    }

response_objects2.append(response_object21)
response_objects2.append(response_object22)

response_objects_cum.append(response_objects1)
response_objects_cum.append(response_objects2)

flat_response_objects = [response_object for response_objects in response_objects_cum for response_object in response_objects]

print(response_objects_cum)
print("")
print(flat_response_objects)

[[{'status': 'success', 'message': 'validity has been added to the database.'}, {'status': 'fail', 'message': 'validity has not been added to the database.'}], [{'status': 'error', 'message': 'validity has been added to the database.'}, {'status': 'cool', 'message': 'validity has not been added to the database.'}]]

[{'status': 'success', 'message': 'validity has been added to the database.'}, {'status': 'fail', 'message': 'validity has not been added to the database.'}, {'status': 'error', 'message': 'validity has been added to the database.'}, {'status': 'cool', 'message': 'validity has not been added to the database.'}]

In [ ]:
response_object1 = {
    'status':'success',
    'message': 'validity has been added to the database.'
    }
response_object2 = {
    'status':'fail',
    'message': 'validity has not been added to the database.'
    }

In [4]:
import pandas as pd
#file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rates.csv'
file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/hist_exchange_rates.csv'
df = pd.read_csv(file)

FileNotFoundError: [Errno 2] File /Users/tm/Projects/NTAMAZON/webapp/api/commands/hist_exchange_rates.csv does not exist: '/Users/tm/Projects/NTAMAZON/webapp/api/commands/hist_exchange_rates.csv'

In [23]:
df.head()

,Date,USD,JPY,BGN,CYP,CZK,DKK,EEK,GBP,HUF,...,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR,Unnamed: 42
0,2020-05-04,1.0942,116.84,1.9558,NaN,27.119,7.4622,NaN,0.87898,353.27,...,82.7870,1340.00,26.8862,4.7226,1.8083,55.379,1.5495,35.397,20.3924,NaN
1,2020-04-30,1.0876,115.87,1.9558,NaN,27.097,7.4584,NaN,0.86905,352.72,...,81.6108,1313.09,25.7953,4.6767,1.7705,54.772,1.5324,35.216,19.6572,NaN
2,2020-04-29,1.0842,115.52,1.9558,NaN,27.125,7.4571,NaN,0.87378,355.55,...,82.0215,1321.59,26.1528,4.7136,1.7831,54.763,1.5344,35.150,19.9836,NaN
3,2020-04-28,1.0877,116.06,1.9558,NaN,27.227,7.4570,NaN,0.87078,355.94,...,82.5220,1325.80,26.5269,4.7451,1.7956,55.032,1.5407,35.280,20.2913,NaN
4,2020-04-27,1.0852,116.22,1.9558,NaN,27.184,7.4591,NaN,0.87263,354.57,...,82.6195,1328.82,27.0245,4.7250,1.7893,54.987,1.5391,35.236,20.4109,NaN

In [30]:

from werkzeug.exceptions import UnsupportedMediaType

class ExchangeRateCollection(db.Model):
    """ ExchangeRates parent_model """
    __tablename__ = "exchange_rate_collection"
    id = db.Column(db.Integer, primary_key=True)
    date = db.Column(db.Date, default=date.today)
    created_on = db.Column(db.DateTime, default=datetime.utcnow)
    exchange_rates_eur = db.relationship(
        'ExchangeRatesEUR', backref='exchange_rate_collection', lazy=True)
    exchange_rates_gbp = db.relationship(
        'ExchangeRatesGBP', backref='exchange_rate_collection', lazy=True)
    exchange_rates_czk = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)
    exchange_rates_pln = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)


    def __init__(self, **kwargs):
        super(ExchangeRateCollection, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRates: %r>' % self.date

def get_date_or_None_incl_format(df, i: int, column: str, dstr_format:str, alternative_dstr_format) -> date or None:
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            date = datetime.strptime(df.iloc[i][column], dstr_format).date()
        except:
            try:
                date = datetime.strptime(
                    df.iloc[i][column], alternative_dstr_format).date()
            except:
                raise UnsupportedMediaType('Can not read date format.')
    return date


def create_exchange_rate_collection(date: date) -> ExchangeRateCollection:
    exchange_rate_collection = ExchangeRateCollection.query.filter_by(date=date).first()

    if not exchange_rate_collection:
        #create new exchange_rate_collection based on TaxAuditor model
        new_exchange_rate_collection = ExchangeRateCollection(
            date=date,
            created_on=datetime.utcnow()
        )

        #add exchange_rate_collection to db
        db.session.add(new_exchange_rate_collection)
        db.session.commit()

        return new_exchange_rate_collection

In [45]:
for row in range(3):
    date = get_date_or_None_incl_format(df, i=row, column='Date', dstr_format='%Y-%m-%d', alternative_dstr_format='%Y.%m.%d')
    if not date:
        print(error)
    else:      
        source='ECB'
        created_on=datetime.utcnow()
        date=date
        #exchange_rate_collection_id=exchange_rate_collection.id,
        eur=1.0000
        gbp=float(df.iloc[row]['GBP'])
        czk=float(df.iloc[row]['CZK'])
        pln=float(df.iloc[row]['PLN'])
        
        print(date, eur, gbp, czk, pln)
        #print(type(date), type(eur), type(gbp), type(czk), type(pln))
        print("")

2020-05-04 1.0 0.8789799999999999 27.119 4.5668

2020-04-30 1.0 0.86905 27.096999999999998 4.5336

2020-04-29 1.0 0.8737799999999999 27.125 4.5442

In [73]:
from os import path
BASE_PATH_SEEDS = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/seeds/static_data/'
file = 'countries.csv'

dirpath = path.join(
    BASE_PATH_SEEDS,
    file)


df = pd.read_csv(dirpath)
countries = df.to_dict('records')

In [74]:
countries

[{'name': 'Afghanistan',
  'code': 'AF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Albania',
  'code': 'AL',
  'vat_country_code': 'AL',
  'currency_code': nan},
 {'name': 'Algeria',
  'code': 'DZ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'American Samoa',
  'code': 'AS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Andorra',
  'code': 'AD',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Angola',
  'code': 'AO',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Anguilla',
  'code': 'AI',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Antarctica',
  'code': 'AQ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Antigua and Barbuda',
  'code': 'AG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Argentina',
  'code': 'AR',
  'vat_country_code': 'AR',
  'currency_code': nan},
 {'name': 'Armenia',
  'code': 'AM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Aruba',
  'code': 'AW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Australia',
  'code': 'AU',
  'vat_country_code': 'AU',
  'currency_code': nan},
 {'name': 'Austria',
  'code': 'AT',
  'vat_country_code': 'AT',
  'currency_code': 'EUR'},
 {'name': 'Azerbaijan',
  'code': 'AZ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bahamas',
  'code': 'BS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bahrain',
  'code': 'BH',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bangladesh',
  'code': 'BD',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Barbados',
  'code': 'BB',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Belarus',
  'code': 'BY',
  'vat_country_code': 'BY',
  'currency_code': nan},
 {'name': 'Belgium',
  'code': 'BE',
  'vat_country_code': 'BE',
  'currency_code': 'EUR'},
 {'name': 'Belize',
  'code': 'BZ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Benin',
  'code': 'BJ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bermuda',
  'code': 'BM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bhutan',
  'code': 'BT',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bolivia',
  'code': 'BO',
  'vat_country_code': 'BO',
  'currency_code': nan},
 {'name': 'Bonaire',
  'code': 'BQ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bosnia and Herzegovina',
  'code': 'BA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Botswana',
  'code': 'BW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bouvet Island',
  'code': 'BV',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Brazil',
  'code': 'BR',
  'vat_country_code': 'BR',
  'currency_code': nan},
 {'name': 'British Indian Ocean Territory',
  'code': 'IO',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Brunei Darussalam',
  'code': 'BN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Bulgaria',
  'code': 'BG',
  'vat_country_code': 'BG',
  'currency_code': 'BGN'},
 {'name': 'Burkina Faso',
  'code': 'BF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Burundi',
  'code': 'BI',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Cambodia',
  'code': 'KH',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Cameroon',
  'code': 'CM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Canada',
  'code': 'CA',
  'vat_country_code': 'CA',
  'currency_code': nan},
 {'name': 'Cape Verde',
  'code': 'CV',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Cayman Islands',
  'code': 'KY',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Central African Republic',
  'code': 'CF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Chad', 'code': 'TD', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Chile',
  'code': 'CL',
  'vat_country_code': 'CL',
  'currency_code': nan},
 {'name': 'China',
  'code': 'CN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Christmas Island',
  'code': 'CX',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Cocos (Keeling) Islands',
  'code': 'CC',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Colombia',
  'code': 'CO',
  'vat_country_code': 'CO',
  'currency_code': nan},
 {'name': 'Comoros',
  'code': 'KM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Congo',
  'code': 'CG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Democratic Republic of the Congo',
  'code': 'CD',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Cook Islands',
  'code': 'CK',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Costa Rica',
  'code': 'CR',
  'vat_country_code': 'CR',
  'currency_code': nan},
 {'name': 'Croatia',
  'code': 'HR',
  'vat_country_code': 'HR',
  'currency_code': 'HRK'},
 {'name': 'Cuba', 'code': 'CU', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Curacao',
  'code': 'CW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Cyprus',
  'code': 'CY',
  'vat_country_code': 'CY',
  'currency_code': 'EUR'},
 {'name': 'Czech Republic',
  'code': 'CZ',
  'vat_country_code': 'CZ',
  'currency_code': 'CZK'},
 {'name': "Cote d'Ivoire",
  'code': 'CI',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Denmark',
  'code': 'DK',
  'vat_country_code': 'DK',
  'currency_code': 'DKK'},
 {'name': 'Djibouti',
  'code': 'DJ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Dominica',
  'code': 'DM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Dominican Republic',
  'code': 'DO',
  'vat_country_code': 'DO',
  'currency_code': nan},
 {'name': 'Ecuador',
  'code': 'EC',
  'vat_country_code': 'EC',
  'currency_code': nan},
 {'name': 'Egypt',
  'code': 'EG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'El Salvador',
  'code': 'SV',
  'vat_country_code': 'SV',
  'currency_code': nan},
 {'name': 'Equatorial Guinea',
  'code': 'GQ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Eritrea',
  'code': 'ER',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Estonia',
  'code': 'EE',
  'vat_country_code': 'EE',
  'currency_code': 'EUR'},
 {'name': 'Ethiopia',
  'code': 'ET',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Falkland Islands (Malvinas)',
  'code': 'FK',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Faroe Islands',
  'code': 'FO',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Fiji', 'code': 'FJ', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Finland',
  'code': 'FI',
  'vat_country_code': 'FI',
  'currency_code': 'EUR'},
 {'name': 'France',
  'code': 'FR',
  'vat_country_code': 'FR',
  'currency_code': 'EUR'},
 {'name': 'French Guiana',
  'code': 'GF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'French Polynesia',
  'code': 'PF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'French Southern Territories',
  'code': 'TF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Gabon',
  'code': 'GA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Gambia',
  'code': 'GM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Georgia',
  'code': 'GE',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Germany',
  'code': 'DE',
  'vat_country_code': 'DE',
  'currency_code': 'EUR'},
 {'name': 'Ghana',
  'code': 'GH',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Gibraltar',
  'code': 'GI',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Greece',
  'code': 'GR',
  'vat_country_code': 'EL',
  'currency_code': 'EUR'},
 {'name': 'Greenland',
  'code': 'GL',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Grenada',
  'code': 'GD',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Guadeloupe',
  'code': 'GP',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Guam', 'code': 'GU', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Guatemala',
  'code': 'GT',
  'vat_country_code': 'GT',
  'currency_code': nan},
 {'name': 'Guernsey',
  'code': 'GG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Guinea',
  'code': 'GN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Guinea-Bissau',
  'code': 'GW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Guyana',
  'code': 'GY',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Haiti',
  'code': 'HT',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Heard Island and McDonald\xa0Islands',
  'code': 'HM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Holy See (Vatican City State)',
  'code': 'VA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Honduras',
  'code': 'HN',
  'vat_country_code': 'HN',
  'currency_code': nan},
 {'name': 'Hong Kong',
  'code': 'HK',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Hungary',
  'code': 'HU',
  'vat_country_code': 'HU',
  'currency_code': 'HUF'},
 {'name': 'Iceland',
  'code': 'IS',
  'vat_country_code': 'IS',
  'currency_code': nan},
 {'name': 'India',
  'code': 'IN',
  'vat_country_code': 'IN',
  'currency_code': nan},
 {'name': 'Indonesia',
  'code': 'ID',
  'vat_country_code': 'ID',
  'currency_code': nan},
 {'name': 'Iran, Islamic Republic of',
  'code': 'IR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Iraq', 'code': 'IQ', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Ireland',
  'code': 'IE',
  'vat_country_code': 'IE',
  'currency_code': 'EUR'},
 {'name': 'Isle of Man',
  'code': 'IM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Israel',
  'code': 'IL',
  'vat_country_code': 'IL',
  'currency_code': nan},
 {'name': 'Italy',
  'code': 'IT',
  'vat_country_code': 'IT',
  'currency_code': 'EUR'},
 {'name': 'Jamaica',
  'code': 'JM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Japan',
  'code': 'JP',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Jersey',
  'code': 'JE',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Jordan',
  'code': 'JO',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Kazakhstan',
  'code': 'KZ',
  'vat_country_code': 'KZ',
  'currency_code': nan},
 {'name': 'Kenya',
  'code': 'KE',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Kiribati',
  'code': 'KI',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': "Korea, Democratic People's Republic of",
  'code': 'KP',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Korea, Republic of',
  'code': 'KR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Kuwait',
  'code': 'KW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Kyrgyzstan',
  'code': 'KG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': "Lao People's Democratic Republic",
  'code': 'LA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Latvia',
  'code': 'LV',
  'vat_country_code': 'LV',
  'currency_code': 'EUR'},
 {'name': 'Lebanon',
  'code': 'LB',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Lesotho',
  'code': 'LS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Liberia',
  'code': 'LR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Libya',
  'code': 'LY',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Liechtenstein',
  'code': 'LI',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Lithuania',
  'code': 'LT',
  'vat_country_code': 'LT',
  'currency_code': 'EUR'},
 {'name': 'Luxembourg',
  'code': 'LU',
  'vat_country_code': 'LU',
  'currency_code': 'EUR'},
 {'name': 'Macao',
  'code': 'MO',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'North Macedonia',
  'code': 'MK',
  'vat_country_code': 'MK',
  'currency_code': nan},
 {'name': 'Madagascar',
  'code': 'MG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Malawi',
  'code': 'MW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Malaysia',
  'code': 'MY',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Maldives',
  'code': 'MV',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Mali', 'code': 'ML', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Malta',
  'code': 'MT',
  'vat_country_code': 'MT',
  'currency_code': 'EUR'},
 {'name': 'Marshall Islands',
  'code': 'MH',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Martinique',
  'code': 'MQ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Mauritania',
  'code': 'MR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Mauritius',
  'code': 'MU',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Mayotte',
  'code': 'YT',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Mexico',
  'code': 'MX',
  'vat_country_code': 'MX',
  'currency_code': nan},
 {'name': 'Micronesia, Federated States of',
  'code': 'FM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Moldova, Republic of',
  'code': 'MD',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Monaco',
  'code': 'MC',
  'vat_country_code': 'FR',
  'currency_code': nan},
 {'name': 'Mongolia',
  'code': 'MN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Montenegro',
  'code': 'ME',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Montserrat',
  'code': 'MS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Morocco',
  'code': 'MA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Mozambique',
  'code': 'MZ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Myanmar',
  'code': 'MM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Namibia',
  'code': nan,
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Nauru',
  'code': 'NR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Nepal',
  'code': 'NP',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Netherlands',
  'code': 'NL',
  'vat_country_code': 'NL',
  'currency_code': 'EUR'},
 {'name': 'New Caledonia',
  'code': 'NC',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'New Zealand',
  'code': 'NZ',
  'vat_country_code': 'NZ',
  'currency_code': nan},
 {'name': 'Nicaragua',
  'code': 'NI',
  'vat_country_code': 'NI',
  'currency_code': nan},
 {'name': 'Niger',
  'code': 'NE',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Nigeria',
  'code': 'NG',
  'vat_country_code': 'NG',
  'currency_code': nan},
 {'name': 'Niue', 'code': 'NU', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Norfolk Island',
  'code': 'NF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Northern Mariana Islands',
  'code': 'MP',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Norway',
  'code': 'NO',
  'vat_country_code': 'NO',
  'currency_code': nan},
 {'name': 'Oman', 'code': 'OM', 'vat_country_code': nan, 'currency_code': nan},
 {'name': 'Pakistan',
  'code': 'PK',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Palau',
  'code': 'PW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Palestine, State of',
  'code': 'PS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Panama',
  'code': 'PA',
  'vat_country_code': 'PA',
  'currency_code': nan},
 {'name': 'Papua New Guinea',
  'code': 'PG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Paraguay',
  'code': 'PY',
  'vat_country_code': 'PY',
  'currency_code': nan},
 {'name': 'Peru',
  'code': 'PE',
  'vat_country_code': 'PE',
  'currency_code': nan},
 {'name': 'Philippines',
  'code': 'PH',
  'vat_country_code': 'PH',
  'currency_code': nan},
 {'name': 'Pitcairn',
  'code': 'PN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Poland',
  'code': 'PL',
  'vat_country_code': 'PL',
  'currency_code': 'PLN'},
 {'name': 'Portugal',
  'code': 'PT',
  'vat_country_code': nan,
  'currency_code': 'EUR'},
 {'name': 'Puerto Rico',
  'code': 'PR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Qatar',
  'code': 'QA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Romania',
  'code': 'RO',
  'vat_country_code': 'RO',
  'currency_code': 'RON'},
 {'name': 'Russian Federation',
  'code': 'RU',
  'vat_country_code': 'RU',
  'currency_code': nan},
 {'name': 'Rwanda',
  'code': 'RW',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Reunion',
  'code': 'RE',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Barthelemy',
  'code': 'BL',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Helena',
  'code': 'SH',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Kitts and Nevis',
  'code': 'KN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Lucia',
  'code': 'LC',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Martin (French part)',
  'code': 'MF',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Pierre and Miquelon',
  'code': 'PM',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saint Vincent and the Grenadines',
  'code': 'VC',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Samoa',
  'code': 'WS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'San Marino',
  'code': 'SM',
  'vat_country_code': 'SM',
  'currency_code': nan},
 {'name': 'Sao Tome and Principe',
  'code': 'ST',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Saudi Arabia',
  'code': 'SA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Senegal',
  'code': 'SN',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Serbia',
  'code': 'RS',
  'vat_country_code': 'RS',
  'currency_code': nan},
 {'name': 'Seychelles',
  'code': 'SC',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Sierra Leone',
  'code': 'SL',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Singapore',
  'code': 'SG',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Sint Maarten (Dutch part)',
  'code': 'SX',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Slovakia',
  'code': 'SK',
  'vat_country_code': 'SK',
  'currency_code': 'EUR'},
 {'name': 'Slovenia',
  'code': 'SI',
  'vat_country_code': 'SI',
  'currency_code': 'EUR'},
 {'name': 'Solomon Islands',
  'code': 'SB',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Somalia',
  'code': 'SO',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'South Africa',
  'code': 'ZA',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'South Georgia and the South Sandwich Islands',
  'code': 'GS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'South Sudan',
  'code': 'SS',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Spain',
  'code': 'ES',
  'vat_country_code': 'ES',
  'currency_code': 'EUR'},
 {'name': 'Sri Lanka',
  'code': 'LK',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Sudan',
  'code': 'SD',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Suriname',
  'code': 'SR',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Svalbard and Jan Mayen',
  'code': 'SJ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Swaziland',
  'code': 'SZ',
  'vat_country_code': nan,
  'currency_code': nan},
 {'name': 'Sweden',
  'code': 'SE',
  'vat_country_code': 'SE',
  'currency_code': 'SEK'},
 {'name': 'Switzerland',
  'code': 'CH',
  'vat_country_code': 'CH',
  'currency_code': nan},
 {'name': 'Syrian Arab Republic',

In [33]:
date.today()

datetime.date(2020, 5, 6)

In [1]:
things_list = {
    'currencies': [0, 1],
    'countries': [0, 2],
    'tax_codes': [0, 3],
    'tax_rate_types': [0, 4],
    'tax_rates': [0, 5],
    'transaction_types': [0, 6],
}
print(len(things_list.items()))

6

In [191]:
for key, val in things_list.items():
    print(type(key), val[0], val[1])

<class 'str'> 0 1
<class 'str'> 0 2
<class 'str'> 0 3
<class 'str'> 0 4
<class 'str'> 0 5
<class 'str'> 0 6

In [56]:
df1 = df.loc[df['country_code'] == 'AT'].loc[df['tax_rate_type_code'] == 'S'].iloc[0]['rate']

In [59]:
float(df1)

0.2

In [150]:
df_rates = pd.read_csv(file_rates)
df_types = pd.read_csv(file_types)


df_types.loc[df_types['tax_code']=='A_GEN_STANDARD']

,tax_code,AT,BE,BG,HR,CY,CZ,DK,EE,FI,...,MT,NL,PL,PT,RO,SK,SI,ES,SE,GB
0,A_GEN_STANDARD,S,S,S,S,S,S,S,S,S,...,S,S,S,S,S,S,S,S,S,S

In [151]:
df_types.iloc[0]['tax_code']

'A_GEN_STANDARD'

[{'code': 'A_GEN_STANDARD', 'description': 'Standard Rate'},
 {'code': 'A_BOOKS_GEN', 'description': 'Printed Books'},
 {'code': 'A_BOOK_ATLAS', 'description': 'Book of Maps or Charts'},
 {'code': 'A_BOOK_AUDIOBOOK',
  'description': 'Audiobooks in the physical format'},
 {'code': 'A_BOOK_GLOBE', 'description': 'Spherical Map or Chart'},
 {'code': 'A_BOOK_MAGAZINE', 'description': 'Periodical Publication'},
 {'code': 'A_BOOK_MAP', 'description': 'Diagrammatic Area of Land or Sea'},
 {'code': 'A_BOOK_ADULT', 'description': 'Adult Coloring or Activity Book'},
 {'code': 'A_CLTH_BABY', 'description': 'General Baby Clothing'},
 {'code': 'A_CLTH_CHILD', 'description': "General Children's Clothing"},
 {'code': 'A_CLTH_PROTECTIVE',
  'description': 'Protective Sport or Work Clothing'},
 {'code': 'A_FOOD_GEN', 'description': 'General Food Products'},
 {'code': 'A_FOOD_CAKEDECOR', 'description': 'Cake Decorating Foods'},
 {'code': 'A_FOOD_CANFRUIT', 'description': 'Canned Fruit and Vegetables'},
 {'code': 'A_FOOD_CEREALBARS', 'description': 'Cereal Bars'},
 {'code': 'A_FOOD_CEREALCHOCBARS', 'description': 'Chocolate Cereal Bars'},
 {'code': 'A_FOOD_CHOCEREAL', 'description': 'Chocolate Cereal'},
 {'code': 'A_FOOD_CNDY', 'description': 'Candy'},
 {'code': 'A_FOOD_COFFEE', 'description': 'Coffee'},
 {'code': 'A_FOOD_DAIRY', 'description': 'Milk and other Dairy Foods'},
 {'code': 'A_FOOD_DESSERT', 'description': 'Desserts Without Chocolate'},
 {'code': 'A_FOOD_DRIEDFRUIT', 'description': 'Dried Fruits and Vegetables'},
 {'code': 'A_FOOD_FLOUR', 'description': 'Flour'},
 {'code': 'A_FOOD_MEATCHICKEN', 'description': 'Chicken or Other Meats'},
 {'code': 'A_FOOD_MISCBEVERAGE',
  'description': 'Carbonated Water or Other Non-Soda / Juice Drinks'},
 {'code': 'A_FOOD_NAAN', 'description': 'Naan'},
 {'code': 'A_FOOD_NCARBWTR', 'description': 'Non-Carbonated Water'},
 {'code': 'A_FOOD_OIL', 'description': 'Oils'},
 {'code': 'A_FOOD_PASTANOODLE', 'description': 'Pasta and Noodles'},
 {'code': 'A_FOOD_PASTRYCASE', 'description': 'Pastry'},
 {'code': 'A_FOOD_PLAINBISCUIT', 'description': 'Plain Biscuits'},
 {'code': 'A_FOOD_PLAINCRACKER', 'description': 'Plain Crackers'},
 {'code': 'A_FOOD_PLAINNUT', 'description': 'Plain Nuts'},
 {'code': 'A_FOOD_RICE', 'description': 'Rice'},
 {'code': 'A_FOOD_SEASONINGS',
  'description': 'Salt, Pepper, and other Seasonings'},
 {'code': 'A_FOOD_SNACK', 'description': 'Non-chocolate Snacks and Treats'},
 {'code': 'A_FOOD_SODAJUICE', 'description': 'Sodas and Juices'},
 {'code': 'A_FOOD_SPREAD', 'description': 'Spreadable Food'},
 {'code': 'A_FOOD_SWEETNER', 'description': 'Sugar and other Sweeteners'},
 {'code': 'A_FOOD_TEA', 'description': 'Tea'},
 {'code': 'A_FOOD_VEGETABLE',
  'description': 'Fresh or Frozen Fruits and Vegetables'},
 {'code': 'A_FOOD_PETFOOD', 'description': 'Food for Pets'},
 {'code': 'A_FOOD_ANIMALFOOD', 'description': 'Food for Farm Animals'},
 {'code': 'A_FOOD_ANIMALMED', 'description': 'Medicine for Farm Animals'},
 {'code': 'A_FOOD_ANIMALVITAMINS', 'description': 'Vitamins for Farm Animals'},
 {'code': 'A_HLTH_NUTRITIONBAR', 'description': 'Nutrition Bar'},
 {'code': 'A_HLTH_NUTRITIONDRINK', 'description': 'Nutrition Drink'},
 {'code': 'A_HLTH_PILLCAPSULETABLET', 'description': 'Pills and Capsules'},
 {'code': 'A_HLTH_SMOKINGCESSATION', 'description': 'Smoking Cessation Aids'},
 {'code': 'A_HLTH_SMOKINGGUM', 'description': 'Smoke Cessation Gum'},
 {'code': 'A_HLTH_VITAMINS', 'description': 'Vitamins and Minerals'},
 {'code': 'A_HPC_CONTRACEPTIVE',
  'description': 'Condoms and other Contraceptive Aids'},
 {'code': 'A_HPC_DIETARYSUPPL', 'description': 'Dietary Supplements'},
 {'code': 'A_HPC_INCONTINENCE',
  'description': 'Adult Diapers and Incontinence Aids'},
 {'code': 'A_HPC_MEDICINE', 'description': 'Other Medicines'},
 {'code': 'A_HPC_SANITARYPRODUCTS',
  'description': 'Female Hygienic and Other Sanitary Products'},
 {'code': 'A_HPC_WALKINGSTICK',
  'description': 'Walking Sticks and other Mobility Aids'},
 {'code': 'A_OUTDOOR_FERTILIZER', 'description': 'Plant Fertilizers'},
 {'code': 'A_OUTDOOR_LAWNCONTROL',
  'description': 'Insecticides, Herbicides, and Fungicides'},
 {'code': 'A_OUTDOOR_PLANTFOOD', 'description': 'Plant Food'},
 {'code': 'A_OUTDOOR_PLANTS', 'description': 'Plants'},
 {'code': 'A_OUTDOOR_SEEDS', 'description': 'Plant seeds'},
 {'code': 'A_BABY_BIBCLOTH', 'description': 'Baby Bib Cloth'},
 {'code': 'A_BABY_CARSEAT', 'description': 'Car Seats for Baby and Children'},
 {'code': 'A_BABY_NAPPIES',
  'description': "Baby or Children's Nappy or Diaper"},
 {'code': 'A_GEN_NOTAX', 'description': 'Outside the scope of VAT'}]

In [21]:
file_rates = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rates.csv'
file_types = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rate_types.csv'

df_rates = pd.read_csv(file_rates)
df_types = pd.read_csv(file_types)



def get_tax_rates(df_rates, df_types):
    tax_rates = []

    countries = ['AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU',
                'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'GB']

    for country in countries:
        print(country)
        for tax_code_row in range(len(df_types.index)):
            tax_code = df_types.iloc[tax_code_row]['tax_code']
            tax_rate_type_code = df_types.loc[df_types['tax_code'] == tax_code][country].iloc[0]
            rate = df_rates.loc[df_rates['country_code'] == country].loc[df_rates['tax_rate_type_code'] == tax_rate_type_code].iloc[0]['rate']
            
            #print(country)
            #print(tax_code)
            #print(tax_rate_type)
            #print(rate)

            tax_rate = {
                'valid_from': datetime.strptime('01-06-2018', '%d-%m-%Y').date(),
                'country_code': country,
                'tax_rate_type_code': tax_rate_type_code,
                'rate': rate
            }
            tax_rates.append(tax_rate)

    return tax_rates


tax_rates = get_tax_rates(df_rates, df_types)

AT
BE
BG
HR
CY
CZ
DK
EE
FI
FR
DE
GR
HU
IE
IT
LV
LT
LU
MT
NL
PL
PT
RO
SK
SI
ES
SE
GB

In [174]:
for i in range(15):
    a = tax_rates[i]
    print(a)

{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_GEN_STANDARD', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOKS_GEN', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOK_ATLAS', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOK_AUDIOBOOK', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOK_GLOBE', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOK_MAGAZINE', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOK_MAP', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_BOOK_ADULT', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_CLTH_BABY', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_CLTH_CHILD', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_CLTH_PROTECTIVE', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_FOOD_GEN', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_FOOD_CAKEDECOR', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_FOOD_CANFRUIT', 'rate': 0.2}
{'valid_from': datetime.date(2018, 6, 1), 'country_code': 'AT', 'tax_rate_type_code': 'A_FOOD_CEREALBARS', 'rate': 0.2}

In [104]:
from datetime import datetime

file_rates = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rates.csv'
df_rates = pd.read_csv(file_rates)
print(df_rates.columns.values)
file_types = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rate_types.csv'
df_types = pd.read_csv(file_types)
print(df_types.columns.values)

tax_rates = []

countries = ['AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU', 'IE',' IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'GB']

for country in countries:
    print(country)
    for tax_rate_code in range(len(df_types.index)):
        tax_rate_type_code = df_types.iloc[tax_rate_code]['tax_code']
        rate = df_rates.loc[df_rates['country_code'] == 'AT'].loc[df_rates['tax_rate_type_code'] == 'S'].iloc[0]['rate']

        tax_rate = {
            'valid_from': datetime.strptime('01-06-2018', '%d-%m-%Y').date(),
            'country_code' : country,
            'tax_rate_type_code': tax_rate_type_code,
            'rate': rate
        }
        tax_rates.append(tax_rate)

['country_code' 'tax_rate_type_code' 'rate']
['tax_code' 'AT' 'BE' 'BG' 'HR' 'CY' 'CZ' 'DK' 'EE' 'FI' 'FR' 'DE' 'GR'
 'HU' 'IE' 'IT' 'LV' 'LT' 'LU' 'MT' 'NL' 'PL' 'PT' 'RO' 'SK' 'SI' 'ES'
 'SE' 'GB']
AT
BE
BG
HR
CY
CZ
DK
EE
FI
FR
DE
GR
HU
IE
 IT
LV
LT
LU
MT
NL
PL
PT
RO
SK
SI
ES
SE
GB

In [103]:
tax_rates

[{'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_GEN_STANDARD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOKS_GEN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOK_ATLAS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOK_AUDIOBOOK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOK_GLOBE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOK_MAGAZINE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOK_MAP',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BOOK_ADULT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_CLTH_BABY',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_CLTH_CHILD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_CLTH_PROTECTIVE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_GEN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_CAKEDECOR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_CANFRUIT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_CEREALBARS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_CEREALCHOCBARS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_CHOCEREAL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_CNDY',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_COFFEE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_DAIRY',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_DESSERT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_DRIEDFRUIT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_FLOUR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_MEATCHICKEN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_MISCBEVERAGE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_NAAN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_NCARBWTR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_OIL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_PASTANOODLE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_PASTRYCASE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_PLAINBISCUIT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_PLAINCRACKER',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_PLAINNUT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_RICE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_SEASONINGS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_SNACK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_SODAJUICE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_SPREAD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_SWEETNER',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_TEA',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_VEGETABLE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_PETFOOD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_ANIMALFOOD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_ANIMALMED',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_FOOD_ANIMALVITAMINS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HLTH_NUTRITIONBAR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HLTH_NUTRITIONDRINK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HLTH_PILLCAPSULETABLET',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HLTH_SMOKINGCESSATION',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HLTH_SMOKINGGUM',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HLTH_VITAMINS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HPC_CONTRACEPTIVE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HPC_DIETARYSUPPL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HPC_INCONTINENCE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HPC_MEDICINE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HPC_SANITARYPRODUCTS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_HPC_WALKINGSTICK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_OUTDOOR_FERTILIZER',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_OUTDOOR_LAWNCONTROL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_OUTDOOR_PLANTFOOD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_OUTDOOR_PLANTS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_OUTDOOR_SEEDS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BABY_BIBCLOTH',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BABY_CARSEAT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_BABY_NAPPIES',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'AT',
  'tax_rate_type_code': 'A_GEN_NOTAX',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_GEN_STANDARD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOKS_GEN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOK_ATLAS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOK_AUDIOBOOK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOK_GLOBE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOK_MAGAZINE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOK_MAP',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BOOK_ADULT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_CLTH_BABY',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_CLTH_CHILD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_CLTH_PROTECTIVE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_GEN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_CAKEDECOR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_CANFRUIT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_CEREALBARS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_CEREALCHOCBARS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_CHOCEREAL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_CNDY',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_COFFEE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_DAIRY',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_DESSERT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_DRIEDFRUIT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_FLOUR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_MEATCHICKEN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_MISCBEVERAGE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_NAAN',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_NCARBWTR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_OIL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_PASTANOODLE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_PASTRYCASE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_PLAINBISCUIT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_PLAINCRACKER',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_PLAINNUT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_RICE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_SEASONINGS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_SNACK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_SODAJUICE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_SPREAD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_SWEETNER',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_TEA',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_VEGETABLE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_PETFOOD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_ANIMALFOOD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_ANIMALMED',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_FOOD_ANIMALVITAMINS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HLTH_NUTRITIONBAR',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HLTH_NUTRITIONDRINK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HLTH_PILLCAPSULETABLET',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HLTH_SMOKINGCESSATION',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HLTH_SMOKINGGUM',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HLTH_VITAMINS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HPC_CONTRACEPTIVE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HPC_DIETARYSUPPL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HPC_INCONTINENCE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HPC_MEDICINE',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HPC_SANITARYPRODUCTS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_HPC_WALKINGSTICK',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_OUTDOOR_FERTILIZER',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_OUTDOOR_LAWNCONTROL',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_OUTDOOR_PLANTFOOD',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_OUTDOOR_PLANTS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_OUTDOOR_SEEDS',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BABY_BIBCLOTH',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BABY_CARSEAT',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_BABY_NAPPIES',
  'rate': 0.2},
 {'valid_from': datetime.date(2018, 6, 1),
  'country_code': 'BE',
  'tax_rate_type_code': 'A_GEN_NOTAX',
  'rate': 0.2}]

In [20]:
#df.to_dict('records')
db.session.rollback()

/usr/local/lib/python3.7/site-packages/sqlalchemy/orm/session.py:561: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [16]:
class Parent(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    children = db.relationship('Child', backref='parent', lazy=True)
    
class Child(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    parent_id = db.Column(db.String(4), db.ForeignKey('parent.id'), default=None)

In [21]:
p1 = Parent()
c1 = Child(parent_id=1)

db.session.add(p1)
db.session.add(c1)
db.session.commit()

In [32]:
    file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_codes.csv'
    df = pd.read_csv(file)
    df.to_dict('records')

[{'code': 'A_GEN_STANDARD', 'description': 'Standard Rate'},
 {'code': 'A_BOOKS_GEN', 'description': 'Printed Books'},
 {'code': 'A_BOOK_ATLAS', 'description': 'Book of Maps or Charts'},
 {'code': 'A_BOOK_AUDIOBOOK',
  'description': 'Audiobooks in the physical format'},
 {'code': 'A_BOOK_GLOBE', 'description': 'Spherical Map or Chart'},
 {'code': 'A_BOOK_MAGAZINE', 'description': 'Periodical Publication'},
 {'code': 'A_BOOK_MAP', 'description': 'Diagrammatic Area of Land or Sea'},
 {'code': 'A_BOOK_ADULT', 'description': 'Adult Coloring or Activity Book'},
 {'code': 'A_CLTH_BABY', 'description': 'General Baby Clothing'},
 {'code': 'A_CLTH_CHILD', 'description': "General Children's Clothing"},
 {'code': 'A_CLTH_PROTECTIVE',
  'description': 'Protective Sport or Work Clothing'},
 {'code': 'A_FOOD_GEN', 'description': 'General Food Products'},
 {'code': 'A_FOOD_CAKEDECOR', 'description': 'Cake Decorating Foods'},
 {'code': 'A_FOOD_CANFRUIT', 'description': 'Canned Fruit and Vegetables'},
 {'code': 'A_FOOD_CEREALBARS', 'description': 'Cereal Bars'},
 {'code': 'A_FOOD_CEREALCHOCBARS', 'description': 'Chocolate Cereal Bars'},
 {'code': 'A_FOOD_CHOCEREAL', 'description': 'Chocolate Cereal'},
 {'code': 'A_FOOD_CNDY', 'description': 'Candy'},
 {'code': 'A_FOOD_COFFEE', 'description': 'Coffee'},
 {'code': 'A_FOOD_DAIRY', 'description': 'Milk and other Dairy Foods'},
 {'code': 'A_FOOD_DESSERT', 'description': 'Desserts Without Chocolate'},
 {'code': 'A_FOOD_DRIEDFRUIT', 'description': 'Dried Fruits and Vegetables'},
 {'code': 'A_FOOD_FLOUR', 'description': 'Flour'},
 {'code': 'A_FOOD_MEATCHICKEN', 'description': 'Chicken or Other Meats'},
 {'code': 'A_FOOD_MISCBEVERAGE',
  'description': 'Carbonated Water or Other Non-Soda / Juice Drinks'},
 {'code': 'A_FOOD_NAAN', 'description': 'Naan'},
 {'code': 'A_FOOD_NCARBWTR', 'description': 'Non-Carbonated Water'},
 {'code': 'A_FOOD_OIL', 'description': 'Oils'},
 {'code': 'A_FOOD_PASTANOODLE', 'description': 'Pasta and Noodles'},
 {'code': 'A_FOOD_PASTRYCASE', 'description': 'Pastry'},
 {'code': 'A_FOOD_PLAINBISCUIT', 'description': 'Plain Biscuits'},
 {'code': 'A_FOOD_PLAINCRACKER', 'description': 'Plain Crackers'},
 {'code': 'A_FOOD_PLAINNUT', 'description': 'Plain Nuts'},
 {'code': 'A_FOOD_RICE', 'description': 'Rice'},
 {'code': 'A_FOOD_SEASONINGS',
  'description': 'Salt, Pepper, and other Seasonings'},
 {'code': 'A_FOOD_SNACK', 'description': 'Non-chocolate Snacks and Treats'},
 {'code': 'A_FOOD_SODAJUICE', 'description': 'Sodas and Juices'},
 {'code': 'A_FOOD_SPREAD', 'description': 'Spreadable Food'},
 {'code': 'A_FOOD_SWEETNER', 'description': 'Sugar and other Sweeteners'},
 {'code': 'A_FOOD_TEA', 'description': 'Tea'},
 {'code': 'A_FOOD_VEGETABLE',
  'description': 'Fresh or Frozen Fruits and Vegetables'},
 {'code': 'A_FOOD_PETFOOD', 'description': 'Food for Pets'},
 {'code': 'A_FOOD_ANIMALFOOD', 'description': 'Food for Farm Animals'},
 {'code': 'A_FOOD_ANIMALMED', 'description': 'Medicine for Farm Animals'},
 {'code': 'A_FOOD_ANIMALVITAMINS', 'description': 'Vitamins for Farm Animals'},
 {'code': 'A_HLTH_NUTRITIONBAR', 'description': 'Nutrition Bar'},
 {'code': 'A_HLTH_NUTRITIONDRINK', 'description': 'Nutrition Drink'},
 {'code': 'A_HLTH_PILLCAPSULETABLET', 'description': 'Pills and Capsules'},
 {'code': 'A_HLTH_SMOKINGCESSATION', 'description': 'Smoking Cessation Aids'},
 {'code': 'A_HLTH_SMOKINGGUM', 'description': 'Smoke Cessation Gum'},
 {'code': 'A_HLTH_VITAMINS', 'description': 'Vitamins and Minerals'},
 {'code': 'A_HPC_CONTRACEPTIVE',
  'description': 'Condoms and other Contraceptive Aids'},
 {'code': 'A_HPC_DIETARYSUPPL', 'description': 'Dietary Supplements'},
 {'code': 'A_HPC_INCONTINENCE',
  'description': 'Adult Diapers and Incontinence Aids'},
 {'code': 'A_HPC_MEDICINE', 'description': 'Other Medicines'},
 {'code': 'A_HPC_SANITARYPRODUCTS',
  'description': 'Female Hygienic and Other Sanitary Products'},
 {'code': 'A_HPC_WALKINGSTICK',
  'description': 'Walking Sticks and other Mobility Aids'},
 {'code': 'A_OUTDOOR_FERTILIZER', 'description': 'Plant Fertilizers'},
 {'code': 'A_OUTDOOR_LAWNCONTROL',
  'description': 'Insecticides, Herbicides, and Fungicides'},
 {'code': 'A_OUTDOOR_PLANTFOOD', 'description': 'Plant Food'},
 {'code': 'A_OUTDOOR_PLANTS', 'description': 'Plants'},
 {'code': 'A_OUTDOOR_SEEDS', 'description': 'Plant seeds'},
 {'code': 'A_BABY_BIBCLOTH', 'description': 'Baby Bib Cloth'},
 {'code': 'A_BABY_CARSEAT', 'description': 'Car Seats for Baby and Children'},
 {'code': 'A_BABY_NAPPIES',
  'description': "Baby or Children's Nappy or Diaper"},
 {'code': 'A_GEN_NOTAX', 'description': 'Outside the scope of VAT'}]

In [25]:
p1.children

'1'

In [26]:
import pandas as pd
file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/eu.csv'

df = pd.read_csv(file)

eu = EU.query.filter_by(id=1).first()

for row in range(len(df.index)):
    if bool(df.iloc[row]['eu_1']):
        country = Country.query.filter_by(code=df.iloc[row]['code']).first()
        eu.append(country)

In [5]:
#db.session.commit()

In [23]:
def get_transaction_input_identifier_from_amazon_df(df, i: int):
    try:
        account_public_id = TransactionInputService.get_str(df, i, column='UNIQUE_ACCOUNT_IDENTIFIER').upper()
        print(account_public_id)
        channel_code = TransactionInputService.get_str(df, i, column='SALES_CHANNEL').upper() # str #-->PlatformService.retrieve_account()
        print(channel_code)
        transaction_public_id = TransactionInputService.get_str(df, i, column='TRANSACTION_EVENT_ID') # str #-->transaction
        print(transaction_public_id)
        transaction_activity_id = TransactionInputService.get_str(df, i, column='ACTIVITY_TRANSACTION_ID')  # str #-->transaction --> becomes shipment_id/return_id , etc.
        print(transaction_activity_id)
        
        return account_public_id, channel_code, transaction_public_id, transaction_activity_id

    except:
        return None 
    
    
class TransactionInputService:
    @staticmethod
    def get_str(df, i:int, column:str) -> str:
        try:
            string = str(df.iloc[i][column])
        except:
            raise UnsupportedMediaType('Can not read date format.')
        return string

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/tm/Downloads/Dummy_csv.csv', encoding='latin-1')

In [101]:
df = pd.read_csv('/Users/tm/Downloads/Dummy_txt.txt', delimiter='\t')

In [3]:
datetime.utcnow()

datetime.datetime(2020, 5, 4, 9, 55, 34, 721865)

In [22]:
str(df.iloc[1]['TRANSACTION_EVENT_ID'])

'4776207619'

In [5]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4738902045,4738902045,NaN,31.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4776207619,4776207619,NaN,30.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701102862,4701102862,NaN,30.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def get_date_or_None(df, i:int, column:str):
    #date = datetime.strptime(df.iloc[i]['TRANSACTION_DEPART_DATE'], '%d-%m-%Y').date() if not pd.isnull(df.iloc[i]['TRANSACTION_DEPART_DATE']) else None
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
        except:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
            except:
                date = datetime.strptime(df.iloc[i][column], '%d.%m.%Y').date()
    return date

#to_datetime('13000101', format='%Y%m%d', errors='ignore')

In [7]:
def get_str_or_None(df, i:int, column:str):
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            string = str(df.iloc[i][column])
        except:
            raise UnsupportedMediaType('Can not read date format.')

    return string

In [9]:
for i in range(3):
    check_tax_calculation_date = get_date_or_None(df, i, column='TAX_CALCULATION_DATE')
    channel_code_upper = get_str_or_None(df, i, column='SALES_CHANNEL').upper()
    channel_code = get_str_or_None(df, i, column='SALES_CHANNEL')
    print(check_tax_calculation_date)
    print(channel_code_upper)
    print(channel_code)

None
AFN
AFN
None
AFN
AFN
None
AFN
AFN

In [10]:
class Input:
    def __init__(self,df, i):
        self.account_public_id = get_str_or_None(df, i, column='UNIQUE_ACCOUNT_IDENTIFIER').upper()
        self.public_activity_period = get_str_or_None(df, i, column='ACTIVITY_PERIOD').upper() # --> OUTPUT
        self.channel_code = get_str_or_None(df, i, column='SALES_CHANNEL').upper() # str #-->PlatformService.retrieve_account()
        self.marketplace_name = get_str_or_None(df, i, column='MARKETPLACE') # str #-->transaction
        self.transaction_type_public_code = get_str_or_None(df, i, column='TRANSACTION_TYPE') #-->TransactionService.retrieve_transaction_type()
        self.transaction_public_id = str(df.iloc[i]['TRANSACTION_EVENT_ID']) # str #-->transaction
        self.transaction_activity_id = str(df.iloc[i]['ACTIVITY_TRANSACTION_ID'])  # str #-->transaction --> becomes shipment_id/return_id , etc.

        self.check_tax_calculation_date = get_date_or_None(df, i, column='TAX_CALCULATION_DATE')
        self.shipment_date = get_date_or_None(df, i, column='TRANSACTION_DEPART_DATE')
        self.arrival_date = get_date_or_None(df, i, column='TRANSACTION_ARRIVAL_DATE')
        self.tax_date = get_date_or_None(df, i, column='TRANSACTION_COMPLETE_DATE')

        self.item_sku = str(df.iloc[i]['SELLER_SKU']) # str --> ItemService.retrieve_item() --> transaction
        self.item_name = str(df.iloc[i]['ITEM_DESCRIPTION']) #str
        self.item_manufacture_country = get_str_or_None(df, i, column='ITEM_MANUFACTURE_COUNTRY') #str/NoneType
        self.item_quantity = int(df.iloc[i]['QTY']) #-->transaction
        self.item_weight_kg = float(df.iloc[i]['ITEM_WEIGHT']) if not pd.isnull(df.iloc[i]['ITEM_WEIGHT']) else None #float/NoneType
        self.item_weight_kg_total = float(df.iloc[i]['TOTAL_ACTIVITY_WEIGHT']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_WEIGHT']) else None

        self.unit_cost_price_net = float(df.iloc[i]['COST_PRICE_OF_ITEMS']) if not pd.isnull(df.iloc[i]['COST_PRICE_OF_ITEMS']) else None

        self.check_item_price_discount_net = float(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.check_item_price_discount_vat = float(df.iloc[i]['PROMO_PRICE_OF_ITEMS_VAT_AMT']) if not pd.isnull(df.iloc[i]['PROMO_PRICE_OF_ITEMS_VAT_AMT']) else None
        self.item_price_discount_gross = float(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_INCL']) else None #-->transaction

        self.check_item_price_net = float(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.check_item_price_vat = float(df.iloc[i]['PRICE_OF_ITEMS_VAT_AMT']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.item_price_gross = float(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None #-->transaction

        self.check_item_price_total_net = float(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.check_item_price_total_vat = float(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_VAT_AMT']) else None
        self.item_price_total_gross = float(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_INCL']) else None #-->transaction

        self.check_item_price_tax_rate_rate = float(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) else None

        self.check_shipment_price_discount_net = float(df.iloc[i]['PROMO_SHIP_CHARGE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_shipment_price_discount_vat = float(df.iloc[i]['PROMO_SHIP_CHARGE_VAT_AMT']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.shipment_price_discount_gross = float(df.iloc[i]['PROMO_SHIP_CHARGE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None #-->transaction

        self.check_shipment_price_net = float(df.iloc[i]['SHIP_CHARGE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_AMT_VAT_EXCL']) else None
        self.check_shipment_price_vat = float(df.iloc[i]['SHIP_CHARGE_VAT_AMT']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_VAT_AMT']) else None
        self.shipment_price_gross = float(df.iloc[i]['SHIP_CHARGE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_AMT_VAT_INCL']) else None #-->transaction

        self.check_shipment_price_total_net = float(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_EXCL']) else None
        self.check_shipment_price_total_vat = float(df.iloc[i]['TOTAL_SHIP_CHARGE_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_SHIP_CHARGE_VAT_AMT']) else None
        self.shipment_price_total_gross = float(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_INCL']) else None #-->transaction

        self.check_shipment_price_tax_rate_rate = float(df.iloc[i]['SHIP_CHARGE_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_VAT_RATE_PERCENT']) else None

        self.check_sale_total_value_net = float(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_EXCL']) else None
        self.check_sale_total_value_vat = float(df.iloc[i]['TOTAL_ACTIVITY_VALUE_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_VALUE_VAT_AMT']) else None
        self.sale_total_value_gross = float(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_discount_net = float(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_gift_wrap_price_discount_vat = float(df.iloc[i]['PROMO_GIFT_WRAP_VAT_AMT']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_VAT_AMT']) else None
        self.gift_wrap_price_discount_gross = float(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_net = float(df.iloc[i]['GIFT_WRAP_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_gift_wrap_price_vat = float(df.iloc[i]['GIFT_WRAP_VAT_AMT']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_VAT_AMT']) else None
        self.gift_wrap_price_gross = float(df.iloc[i]['GIFT_WRAP_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_total_net = float(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_gift_wrap_price_total_vat = float(df.iloc[i]['TOTAL_GIFT_WRAP_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_GIFT_WRAP_VAT_AMT']) else None
        self.gift_wrap_price_total_gross = float(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_tax_rate = float(df.iloc[i]['GIFT_WRAP_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_VAT_RATE_PERCENT']) else None


        self.currency_code = get_str_or_None(df, i, column='TRANSACTION_CURRENCY_CODE') #str/NoneType

        self.check_item_tax_code_code = get_str_or_None(df, i, column='PRODUCT_TAX_CODE') #str/NoneType


        self.departure_country_code = str(df.iloc[i]['DEPARTURE_COUNTRY']) #str
        self.departure_postal_code = str(df.iloc[i]['DEPARTURE_POST_CODE']) #str
        self.departure_city = str(df.iloc[i]['DEPATURE_CITY']) #str

        self.arrival_country_code = str(df.iloc[i]['ARRIVAL_COUNTRY']) #str
        self.arrival_postal_code = str(df.iloc[i]['ARRIVAL_POST_CODE']) #str
        self.arrival_city = str(df.iloc[i]['ARRIVAL_CITY']) #str
        self.arrival_address = str(df.iloc[i]['ARRIVAL_ADDRESS']) if not pd.isnull(df.iloc[i]['ARRIVAL_ADDRESS']) else None #str/NoneType

        self.shipment_mode = str(df.iloc[i]['TRANSPORTATION_MODE']) if not pd.isnull(df.iloc[i]['TRANSPORTATION_MODE']) else None #str/NoneType
        self.shipment_conditions = str(df.iloc[i]['DELIVERY_CONDITIONS']) if not pd.isnull(df.iloc[i]['DELIVERY_CONDITIONS']) else None #str/NoneType


        self.check_departure_seller_vat_country_code = get_str_or_None(df, i, column='SELLER_DEPART_VAT_NUMBER_COUNTRY')
        self.check_departure_seller_vat_number = get_str_or_None(df, i, column='SELLER_DEPART_COUNTRY_VAT_NUMBER')

        self.check_arrival_seller_vat_country_code = get_str_or_None(df, i, column='SELLER_ARRIVAL_VAT_NUMBER_COUNTRY')
        self.check_arrival_seller_vat_number = get_str_or_None(df, i, column='SELLER_ARRIVAL_COUNTRY_VAT_NUMBER')

        self.check_seller_vat_country_code = get_str_or_None(df, i, column='TRANSACTION_SELLER_VAT_NUMBER_COUNTRY')
        self.check_seller_vat_number = get_str_or_None(df, i, column='TRANSACTION_SELLER_VAT_NUMBER')


        self.check_tax_calculation_imputation_country = get_str_or_None(df, i, column='VAT_CALCULATION_IMPUTATION_COUNTRY')
        self.check_tax_jurisdiction = get_str_or_None(df, i, column='TAXABLE_JURISDICTION')
        self.check_tax_jurisdiction_level = get_str_or_None(df, i, column='TAXABLE_JURISDICTION_LEVEL')

        self.invoice_number = get_str_or_None(df, i, column='VAT_INV_NUMBER')
        self.check_invoice_amount_vat = float(df.iloc[i]['VAT_INV_CONVERTED_AMT'])
        self.check_invoice_currency_code = get_str_or_None(df, i, column='VAT_INV_CURRENCY_CODE')
        self.check_invoice_exchange_rate = float(df.iloc[i]['VAT_INV_EXCHANGE_RATE']) if not pd.isnull(df.iloc[i]['VAT_INV_EXCHANGE_RATE']) else None
        self.check_invoice_exchange_rate_date = get_date_or_None(df, i, column='VAT_INV_EXCHANGE_RATE_DATE')
        self.invoice_url = str(df.iloc[i]['INVOICE_URL']) if not pd.isnull(df.iloc[i]['INVOICE_URL']) else None


        self.check_export = get_str_or_None(df, i, column='EXPORT_OUTSIDE_EU')  #str #-->transaction

        self.customer_name = get_str_or_None(df, i, column='BUYER_NAME')
        self.customer_vat_number = get_str_or_None(df, i, column='BUYER_VAT_NUMBER')
        self.customer_vat_number_country_code = get_str_or_None(df, i, column='BUYER_VAT_NUMBER_COUNTRY')

        self.supplier_vat_number = get_str_or_None(df, i, column='SUPPLIER_VAT_NUMBER') # #NoneType/str object #-->transaction
        self.supplier_name = get_str_or_None(df, i, column='SUPPLIER_NAME') #NoneType/str object #-->transaction

In [54]:
validity_dict_customer=[]

customer_vat_number_country_code = 'FR'
customer_vat_number = '17850992868' 
result = check_data(customer_vat_number_country_code, customer_vat_number)
print(customer_vat_number_country_code)
print(customer_vat_number)
print(result)
print("")
validity_dict_customer.append(None if None else bool(result.valid))

Forcing soap:address location to HTTPS

FR
17850992868
{
    'countryCode': 'FR',
    'vatNumber': '17850992868',
    'requestDate': datetime.date(2020, 4, 30),
    'valid': True,
    'name': 'STE ON LINE DESK S.A.',
    'address': 'RUE FERRAZ 28\n99999 28008 MADRID'
}

In [45]:
validity_dict_customer

In [68]:
date = date.today()
vobjects = VOBject.query.filter(VOBject.valid_from<=date + timedelta(days=200), VOBject.valid_to>=date + timedelta(days=500)).all()

In [103]:
date= None
check_date(date)

'Hello, world.'

In [91]:
transaction_date = date.today() - timedelta(days=200) 
#print (transaction_date)

check_scope = date.today() - timedelta(days=100)
#print(check_until_here)
check_scope <= transaction_date

#date.today() + timedelta(days=1) < date.today()

False

In [2]:
class VOBject(db.Model):
    __tablename__ = 'v_object'
    
    id = db.Column(db.Integer, primary_key=True)
    valid_from = db.Column(db.Date, nullable=True)
    valid_to = db.Column(db.Date, nullable=False)
    
    def __init__(self, valid_from, valid_to):
        self.valid_from=valid_from
        self.valid_to = valid_to

In [5]:
v1 = VOBject(valid_from=None, valid_to=date.today())

db.session.add(v1)
db.session.commit()

In [7]:
v1.valid_to

datetime.date(2020, 5, 1)

In [3]:
db.create_all()

In [28]:
test_dict = {
    'a' : 1,
    'b' : 2
}

In [78]:
'a' not in test_dict

False

In [74]:
date1 = date.today()
date2 = date1 + timedelta(days=20)

print(date1)
print(date2)
max(date1, date2)

2020-05-01
2020-05-21

datetime.date(2020, 5, 21)

In [62]:
def create_vobject(date, **kwargs: date) -> VOBject:
    if not 'valid_from' in kwargs:
        valid_from = date
    else:
        valid_from=kwargs['valid_from']

    if not 'valid_to' in kwargs:
        valid_to = date.today() + timedelta(days=1)
    else:
        valid_to=kwargs['valid_to']

    new_vobject = VOBject(
        valid_from=valid_from,
        valid_to=valid_to
        )

    db.session.add(new_vobject)
    db.session.commit()

In [11]:
vobject1 = VOBject(valid_from=date.today(), valid_to=date.today() + timedelta(days=1))
vobject2 = VOBject( valid_from=date.today(), valid_to=date.today() + timedelta(days=2))
vobject3 = VOBject(valid_from=date.today(), valid_to=date.today() + timedelta(days=2))

In [63]:
#vobject4 = create_vobject(date)
vobject5 = create_vobject(date, valid_from=date.today() + timedelta(400))

In [6]:
db.session.add(vobject1)
db.session.add(vobject2)
db.session.add(vobject3)
db.session.commit()

In [29]:
class InputService:

    @staticmethod
    def get_date_or_None(df, i:int, column:str):
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
            except:
                try:
                    date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
                except:
                    raise UnsupportedMediaType('Can not read date format.')
        return date

    @staticmethod
    def get_str_or_None(df, i:int, column:str):
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                string = str(df.iloc[i][column])
            except:
                raise UnsupportedMediaType('Can not read date format.')

        return string

In [32]:
from zeep import Client
def check_data(country_code, number):
    """VIES API response data."""
    client = Client(VIES_WSDL_URL)
    try:
        return client.service.checkVat(country_code, number)
        time.sleep(0.2)
    except Exception as e:
        logger.exception(e)
        return False

In [34]:
import time


def func(a,b):
    print(a+b)
    time.sleep(0.2)

df.head()

In [ ]:
def create_check_list_from_input(input: Input):
    vat_data_customer = [input.customer_vat_number_country_code, input.customer_vat_number]
    vat_data_departure_seller = [input.check_departure_seller_vat_country_code, input.check_departure_seller_vat_number]
    vat_data_arrival_seller = [input.check_arrival_seller_vat_country_code, input.check_arrival_seller_vat_number]
    vat_data_seller = [input.check_seller_vat_country_code, input.check_seller_vat_number]

    vat_data_list = [vat_data_customer, vat_data_departure_seller, vat_data_arrival_seller, vat_data_seller]

    return vat_data_list

{'a': 5, 'b': 6}

In [16]:

def check_valid(country_code, number, tax_date):
    
    vat = vat_precheck(country_code, number)
    if vat:
        vatin = VATIN.query.filter(VATIN.country_code==country_code, VATIN.number==number, VATIN.initial_transaction_date<=date, VATIN.valid_to>=date)
        if vatin:
            valid = vatin.valid
        else:
            valid = is_valid(country_code, number, date=tax_date)

        return valid
    else:
        return False


def vat_precheck(country_code, number):
    
    if not number:
        return None
    
    elif not re.match(r"^[a-zA-Z]", number):
        vat = [country_code, number]

    elif country_code == number[:2].strip():
        vat = [country_code, number]

    else: 
        print("country codes dont match. Proceeding with country code from VAT Number.")
        country_code = number[:2].strip()
        number = number[2:].strip()
        vat = [country_code, number]
            
    return vat

In [31]:
import re
def dk_format(v):
    return "{} {} {} {}".format(v[:4], v[4:6], v[6:8], v[8:10])


def gb_format(v):
    if len(v) == 11:
        return "{} {} {}".format(v[:5], v[5:9], v[9:11])
    if len(v) == 14:
        return "{} {}".format(gb_format(v[:11]), v[11:14])
    return v


def fr_format(v):
    return "{} {}".format(v[:4], v[4:])

VIES_WSDL_URL = (
    "https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl"  # NoQA
)
VATIN_MAX_LENGTH = 14

VIES_OPTIONS = {
    "AT": ("Austria", re.compile(r"^ATU\d{8}$")),
    "BE": ("Belgium", re.compile(r"^BE0?\d{9}$")),
    "BG": ("Bulgaria", re.compile(r"^BG\d{9,10}$")),
    "HR": ("Croatia", re.compile(r"^HR\d{11}$")),
    "CY": ("Cyprus", re.compile(r"^CY\d{8}[A-Z]$")),
    "CZ": ("Czech Republic", re.compile(r"^CZ\d{8,10}$")),
    "DE": ("Germany", re.compile(r"^DE\d{9}$")),
    "DK": ("Denmark", re.compile(r"^DK\d{8}$"), dk_format),
    "EE": ("Estonia", re.compile(r"^EE\d{9}$")),
    "EL": ("Greece", re.compile(r"^EL\d{9}$")),
    "ES": ("Spain", re.compile(r"^ES[A-Z0-9]\d{7}[A-Z0-9]$")),
    "FI": ("Finland", re.compile(r"^FI\d{8}$")),
    "FR": ("France", re.compile(r"^FR[A-HJ-NP-Z0-9][A-HJ-NP-Z0-9]\d{9}$"), fr_format),
    "GB": (
        "United Kingdom",
        re.compile(r"^(GB(GD|HA)\d{3}|GB\d{9}|GB\d{12})$"),
        gb_format,
    ),
    "HU": ("Hungary", re.compile(r"^HU\d{8}$")),
    "IE": ("Ireland", re.compile(r"^IE\d[A-Z0-9\+\*]\d{5}[A-Z]{1,2}$")),
    "IT": ("Italy", re.compile(r"^IT\d{11}$")),
    "LT": ("Lithuania", re.compile(r"^LT(\d{9}|\d{12})$")),
    "LU": ("Luxembourg", re.compile(r"^LU\d{8}$")),
    "LV": ("Latvia", re.compile(r"^LV\d{11}$")),
    "MT": ("Malta", re.compile(r"^MT\d{8}$")),
    "NL": ("The Netherlands", re.compile(r"^NL\d{9}B\d{2}$")),
    "PL": ("Poland", re.compile(r"^PL\d{10}$")),
    "PT": ("Portugal", re.compile(r"^PT\d{9}$")),
    "RO": ("Romania", re.compile(r"^RO\d{2,10}$")),
    "SE": ("Sweden", re.compile(r"^SE\d{10}01$")),
    "SI": ("Slovenia", re.compile(r"^SI\d{8}$")),
    "SK": ("Slovakia", re.compile(r"^SK\d{10}$")),
}

VIES_COUNTRY_CHOICES = sorted(
    (("", "--"),) + tuple((key, key) for key, value in VIES_OPTIONS.items())
)

MEMBER_COUNTRY_CODES = VIES_OPTIONS.keys()

In [3]:
from werkzeug.exceptions import HTTPException
from werkzeug.utils import cached_property
from zeep import Client

              

class VATIN(object):
    """Object wrapper for the european VAT Identification Number."""

    def __init__(self, country_code, number):
        self.country_code = country_code
        self.number = number

    def __str__(self):
        unformated_number = "{country_code}{number}".format(
            country_code=self.country_code, number=self.number,
        )

        country = VIES_OPTIONS.get(self.country_code, {})
        if len(country) == 3:
            return country[2](unformated_number)
        return unformated_number

    def __repr__(self):
        return "<VATIN {}>".format(self.__str__())

    @property
    def country_code(self):
        return self._country_code

    @country_code.setter
    def country_code(self, value):
        self._country_code = value.upper()

    @property
    def number(self):
        return self._number

    @number.setter
    def number(self, value):
        self._number = value.upper().replace(" ", "")


    @cached_property
    def data(self):
        """VIES API response data."""
        client = Client(VIES_WSDL_URL)
        try:
            return client.service.checkVat(self.country_code, self.number)
        except Exception as e:
            logger.exception(e)
            raise

    def is_valid(self):
        try:
            self.verify()
            self.validate()
        except HTTPException:
            return False
        else:
            return True

    def verify_country_code(self):
        if not re.match(r"^[a-zA-Z]", self.country_code):
            msg ="{} is not a valid ISO_3166-1 country code.".format(self.country_code)
            raise HTTPException(msg)
            return msg
        elif self.country_code not in MEMBER_COUNTRY_CODES:
            msg ="{} is not a European member state.".format(self.country_code)
            raise HTTPException(msg)
            #return msg

    def verify_regex(self):
        country = dict(
            map(
                lambda x, y: (x, y),
                ("country", "validator", "formatter"),
                VIES_OPTIONS[self.country_code],
            )
        )
        if not country["validator"].match("{}{}".format(self.country_code, self.number)):
            msg ="{} does not match the country's VAT ID specifications.".format(self.country_code)
            raise HTTPException(msg)
            #return msg

    def verify(self):
        self.verify_country_code()
        self.verify_regex()

    def validate(self):
        if not self.data.valid:
            msg ="{} is not a valid VATIN.".format(self.country_code)
            raise HTTPException(msg)
            #return msg

    @classmethod
    def from_str(cls, value):
        """Return a VATIN object by given string."""
        return cls(value[:2].strip(), value[2:].strip())

In [14]:
date = date.today()
value = 'DE190200766'
#value = 'IT190200766_false'
country_code = value[:2].strip()
number = value[2:].strip()

In [15]:
check = is_valid(country_code, number)

NameError: name 'is_valid' is not defined

In [101]:
check

True

In [ ]:
def is_valid(country_code, number, date):
    if vatin:
        return vatin.valid
    else:
        try:
            verify(country_code, number)
            validate(country_code, number)
        except HTTPException:
            return False
        else:
            return True

In [13]:
class VATIN(db.Model):
    """ VATIN model """
    __tablename__ = "vatin"

    id = db.Column(db.Integer, primary_key=True)
    valid_from = db.Column(db.Date, nullable=False)
    valid_to = db.Column(db.Date, default=date.today() + timedelta(days=3))
    _country_code = db.Column(db.String(4), nullable=False)
    _number = db.Column(db.String(4), nullable=False)
    valid = db.Column(db.Boolean, nullable=False)

    def __init__(self, **kwargs):
        super(VATIN, self).__init__(**kwargs)
        self.country_code = country_code
        self.number = number
        self.valid = valid


    # https://www.python-course.eu/python3_properties.php
    @property
    def country_code(self):
        return self._country_code

    @country_code.setter
    def country_code(self, value):
        self._country_code = value.upper()

    @property
    def number(self):
        return self._number

    @number.setter
    def number(self, value):
        self._number = value.upper().replace(" ", "")



    def __str__(self):
        unformated_number = "{country_code}{number}".format(
            country_code=self.country_code, number=self.number,
        )

        country = VIES_OPTIONS.get(self.country_code, {})
        if len(country) == 3:
            return country[2](unformated_number)
        return unformated_number

    def __repr__(self):
        return "<VATIN {}>".format(self.__str__())

In [84]:


def verify(country_code, number):
    verify_country_code(country_code)
    verify_regex(country_code, number)


def validate(country_code, number):
    valid = request_validity(country_code, number)
    if not valid:
        msg ="{} is not a valid VATIN.".format(country_code)
        raise HTTPException(msg)
        return msg

In [85]:
def request_validity(country_code, number):
        """VIES API response data."""
        client = Client(VIES_WSDL_URL)
        try:
            return client.service.checkVat(country_code, number)
        except Exception as e:
            logger.exception(e)
            return False

In [86]:
def verify_country_code(country_code):
    if not re.match(r"^[a-zA-Z]", country_code):
        msg ="{} is not a valid ISO_3166-1 country code.".format(country_code)
        raise HTTPException(msg)
        return msg
    elif country_code not in MEMBER_COUNTRY_CODES:
            msg ="{} is not a European member state.".format(country_code)
            raise HTTPException(msg)
            return msg

def verify_regex(country_code, number):
        country = dict(
            map(
                lambda x, y: (x, y),
                ("country", "validator", "formatter"),
                VIES_OPTIONS[country_code],
            )
        )
        if not country["validator"].match("{}{}".format(country_code, number)):
            msg ="{} does not match the country's VAT ID specifications.".format(country_code)
            raise HTTPException(msg)
            return msg

In [18]:
not re.match(r"^[a-zA-Z]", number)

True

'190200766'

'DE'

In [117]:
vat.data

{
    'countryCode': 'DE',
    'vatNumber': '190200766',
    'requestDate': datetime.date(2020, 4, 15),
    'valid': True,
    'name': '---',
    'address': '---'
}

In [119]:
print(vat.country_code)
print(vat.number)

DE
190200766

In [120]:
vat.verify_regex()

In [100]:
country = dict(
            map(
                lambda x, y: (x, y),
                ("country", "validator", "formatter"),
                VIES_OPTIONS[vat.country_code],
            )
        )

In [121]:
country

{'country': 'Spain',
 'validator': re.compile(r'^ES[A-Z0-9]\d{7}[A-Z0-9]$', re.UNICODE)}

In [122]:
def verify_country_code(self):
    if not re.match(r"^[a-zA-Z]", self.country_code):
        msg ="{} is not a valid ISO_3166-1 country code.".format(self.country_code)
        raise HTTPException(msg)
    elif self.country_code not in MEMBER_COUNTRY_CODES:
        msg ="{} is not a european member state.".format(self.country_code)
        raise HTTPException(msg)

In [125]:
vat.verify_country_code()

In [126]:
def from_str(value):
        """Return a VATIN object by given string."""
        return (value[:2].strip(), value[2:].strip())

In [127]:
from_str('DE190200766')

('DE', '190200766')

In [258]:
import datetime

today = datetime.date.today()

In [259]:
today

datetime.date(2020, 4, 16)

In [268]:
# Retrieve daily exchange rate and add to csv file
def daily_ecb_exchange_rate():
    #df = pd.read_csv(filepath, sep=',')
    daily_rate_dict = {}

    #get exchange rate data
    import requests
    r = requests.get(
        'http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml', stream=True)
    from xml.etree import ElementTree as ET
    tree = ET.parse(r.raw)
    root = tree.getroot()
    namespaces = {'ex': 'http://www.ecb.int/vocabulary/2002-08-01/eurofxref'}
    for cube in root.findall('.//ex:Cube[@currency]', namespaces=namespaces):
        # data is added to dict
        daily_rate_dict[str(cube.attrib['currency'])] = cube.attrib['rate']
    #daily_rate_dict['Date'] = datetime.date.today().strftime("%d.%m.%y")
    return daily_rate_dict
    
    #dict is used for new df row
    #new_row = pd.DataFrame(data=daily_rate_dict, index=[0])

    #append row to the dataframe
    #df = pd.concat([new_row, df], sort=False).reset_index(drop=True)

    #move 'Date' column to front
    #cols = list(df)
    #cols.insert(0, cols.pop(cols.index('Date')))
    #df = df.loc[:, cols]

    #write new df into csv_file
    #df.to_csv(filepath, index=False)

In [269]:
daily_rate_dict = daily_ecb_exchange_rate()

In [282]:
daily_rate_dict['CZK']

'26.991'

In [6]:
db.drop_all()

In [51]:
class ExchangeRateCollection(db.Model):
    """ ExchangeRates parent_model """
    __tablename__ = "exchange_rate_collection"
    id = db.Column(db.Integer, primary_key=True)
    date = db.Column(db.Date, default=datetime.date.today)
    created_on = db.Column(db.DateTime, default=datetime.datetime.utcnow)
    exchange_rates_eur = db.relationship(
        'ExchangeRatesEUR', backref='exchange_rate_collection', lazy=True)
    exchange_rates_gbp = db.relationship(
        'ExchangeRatesGBP', backref='exchange_rate_collection', lazy=True)
    exchange_rates_czk = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)
    exchange_rates_czk = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)


    def __init__(self, **kwargs):
        super(ExchangeRateCollection, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRates: %r>' % self.date



    discriminator = db.Column('exchange_rates_currency', db.String(50))
    __mapper_args__ = {'polymorphic_on': discriminator}

class ExchangeRatesCURRENCY(db.Model):
    """ ExchangeRates BASE model """
    __tablename__ = "exchange_rates"
    id = db.Column(db.Integer, primary_key=True)
    source = db.Column(db.String(32), default="ECB")
    created_on = db.Column(db.DateTime, default=datetime.datetime.utcnow)
    exchange_rate_collection_id = db.Column(db.Integer, db.ForeignKey('exchange_rate_collection.id'),
                                            nullable=False)
    eur = db.Column(db.Numeric(scale=8))
    gbp = db.Column(db.Numeric(scale=8))
    czk = db.Column(db.Numeric(scale=8))
    pln = db.Column(db.Numeric(scale=8))

    discriminator = db.Column('exchange_rates_base', db.String(32))
    __mapper_args__ = {'polymorphic_on': discriminator}


class ExchangeRatesEUR(ExchangeRatesCURRENCY):
    """ ExchangeRates EUR model """
    __tablename__ = "exchange_rates_eur"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_eur'}

    exchange_rates_eur_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                         primary_key=True)

    def __init__(ExchangeRatesEUR, **kwargs):
        super(ExchangeRatesEUR, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesEUR: %r>' % self.exchange_rate_collection.date


class ExchangeRatesGBP(ExchangeRatesCURRENCY):
    """ ExchangeRates GPB model """
    __tablename__ = "exchange_rates_gbp"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_gbp'}

    exchange_rates_gbp_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                                      primary_key=True)

    def __init__(ExchangeRatesGBP, **kwargs):
        super(ExchangeRatesGBP, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesGBP: %r>' % self.exchange_rate_collection.date


class ExchangeRatesCZK(ExchangeRatesCURRENCY):
    """ ExchangeRates CZK model """
    __tablename__ = "exchange_rates_czk"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_czk'}

    exchange_rates_czk_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                                      primary_key=True)

    def __init__(ExchangeRatesCZK, **kwargs):
        super(ExchangeRatesCZK, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesCZK: %r>' % self.exchange_rate_collection.date


class ExchangeRatesPLN(ExchangeRatesCURRENCY):
    """ ExchangeRates PLN model """
    __tablename__ = "exchange_rates_pln"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_pln'}

    exchange_rates_pln_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                                      primary_key=True)

    def __init__(ExchangeRatesPLN, **kwargs):
        super(ExchangeRatesPLN, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesPLN: %r>' % self.exchange_rate_collection.date

In [52]:
from werkzeug.exceptions import InternalServerError

class ExchangeRatesService:

    @staticmethod
    def retrieve_ecb_exchange_rates():
        #df = pd.read_csv(filepath, sep=',')
        exchange_rate_dict = {}

        #get exchange rate data
        import requests
        r = requests.get(
            'http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml', stream=True)
        from xml.etree import ElementTree as ET
        tree = ET.parse(r.raw)
        root = tree.getroot()
        namespaces = {
            'ex': 'http://www.ecb.int/vocabulary/2002-08-01/eurofxref'}
        for cube in root.findall('.//ex:Cube[@currency]', namespaces=namespaces):
            # data is added to dict
            exchange_rate_dict[str(cube.attrib['currency'])] = cube.attrib['rate']
        #daily_rate_dict['Date'] = datetime.date.today().strftime("%d.%m.%y")
        return exchange_rate_dict


    def create_exchange_rate_collection(date) -> ExchangeRateCollection:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(date=date).first()

        if not exchange_rate_collection:
            #create new exchange_rate_collection based on TaxAuditor model
            new_exchange_rate_collection = ExchangeRateCollection(
                date=date,
                created_on=datetime.datetime.utcnow()
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rate_collection)
            db.session.commit()

            return new_exchange_rate_collection


    def create_exchange_rates_EUR(date) -> ExchangeRatesEUR:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
            date=date).first()

        if exchange_rate_collection:

            #api call to ECB
            exchange_rate_dict = ExchangeRatesService.retrieve_ecb_exchange_rates()

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1.0000,
                gbp=exchange_rate_dict['GBP'],
                czk=exchange_rate_dict['CZK'],
                pln=exchange_rate_dict['PLN']
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_EUR)
            db.session.commit()

            return new_exchange_rates_EUR

        else:
            response_object = {
                'status' : 'error',
                'message': 'The corresponding exchange rate collection can not be found.'
            }
            raise InternalServerError(response_object)


    def create_exchange_rates_GBP(date) -> ExchangeRatesGBP:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
                date=date).first()

        exchange_rates_EUR = ExchangeRatesEUR.query.filter_by(
                exchange_rate_collection_id=exchange_rate_collection.id)

        if exchange_rate_collection and exchange_rates_EUR:

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1/exchange_rates_EUR.gbp,
                gbp=1.0000,
                czk=eur * exchange_rates_EUR.czk,
                pln=eur * exchange_rates_EUR.pln
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_GBP)
            db.session.commit()

            return new_exchange_rates_GBP

        else:
            response_object = {
                'status': 'error',
                'message': 'An error occured.'
            }
            raise InternalServerError(response_object)


    def create_exchange_rates_CZK(date) -> ExchangeRatesCZK:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
            date=date).first()

        exchange_rates_EUR = ExchangeRatesEUR.query.filter_by(
            exchange_rate_collection_id=exchange_rate_collection.id)

        if exchange_rate_collection and exchange_rates_EUR:

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1/exchange_rates_EUR.czk,
                gbp=eur * exchange_rates_EUR.gbp,
                czk=1.0000,
                pln=eur * exchange_rates_EUR.pln
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_CZK)
            db.session.commit()

            return new_exchange_rates_CZK

        else:
            response_object = {
                'status': 'error',
                'message': 'An error occured.'
            }
            raise InternalServerError(response_object)

    def create_exchange_rates_PLN(date) -> ExchangeRatesPLN:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
            date=date).first()

        exchange_rates_EUR = ExchangeRatesEUR.query.filter_by(
            exchange_rate_collection_id=exchange_rate_collection.id)

        if exchange_rate_collection and exchange_rates_EUR:

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1/exchange_rates_EUR.pln,
                gbp=eur * exchange_rates_EUR.gbp,
                czk=eur * exchange_rates_EUR.czk,
                pln=1.0000
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_PLN)
            db.session.commit()

            return new_exchange_rates_PLN

        else:
            response_object = {
                'status': 'error',
                'message': 'An error occured.'
            }
            raise InternalServerError(response_object)

In [53]:
db.create_all()
date = datetime.date.today()
exchange_rate_collection = ExchangeRatesService.create_exchange_rate_collection(date)
ExchangeRatesService.create_exchange_rates_EUR(date)
ExchangeRatesService.create_exchange_rates_GBP(date)
ExchangeRatesService.create_exchange_rates_CZK(date)
ExchangeRatesService.create_exchange_rates_PLN(date)

NameError: name 'self' is not defined

In [59]:
exchange_rate_collection.date

datetime.date(2020, 4, 16)

In [60]:
exchange_rate_collection = ExchangeRateCollection.query.filter_by(date=date).first()

In [61]:
exchange_rate_collection.id

1

In [110]:
test()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [99]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4738902045,4738902045,NaN,31-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4776207619,4776207619,NaN,30-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701102862,4701102862,NaN,30-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
from datetime import datetime

In [100]:
date_str = df.iloc[5]['TRANSACTION_DEPART_DATE']

date_object = datetime.strptime(date_str, '%d-%m-%Y').date()

In [101]:
date_object

datetime.date(2018, 8, 30)

In [111]:
export = not bool(pd.isnull(df.iloc[5]['EXPORT_OUTSIDE_EU']))

In [139]:
channel_code = str(df.iloc[5]['TRANSACTION_EVENT_ID']).upper()

In [176]:
for i in range(100):
    #tax_calculation_date = datetime.strptime(df.iloc[i]['TAX_CALCULATION_DATE'], '%d-%m-%Y').date() if type(df.iloc[i]['TAX_CALCULATION_DATE']) == str else None
    #if not type(df.iloc[i]['TAX_CALCULATION_DATE']) == str or not type(type(df.iloc[i]['TAX_CALCULATION_DATE']) == float):
     #   print(df.iloc[i]['TAX_CALCULATION_DATE'])
        #print(type(df.iloc[i]['TAX_CALCULATION_DATE']))
    if not type(df.iloc[i]['TAX_CALCULATION_DATE']) == str and not type(df.iloc[i]['TAX_CALCULATION_DATE']) == float:
        print(df.iloc[i]['TAX_CALCULATION_DATE'])
        print(type(df.iloc[i]['TAX_CALCULATION_DATE']))

In [214]:
#for i in range(10,25):
    #departure_seller_vat_number = str(df.iloc[i]['SELLER_DEPART_VAT_NUMBER']) if not pd.isnull(df.iloc[i]['SELLER_DEPART_VAT_NUMBER']) else None
    #arrival_date = datetime.strptime(str(df.iloc[i]['TRANSACTION_ARRIVAL_DATE']), '%d-%m-%Y').date() if type(df.iloc[i]['TRANSACTION_ARRIVAL_DATE']) == str else None #datetime.date object #-->transaction
 #   print(df.iloc[i]['SELLER_DEPART_VAT_NUMBER'])
  #  print(type(df.iloc[i]['SELLER_DEPART_VAT_NUMBER']))
   # print("")

In [46]:
df = pd.read_csv('/Users/tm/Downloads/Dummy_txt.txt', encoding='latin-1', delimiter='\t')
#df = pd.read_csv('/Users/tm/Downloads/THOMAS/02_Monthly_Data/Sales_Tax_Transaction_Reports/Sales_Tax_Transaction_Report_M-2019-06.txt', encoding='latin-1', delimiter='\t') 
for i in range(25):
    print(float(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) else None)

None
None
None
None
None
None
0.19
None
0.19
0.19
0.19
0.19
0.19
0.19
0.19
0.23
None
None
0.19
0.19
0.19
0.19
0.19
0.19
0.2

Does not exist

'None is a and 5 is b'

In [71]:
a = 5
b = 1
5 or 1
#True if ( b==1 and a == (2 or 3 or 5)) else False

5

In [65]:
default=datetime.date.today()

In [56]:
exchange_rate_date = default - datetime.timedelta(days=1)

In [57]:
exchange_rate_date

datetime.date(2020, 4, 27)

datetime.date(2020, 4, 27)

In [3]:
class Currency(db.Model):  # type: ignore
    """ Currency model """
    __tablename__ = "currency"

    code = db.Column(db.String(4), primary_key=True)
    country_codes = db.relationship('Country', backref='currency', lazy=True)
    

    def __init__(self, **kwargs):
        super(Currency, self).__init__(**kwargs)

    def __repr__(self):
        return '<Currency: {}>'.format(self.code)


class TaxRateType(db.Model):  # type: ignore
    """ TaxRateType model, e.g. R, R2, Z, S """
    __tablename__ = "tax_rate_type"

    code = db.Column(db.String(8), primary_key=True)
    description = db.Column(db.String(256), default=None)
    tax_rates = db.relationship('TaxRate', backref='tax_rate_type', lazy=True)


    def __init__(self, **kwargs):
        super(TaxRateType, self).__init__(**kwargs)

    def __repr__(self):
        return '<TaxRateType: {}'.format(self.code)


class Country(db.Model):  # type: ignore
    """ Country model """
    __tablename__ = "country"

    code = db.Column(db.String(4), primary_key=True)
    id = db.Column(db.Integer, autoincrement=True)
    country_name = db.Column(db.String(40), nullable=False)
    
    
    currency_code = db.Column(db.String(8), db.ForeignKey('currency.code'))
    tax_rates = db.relationship('TaxRate', backref='country')


    def __init__(self, **kwargs):
        super(Country, self).__init__(**kwargs)

    def __repr__(self):
        return '<Country: {}>'.format(self.code)


class TaxCode(db.Model):  # type: ignore
    """ Item tax_code, e.g. A_GEN_STANDARD """
    __tablename__ = "tax_code"

    code = db.Column(db.String(8), primary_key=True)
    description = db.Column(db.String(64))
    tax_rates = db.relationship('TaxRate', backref='tax_code')

    
    def __init__(self, **kwargs):
        super(TaxCode, self).__init__(**kwargs)

    def __repr__(self):
        return '<TaxCode:{} valid from:{}>'.format(self.code, self.description)

    
class TaxRate(db.Model):  # type: ignore
    """ TaxRate model, e.g. rate: 0.2 """
    __tablename__ = "tax_rate"

    id = db.Column(db.Integer, primary_key=True)
    
    valid_from = db.Column(db.DateTime, nullable=False)
    valid_to = db.Column(db.DateTime)
    
    rate = db.Column(db.Numeric(precision=8, scale=4))
    
    tax_rate_type_code = db.Column(db.String(4), db.ForeignKey('tax_rate_type.code'))
    country_code = db.Column(db.String(4), db.ForeignKey('country.code'))
    tax_code_code = db.Column(db.String(8), db.ForeignKey('tax_code.code'))


    def __init__(self, **kwargs):
         super(TaxRate, self).__init__(**kwargs)

    def __repr__(self):
        return '<TaxRate: valid: {}-{} – country_code: {} – rate {}>'.format(self.valid_from, self.valid_to, self.country_code, self.rate)

#mapped class TaxCode->tax_code' has no property 'country'

In [4]:
db.create_all()

In [5]:
germany, poland, great_britain, netherlands = Country(code="DE", country_name="Germany", currency_code = "EUR"), Country(code="PL", country_name="Poland", currency_code = "PLN"), Country(code="GB", country_name="Great Britain", currency_code = "GBP"), Country(code="NL", country_name="Netherlands", currency_code = "EUR")

db.session.add(germany)
db.session.add(poland)
db.session.add(great_britain)
db.session.add(netherlands)


eur, gbp, pln, czs = Currency(code="EUR"), Currency(code="GBP"), Currency(code="PLN"), Currency(code="CZS")

db.session.add(eur)
db.session.add(gbp)
db.session.add(pln)
db.session.add(czs)


s = TaxRateType(code="S", description="Standard Rate")
r = TaxRateType(code="R", description="Reduced Rate")
r2 = TaxRateType(code="R2", description="Reduced Rate 2")
z = TaxRateType(code="Z", description="Zero Rate")

db.session.add(s)
db.session.add(r)
db.session.add(r2)
db.session.add(z)

A_GEN_STANDARD = TaxCode(code="A_GEN_STANDARD", description="Standard Rate")
A_BOOK_AUDIOBOOK = TaxCode(code="A_BOOK_AUDIOBOOK", description="Audiobooks in the physical format")
A_BOOKS_GEN = TaxCode(code="A_BOOKS_GEN", description="Printed Books")

db.session.add(A_GEN_STANDARD)
db.session.add(A_BOOK_AUDIOBOOK)
db.session.add(A_BOOKS_GEN)

db.session.commit()


    
t1 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.19, tax_rate_type_code="S", country_code="DE", tax_code_code="A_GEN_STANDARD")
t2 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.19, tax_rate_type_code="S", country_code="FR", tax_code_code="A_GEN_STANDARD")
t3 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.19, tax_rate_type_code="S", country_code="DE", tax_code_code="A_BOOK_AUDIOBOOK")
t4 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.0, tax_rate_type_code="Z", country_code="DE", tax_code_code="A_BOOKS_GEN")

db.session.add(t1)
db.session.add(t2)
db.session.add(t3)
db.session.add(t4)

db.session.commit()

In [45]:
TaxCode.query.all()

[<TaxCode:A_GEN_STANDARD valid from:Standard Rate>,
 <TaxCode:A_BOOK_AUDIOBOOK valid from:Audiobooks in the physical format>,
 <TaxCode:A_BOOKS_GEN valid from:Printed Books>]

In [11]:
tax_rate = TaxRate.query.filter(TaxRate.valid_from<datetime.datetime.utcnow(), TaxRate.country_code=='DE').all()

In [14]:
germany.tax_rates

[<TaxRate: valid: 2020-04-29 07:41:43.661656-None – country_code: DE – rate 0.1900>,
 <TaxRate: valid: 2020-04-29 07:41:43.662270-None – country_code: DE – rate 0.1900>,
 <TaxRate: valid: 2020-04-29 07:41:43.662407-None – country_code: DE – rate 0.0000>]

In [89]:
def check_refund_case(item_price_total_gross, shipment_price_total_gross, gift_wrap_price_total_gross):
        sale_transaction = True
        if sale_transaction:
            print("check1")
            if not item_price_total_gross or not shipment_price_total_gross or not gift_wrap_price_total_gross:
                return print("check none")
            else:
                print('all here')
        else:
            return False

In [90]:
item_price_total_gross = 1
shipment_price_total_gross = None
gift_wrap_price_total_gross =3

In [91]:
check_refund_case(item_price_total_gross, shipment_price_total_gross, gift_wrap_price_total_gross)

check1
check none

In [124]:
i = 1
from datetime import datetime

In [157]:
class Calculation:
    def __init__(self):
        self.amazon_vat_calculation_service: bool = TransactionService.check_amazon_vat_calculation_service(input.check_tax_calculation_date)

        self.account: Account = PlatformService.get_by_public_id_channel_code(input.account_public_id, input.channel_code)
        self.item: Item = ItemService.get_by_sku_account_date(input.item_sku, account, input.tax_date)
        self.bundle: Bundle = TransactionService.get_bundle_by_account_item__date(account, item, input.transaction_public_id)
        self.transaction_type: TransactionType = get_transaction_type_by_public_code_account(input.transaction_type_public_code, account)

        !!!!! #customer_type = CustomerService.get_type_by_vatin_date(vat_number=input.customer_vat_number, date=input.tax_date, !!!!! )

        self.arrival_country: Country = CountryService.get_by_code(input.arrival_country_code)
        self.departure_country: Country = CountryService.get_by_code(input.departure_country_code)
        self.eu: EU = CountryService.get_eu_by_date(input.tax_date) #EU

        self.tax_treatment_code: str = TaxRateService.define_tax_treatment_code(account, input.check_export, eu, customer_type, departure_country, arrival_country, amazon_vat_calculation_service, input.check_item_price_tax_rate_rate)

        self.tax_juristdiction: Country = TransactionService.define_tax_jurisdiction(tax_treatment_code, departure_country, arrival_country)
        self.item_tax_code_code: str = TransactionService.get_item_tax_code_code(item, input.check_item_tax_code_code)

        self.item_price_tax_rate_rate, gift_wrap_tax_rate_rate, shipment_price_tax_rate_rate = TransactionService.get_tax_rate_rates(tax_jurisdiction, tax_treatment_code, item_tax_code_code, input.tax_date)

        self.item_price_net: float = TransactionService.get_price_net(input.item_price_gross, item_price_tax_rate_rate)
        self.item_price_discount_net: float = TransactionService.get_price_net(input.item_price_discount_gross, item_price_tax_rate_rate)
        self.item_price_total_net: float = TransactionService.get_price_net(input.item_price_total_gross, item_price_tax_rate_rate)

        self.shipment_price_net: float = TransactionService.get_price_net(input.shipment_price_gross, shipment_price_tax_rate_rate)
        self.shipment_price_discount_net: float = TransactionService.get_price_net(input.shipment_price_discount_gross, shipment_price_tax_rate_rate)
        self.shipment_price_total_net: float = TransactionService.get_price_net(input.shipment_price_total_gross, shipment_price_tax_rate_rate)

        self.gift_wrap_price_net: float = TransactionService.get_price_net(input.gift_wrap_price_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_discount_net: float = TransactionService.get_price_net(input.gift_wrap_price_discount_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_total_net: float = TransactionService.get_price_net(input.gift_wrap_price_total_gross, gift_wrap_price_tax_rate_rate)

        self.item_price_vat: float = TransactionService.get_price_vat(input.item_price_gross, item_price_tax_rate_rate)
        self.item_price_discount_vat: float = TransactionService.get_price_vat(input.item_price_discount_gross, item_price_tax_rate_rate)
        self.item_price_total_vat: float = TransactionService.get_price_vat(input.item_price_total_gross, item_price_tax_rate_rate)

        self.shipment_price_vat: float = TransactionService.get_price_vat(input.shipment_price_gross, shipment_price_tax_rate_rate)
        self.shipment_price_discount_vat: float = TransactionService.get_price_vat(input.shipment_price_discount_gross, shipment_price_tax_rate_rate)
        self.shipment_price_total_vat: float = TransactionService.get_price_vat(input.shipment_price_total_gross, shipment_price_tax_rate_rate)

        self.gift_wrap_price_vat: float = TransactionService.get_price_vat(input.gift_wrap_price_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_discount_vat: float = TransactionService.get_price_vat(input.gift_wrap_price_discount_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_total_vat: float = TransactionService.get_price_vat(input.gift_wrap_price_total_gross, gift_wrap_price_tax_rate_rate)

        self.total_value_net: float = TransactionService.get_total_value(item_price_total_net, shipment_price_total_net, gift_wrap_price_total_net)
        self.total_value_vat: float = TransactionService.get_total_value(item_price_total_vat, shipment_price_total_vat, gift_wrap_price_total_vat)
        self.total_value_gross: float = TransactionService.get_total_value(input.item_price_total_gross, input.shipment_price_total_gross, input.gift_wrap_price_total_gross)

        self.invoice_currency_code: str = tax_juristdiction.currency_code

        self.invoice_exchange_rate: float = get_invoice_exchange_rate(input.currency_code, invoice_currency_code, input.tax_date)

        self.invoice_amount_net: float = TransactionService.get_invoice_amount(total_value_net, invoice_exchange_rate)
        self.invoice_amount_vat: float = TransactionService.get_invoice_amount(total_value_vat, invoice_exchange_rate)
        self.invoice_amount_gross: float = TransactionService.get_invoice_amount(total_value_gross, invoice_exchange_rate)

        self.arrival_seller_vat_country_code: str = arrival_country.vat_country_code
        self.departure_seller_vat_country_code: str = departure_country.vat_country_code
        self.seller_vat_country_code: str = tax_juristdiction.vat_country_code

In [152]:
inputs = []
for i in range(len(df.index)):
    inputs.append(Input(df, i))

In [140]:
new_input.account_public_id

'A2SC0NLSYTA68B'

In [158]:
input = Input(df, 210)

In [159]:
input.check_tax_jurisdiction

'GERMANY'

In [162]:
for i in range(190,219):
    print(inputs[i].account_public_id)

A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B