In [4]:
from datetime import datetime, date, timedelta
from typing import Dict, List
import os
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.ext.declarative import declared_attr
import uuid
from sqlalchemy.dialects.postgresql import UUID


app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///:memory:"
app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False


db = SQLAlchemy(app)

In [5]:
class Item(db.Model):
    id=db.Column(db.Integer, primary_key=True)
    name=db.Column(db.String(255))
    location=db.Column(db.String(255))

In [6]:
db.create_all()

In [7]:
i = Item()
db.session.add(i)
db.session.commit()

In [8]:
i1 = Item.query.first()
print(i1.id)
print(i1.name)

1
None

In [1]:
import pandas as pd

In [184]:
path = '/Users/tm/Projects/vat/webapp/api/data/test/GVCTest/JN Imports/raw/JN IMPORTS - OCT NOV DEC 2019.txt'
df = pd.read_csv(path, sep="\t")

/Library/Python/3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7,59,70,71,72,73,74,75,76,77,78,79,80,81,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [185]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-9720047-6097111,D2CQDQkpy,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-9720047-6097111,D2CQDQkpy,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-8685933-5889139,Dpqgvd3PD,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-6561626-5309947,DKW4Zd2PF,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-6487173-2525963,D8D7w1k8y,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['PRICE_OF_ITEMS_AMT_VAT_INCL'].mean()

8.578506242905789

In [12]:
(df.PRICE_OF_ITEMS_AMT_VAT_INCL / df.QTY).mean()

7.483188422247446

In [40]:
df.drop_duplicates(subset=['UNIQUE_ACCOUNT_IDENTIFIER','SALES_CHANNEL'])[['UNIQUE_ACCOUNT_IDENTIFIER','SALES_CHANNEL']]

   UNIQUE_ACCOUNT_IDENTIFIER SALES_CHANNEL
0             A1GNCDLT9XBMNN           MFN
88            A1GNCDLT9XBMNN           AFN

In [19]:
path2 = '/Users/tm/Projects/vat/webapp/api/data/test/DEMO/SampleAG/transactions/Sales Tax Transaction Report_M-2020-02.txt'
df2 = pd.read_csv(path2, sep="\t")

In [ ]:
SELLER_DEPART_COUNTRY_VAT_NUMBER	
SELLER_ARRIVAL_COUNTRY_VAT_NUMBER	
TRANSACTION_SELLER_VAT_NUMBER

In [61]:
df2.drop_duplicates(subset=['SELLER_DEPART_COUNTRY_VAT_NUMBER','SELLER_DEPART_COUNTRY_VAT_NUMBER'])[['SELLER_DEPART_VAT_NUMBER_COUNTRY', 'SELLER_DEPART_COUNTRY_VAT_NUMBER']].dropna()

    SELLER_DEPART_VAT_NUMBER_COUNTRY SELLER_DEPART_COUNTRY_VAT_NUMBER
2                                 DE                      DE322857776
13                                PL                     PL5263266229
29                                FR                    FR17850992868
31                                ES                      ESA81405219
34                                CZ                      CZ684824655
132                               IT                    IT00231149998

In [154]:
column_values = df2[["SELLER_DEPART_COUNTRY_VAT_NUMBER", "SELLER_ARRIVAL_COUNTRY_VAT_NUMBER", "TRANSACTION_SELLER_VAT_NUMBER"]].values.ravel('K')
unique_values_raw = pd.unique(column_values).tolist()
unique_values = [x for x in unique_values_raw if str(x) != 'nan']

In [153]:
print(unique_values)

['DE322857776', 'PL5263266229', 'FR17850992868', 'ESA81405219', 'CZ684824655', 'IT00231149998']

In [159]:
df3 = df.drop_duplicates(subset=['SELLER_SKU','ASIN'])[['SELLER_SKU','ASIN', 'ITEM_DESCRIPTION', 'ITEM_WEIGHT']]

In [161]:
len(df3.index)

876

In [162]:
df4 = df.drop_duplicates(subset=['ASIN'])[['SELLER_SKU','ASIN', 'ITEM_DESCRIPTION', 'ITEM_WEIGHT']]
len(df4.index)

853

In [163]:
df4 = df.drop_duplicates(subset=['SELLER_SKU'])[['SELLER_SKU','ASIN', 'ITEM_DESCRIPTION', 'ITEM_WEIGHT']]
len(df4.index)

876

In [171]:
from datetime import datetime

In [186]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-9720047-6097111,D2CQDQkpy,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-9720047-6097111,D2CQDQkpy,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-8685933-5889139,Dpqgvd3PD,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-6561626-5309947,DKW4Zd2PF,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1GNCDLT9XBMNN,2019-DEC,MFN,amazon.fr,SALE,408-6487173-2525963,D8D7w1k8y,NaN,31-12-2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
dates_all = df[
    ["TRANSACTION_DEPART_DATE", "TRANSACTION_ARRIVAL_DATE", "TRANSACTION_COMPLETE_DATE", "TAX_CALCULATION_DATE", "VAT_INV_EXCHANGE_RATE_DATE"]
    ].values.ravel('K')
dates_raw = pd.unique(dates_all).tolist()
dates = [datetime.strptime(d, '%d-%m-%Y').date() for d in dates_raw if str(d) != 'nan']
valid_from = min(dates)

In [199]:
valid_from

datetime.date(2019, 9, 19)