In [1]:
from datetime import datetime, date, timedelta
from uuid import UUID
import os
import more_itertools as mit
from time import time

from flask import Flask, session
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite://"
app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False

db = SQLAlchemy(app)

In [25]:
import pandas as pd
def read_file_path_into_df(file_path: str, df_encoding: str, delimiter: str) -> pd.DataFrame:
    if os.path.isfile(file_path):
        file_name = os.path.basename(file_path)
        try:
            if file_name.lower().endswith('.csv'):
                df_raw = pd.read_csv(file_path, encoding=df_encoding, delimiter=delimiter)
                df = df_raw.dropna(how='all')
            else:
                raise UnsupportedMediaType(
                    'File extension invalid (file: {}).'.format(file_name))
            return df
        except:
            print('Case "Read File Path: Cannot read file"', flush=True)

            raise UnsupportedMediaType(
                'Cannot read file {}.'.format(file_name))

    else:
        raise  # !!! (not a file)

In [57]:
file_path_in = '/Users/tm/Projects/NTAMAZON/webapp/api/data/test/GOLDEN FIRE/item_information_filled.csv'
df = read_file_path_into_df(file_path_in, df_encoding='utf-8', delimiter=';')
df.columns = df.columns.str.strip()
#df.columns = df.columns.str.strip(',')
df.columns = df.columns.str.replace('(,$)|(^,)', '_', regex=True) 
#column_name_list = df.columns.tolist()

#print('column_name_list:', column_name_list)
print("")
print(df.head())

  seller_firm_public_id  valid_from  valid_to                  SKU  \
0                   NaN  01.06.2018       NaN  xtra-500 6 estuches
1                   NaN  01.06.2018       NaN             36010 x1
2                   NaN  01.06.2018       NaN            1-10003-3
3                   NaN  01.06.2018       NaN            36010 x 2
4                   NaN  01.06.2018       NaN   130014 clipper gas

   brand_name  name  ean        asin  fnksu  weight_kg        tax_code  \
0         NaN   NaN  NaN  B00JFWG2T2    NaN        NaN  A_GEN_STANDARD
1         NaN   NaN  NaN  B0015QEIOM    NaN        NaN  A_GEN_STANDARD
2         NaN   NaN  NaN  B07L17FJVZ    NaN        NaN  A_GEN_STANDARD
3         NaN   NaN  NaN  B003YUZ6G6    NaN        NaN  A_GEN_STANDARD
4         NaN   NaN  NaN  B006YPVYGE    NaN        NaN  A_GEN_STANDARD

  unit_cost_price_currency_code unit_cost_price_net_
0                           EUR                12.5,
1                           EUR                 3.5,
2                           EUR                 3.8,
3                           EUR                   7,
4                           EUR                1.35,

In [30]:
print(column_name_list)

['seller_firm_public_id', 'valid_from', 'valid_to', 'SKU', 'brand_name', 'name', 'ean', 'asin', 'fnksu', 'weight_kg', 'tax_code', 'unit_cost_price_currency_code', 'unit_cost_price_net']

In [2]:
#https://stackoverflow.com/questions/18503096/python-integer-partitioning-with-given-k-partitions
def part(n, k):
    def memoize(f):
        cache = [[[None] * n for j in range(k)] for i in range(n)]
        def wrapper(n, k, pre):
            if cache[n-1][k-1][pre-1] is None:
                cache[n-1][k-1][pre-1] = f(n, k, pre)
            return cache[n-1][k-1][pre-1]
        return wrapper

    @memoize
    def _part(n, k, pre):
        if n <= 0:
            return []
        if k == 1:
            if n <= pre:
                return [(n,)]
            return []
        ret = []
        for i in range(min(pre, n), 0, -1):
            ret += [(i,) + sub for sub in _part(n-i, k-1, i)]
        return ret
    return _part(n, k, n)

In [12]:
liste1 = [0, 1, 2, 3, 4]
liste2 = []
for i in range(5):
    if i>3:
        liste2.append(i)
    
def add(i): 
    return i+i
    
liste3 = [add(i) for i in range(5)]

In [5]:
full_name="Thomas moellers"

initials = ''.join(name[0].upper() for name in full_name.split())
print(initials)

TM

In [13]:
print('liste1: ', liste1)
print('liste2: ', liste2)
print('liste3: ', liste3)

liste1:  [0, 1, 2, 3, 4]
liste2:  [0, 1, 2, 3, 4]
liste3:  [0, 2, 4, 6, 8]

In [3]:
filtered = [i for i  in part(150, 6) if (min(i) >= 22 and max(i) <= 29)]

In [4]:
lower = 22
upper = 29
filtered = [i for i  in part(150, 6) if (min(i) >= lower and max(i) <= upper)]
print(len(filtered))

print(filtered[3])
#print(len(list(mit.distinct_combinations(pupil_ids, 22))))

88
(29, 29, 24, 23, 23, 22)

In [71]:
from random import choice

pupil_ids = [i for i in range(150)]

def generate_set_partition(pupil_ids):
    set_partition = []
    partition_set_sizes = choice(filtered)
    for r in partition_set_sizes:
        group = mit.random_combination(pupil_ids, r)
        set_partition.append(group)
        pupil_ids = [p for p in pupil_ids if p not in group]
    return set_partition

In [6]:
#set_partitions = [list(generate_set_partition(pupil_ids)) for i in range(10)]
#print(len(set_partitions))
#print(len(set_partitions[0]))
#print(len(set_partitions[0][0]))
#print(set_partitions[0][0])

set_partition = generate_set_partition(pupil_ids)
print(set_partition)

[(2, 4, 23, 42, 43, 55, 64, 76, 78, 82, 85, 87, 91, 92, 95, 99, 103, 105, 107, 109, 117, 119, 122, 124, 125, 128), (6, 15, 19, 21, 28, 29, 30, 33, 38, 44, 49, 56, 66, 70, 80, 83, 89, 102, 108, 113, 116, 121, 127, 135, 139, 149), (0, 11, 12, 20, 31, 34, 35, 40, 47, 50, 62, 68, 69, 74, 75, 77, 84, 93, 104, 112, 131, 137, 141, 144, 148), (1, 3, 5, 10, 13, 14, 16, 17, 26, 32, 57, 58, 71, 79, 81, 94, 101, 106, 111, 114, 115, 123, 130, 136, 145), (7, 8, 22, 25, 27, 36, 39, 41, 48, 51, 52, 59, 60, 61, 65, 67, 72, 73, 96, 98, 118, 133, 134, 143, 146), (9, 18, 24, 37, 45, 46, 53, 54, 63, 86, 88, 90, 97, 100, 110, 120, 126, 129, 132, 138, 140, 142, 147)]

In [91]:
set_partitions = []
start = datetime.utcnow()
for i in range(50_000):
    liste = generate_set_partition(pupil_ids)
    set_partitions.append(liste)
end=datetime.utcnow()
print(len(set_partitions))
duration = end - start
print(duration)

50000
0:00:18.954481

In [92]:
start = time()

set_partitions = [generate_set_partition(pupil_ids) for i in range(50_000)]
print(len(set_partitions))
end = time()

print("Execution Time: {:.5f}s".format(end-start))

50000
Execution Time: 18.69187s

In [93]:
from functools import partial
from multiprocessing import Pool
ROUNDS = list(range(50_000))
#[i for i in range(50_000)]
pupil_ids = [i for i in range(150)]


def generate_set_partitions(ROUNDS, pupil_ids):
    set_partitions_ind = []
    for r in ROUNDS:
        set_partitions_ind.append(generate_set_partition(pupil_ids))
    return set_partitions_ind

In [96]:
def main(i):
    start = time()
    with Pool(processes=i) as pool:
        set_partitions = pool.map(partial(generate_set_partitions, pupil_ids=pupil_ids), (ROUNDS, )) # Returns a list of lists
    # Flatten the list of lists
    set_partitions = [set_partition for set_partitions_ind in set_partitions for set_partition in set_partitions_ind]
    end = time()
    print("processes: ", i, flush=True)
    print("Execution Time: {:.5f}s".format(end-start), flush=True)
    print("")

In [97]:
type(list(range(10)))

list

In [98]:
for i in [5, 6, 7, 8]:
    main(i)

processes:  5
Execution Time: 19.73997s

processes:  6
Execution Time: 19.32955s

processes:  7
Execution Time: 19.41235s

processes:  8
Execution Time: 19.37404s

ValueError: Pool not running

In [323]:
#next(generate_set_partition(pupil_ids))

In [131]:
pupil_ids =[e for e in pupil_ids if e not in combination]
print(pupil_ids)

[0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 15, 16, 17, 18, 19]

In [ ]:
x = list(partition_min_max(20, 3, 3, 10 ))
print(x)

In [60]:
import more_itertools as mit

supported_currencies = ['GBP', 'CZK', 'PLN', 'EUR']

pupil_ids = [i for i in range(150)]

filtered_list = []
lower_bound = 22
upper_bound = 29

for i, set_partition in enumerate(mit.set_partitions(pupil_ids, 6)):
    if [len(group) for group in set_partition] in filtered:
        filtered_list.append(set_partition)

    if len(filtered_list) == 4: break

for i, setp in enumerate(filtered_list):
    print(i, filtered_list)
    print("")

KeyboardInterrupt:

In [16]:
def memoize(func):
    S = {}
    def wrappingfunction(*args):
        if args not in S:
            S[args] = func(*args)
        return S[args]
    return wrappingfunction


@memoize
def stirling(n,k):
    n1=n
    k1=k
    if n<=0:
        return 1
     
    elif k<=0:
        return 0
     
    elif (n==0 and k==0):
        return -1
     
    elif n!=0 and n==k:
        return 1
     
    elif n<k:
        return 0
 
    else:
        temp1=stirling(n1-1,k1)
        temp1=k1*temp1
        return (k1*(stirling(n1-1,k1)))+stirling(n1-1,k1-1)
 
S = stirling(4,2)

len(str(S))

1

In [23]:
dicts = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }

print(dicts)
print(dict2)
dicts.update(dict2)
print("Value : %s" %  dicts)

file = '/Users/tm/Projects/NTAMAZON/webapp_data/seeds/countries.csv'
TAX_DEFAULT_VALIDITY = datetime.strptime('31-12-2099', '%d-%m-%Y').date()
SERVICE_START_DATE = datetime.strptime('01-06-2018', '%d-%m-%Y').date()
df = pd.read_csv(file)
countries_pre = [ {k:v for k,v in m.items() if pd.notnull(v)} for m in df.to_dict(orient='rows')]


dict1 = countries_pre[0]
dict3 = { 'valid_from': SERVICE_START_DATE, 'valid_to': TAX_DEFAULT_VALIDITY }
print(dict1)
print(dict3)
dict1.update(dict3)
print("Value : %s" %  dict1)

{'Name': 'Zara', 'Age': 7}
{'Sex': 'female'}
Value : {'Name': 'Zara', 'Age': 7, 'Sex': 'female'}
{'name': 'Afghanistan', 'code': 'AF'}
{'valid_from': datetime.date(2018, 6, 1), 'valid_to': datetime.date(2099, 12, 31)}
Value : {'name': 'Afghanistan', 'code': 'AF', 'valid_from': datetime.date(2018, 6, 1), 'valid_to': datetime.date(2099, 12, 31)}

In [27]:
import pandas as pd
from datetime import datetime, date
def seed_countries():
        file = '/Users/tm/Projects/NTAMAZON/webapp_data/seeds/countries.csv'

        TAX_DEFAULT_VALIDITY = datetime.strptime('31-12-2099', '%d-%m-%Y').date()

        SERVICE_START_DATE = datetime.strptime('01-06-2018', '%d-%m-%Y').date()

        df = pd.read_csv(file)
        # https://stackoverflow.com/questions/26033301/make-pandas-dataframe-to-a-dict-and-dropna
        countries = []
        countries_pre = [ {k:v for k,v in m.items() if pd.notnull(v)} for m in df.to_dict(orient='rows')]
        countries_validity = { 'valid_from': SERVICE_START_DATE, 'valid_to': TAX_DEFAULT_VALIDITY }
        for country in countries_pre:
            country.update(countries_validity)
            countries.append(country)
        return countries

In [2]:
class Money(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    value = db.Column(db.Numeric(scale=2))
    
db.create_all() 

m1 = Money(value=3.30)
m2 = Money(value=3.35)
m3 = Money(value=1.20)
m4 = Money(value=15.3035)

db.session.add(m1)
db.session.add(m2)
db.session.add(m3)
db.session.add(m4)

db.session.commit()

In [37]:
integer  = 1
floats = 1.1
string = ' Hallo '
liste = [0, 1, 2, 3, 4, 5, 6, 7,8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
liste = []
for counter in range(20):
    liste.append(counter)
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
liste = [counter for counter in range(20)]
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
Money.query.filter_by(id=1).first().value

/usr/local/lib/python3.7/site-packages/sqlalchemy/sql/sqltypes.py:666: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

Decimal('3.30')

In [8]:
(i for i in range(20))

In [32]:
v1 = Money.query.filter_by(id=1).first().value
v2 = Money.query.filter_by(id=2).first().value
v3 = Money.query.filter_by(id=3).first().value
v4 = Money.query.filter_by(id=4).first().value

total = v1 * v2 * v3 * v4
total2 = v1 + v2+ v3 +v4
print(db.session.query(Money.query.filter_by(id=5).exists()).scalar())
#print(Money.query.filter_by(id=1).exists().scalar())
print(total)
print(total2)

False
203.016231
23.1535

In [24]:
from datetime import datetime
import more_itertools as mit
from random import randint 

for j in range(1, 5):
    time_start = datetime.utcnow()
    pupils = [i for i in range(j)]
    distinct_combinations = list(mit.distinct_combinations(pupils, 2))
    length = len(distinct_combinations)/1000
    time_stop = datetime.utcnow()
    duration = time_stop - time_start
    random_integer = randint(1, max(int(length*1000)-2, 2))
    print('i: {} - len_distinct_combinations: {} (in 1000) - duration: {} – examplary combination {}: {}'.format(j, length, str(duration), random_integer, distinct_combinations[random_integer]))

IndexError: list index out of range

In [2]:
class User(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(24))
    
db.create_all()

In [3]:
u1 = User(name='Thomas')
u2 = User(name='Caro')
db.session.add(u1)
db.session.add(u2)
db.session.commit()

In [19]:
a = User.query.filter_by(id=3).all()
print(type(a))
len(a) == 0

<class 'list'>

True

In [8]:
User.query.filter_by(id=3).first()

In [4]:
db.drop_all()
db.create_all()

In [2]:
class Num(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    price = db.Column(db.Numeric(scale=2))
    
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

In [4]:
a = 1
b = 0.1
c = 0.12
d = 0.129


p1 = Num(price=a)
p2 = Num(price=b)
p3 = Num(price=c)
p4 = Num(price=d)

db.session.add(p1)
db.session.add(p2)
db.session.add(p3)
db.session.add(p4)
db.session.commit()

In [3]:
min(date.today(), None)

TypeError: '<' not supported between instances of 'NoneType' and 'datetime.date'

In [12]:
def f(**kwargs):
    if isinstance(kwargs.get('a'), float):
        return a
    else:
        return 'Fail'


print(1.0 == 1.00)
    
print(f(a=1))
print(f(b=1))
print(f(a=1.1))
print(f(a='hi'))

True
Fail
Fail
1
Fail

In [12]:
filenames = ['template', 'template.csv', 'template.']

for endpoint in filenames: 

    filename = endpoint.split('.')[0] + '.csv'
   
    print(filename)

template.csv
template.csv
template.csv

In [20]:
def func(**kwargs):
    return add(**kwargs)

def add(**kwargs):
    if 'a' in kwargs:
        result = kwargs['a']
    else:
        result = 'b'
    return result

[]

In [5]:
def read_item_list_upload_into_df(file):
    try:
        if file.is_file() and file.lower().endswith('.csv'):
            df = pd.read_csv(file, encoding='latin-1')
        else:
            raise UnsupportedMediaType('File extension invalid (file: {}).'.format(file.name))
        return df
       
    except:
        if file.is_file():
            raise UnsupportedMediaType('Cannot read file {}.'.format(file.names))
        else:
            raise UnsupportedMediaType('Cannot read file.')

In [6]:
df = read_item_list_upload_into_df(file)

AttributeError: 'str' object has no attribute 'is_file'

In [ ]:
df.head()

In [25]:
file_path = '/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm/transaction_data/in/55462838340018328.csv'
#os.path.isfile(file_path)
file = os.path.basename(file_path)
file.lower().endswith('.csv')

True

In [11]:
basepath_in = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/'
with os.scandir(basepath_in) as entries:
    for entry in entries:
        print(entry.name)

.DS_Store
fake.py
__init__.py
__pycache__
initial.py
seeds
seed_command.py

In [1]:
len('South Georgia and the South Sandwich Islands')

44

In [22]:
today = date.today().strftime('%Y%m%d')
import uuid
str(today)

today_as_str= str(date.today().strftime('%Y%m%d'))
fullname = 'Thomas_M'
seller_firm_public_id = uuid.uuid4()
file_name = '{}_{}_EXPORT_{}'.format(today_as_str, seller_firm_public_id,fullname)
print(file_name)

20200516_1349d829-30a8-4be6-b025-b3ff51cdb4c7_EXPORT_Thomas_M

In [6]:
db.drop_all()
db.session.rollback()

/usr/local/lib/python3.7/site-packages/sqlalchemy/orm/session.py:561: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [7]:
db.create_all()

In [2]:
tax_record_user_AT = db.Table(
    'tax_record_user_AT',
    db.Column('tax_record_id', db.Integer, db.ForeignKey('tax_record.id'), primary_key=True),
    db.Column('user_name', db.String(32), db.ForeignKey('user.name'), primary_key=True)
    )


class TaxRecord(db.Model):
    """ Tax Record model """
    __tablename__ = 'tax_record'

    id = db.Column(db.Integer, primary_key=True)
    created_by = db.Column(db.String(32), db.ForeignKey('user.name'), nullable=False)
    downloaded_by_users = db.relationship('User', secondary=tax_record_user_AT, back_populates='downloaded_tax_records')

    
class User(db.Model):  # type: ignore
    """ User model """
    __tablename__ = "user"

    name = db.Column(db.String(32), primary_key=True)

    created_tax_records = db.relationship('TaxRecord', backref='creator', lazy=True)
    downloaded_tax_records = db.relationship('TaxRecord', secondary=tax_record_user_AT, back_populates="downloaded_by_users")

In [8]:
u1 = User(name = "Thomas")
u2 = User(name = "Caro")
u3 = User(name = "Michi")
u4 = User(name = "Mama")

tr1 = TaxRecord(created_by='Thomas')
tr2 = TaxRecord(created_by='Caro')
tr3 = TaxRecord(created_by='Caro')
tr4 = TaxRecord(created_by='Michi')

db.session.add(u1)
db.session.add(u2)
db.session.add(u3)
db.session.add(u4)

db.session.add(tr1)
db.session.add(tr2)
db.session.add(tr3)
db.session.add(tr4)

db.session.commit()

tr1.downloaded_by_users.append(u1)
tr1.downloaded_by_users.append(u2)
tr1.downloaded_by_users.append(u3)
tr1.downloaded_by_users.append(u4)

db.session.commit()

In [9]:
u1.downloaded_tax_records

In [11]:
tax_records = TaxRecord.query.join(User.created_tax_records, aliased=True).filter_by(id=1).all()
tax_records

In [16]:
tax_records = TaxRecord.query.filter_by(created_by=1).all()
tax_records

In [21]:
def get_all_by_user_id(u_id: int):
        tax_records = TaxRecord.query.filter_by(created_by=u_id).all()
        #tax_records = TaxRecord.query.filter(TaxRecord.created_by.has(User.id==u_id)).all()

        
        tax_record_list = [
            {
                'ID': str(tax_record.id),
                'Created By': str(tax_record.creator.username)
            }
            for tax_record in tax_records
        ]
        return tax_records, tax_record_list

In [22]:
tax_records, tax_record_list = get_all_by_user_id(1)

In [23]:
tax_records

In [24]:
tax_record_list

[{'ID': '1', 'Created By': 'Thomas'}, {'ID': '2', 'Created By': 'Thomas'}]

In [3]:
# for testing of many to many relationships
association_table = db.Table(
    'association_table',
    db.Column('parent_code', db.Integer, db.ForeignKey('parent.code'), primary_key=True),
    db.Column('child_code', db.Integer, db.ForeignKey('child.code'), primary_key=True)
    )

class Parent(db.Model):
    __tablename__ = 'parent'
    code = db.Column(db.String(4), primary_key=True)
    children = db.relationship("Child",
                    secondary=association_table,
                    back_populates="parents")

    
class Child(db.Model):
    __tablename__ = 'child'
    code = db.Column(db.String(4), primary_key=True)
    parents = db.relationship("Parent",
                    secondary=association_table,
                    back_populates="children")

In [5]:
p1 = Parent(code="A")
p2 = Parent(code="B")
c1 = Child(code="A")
c2 = Child(code="B")

In [6]:
db.session.add(p1)
db.session.add(p2)
db.session.add(c1)
db.session.add(c1)
db.session.commit()

In [7]:
p1.children.append(c1)
p1.children.append(c2)
c1.parents.append(p2)
db.session.commit()

In [11]:
c1 in p1.children

True

In [8]:
lista = ['list_b1', 'list_b2', 'list_b3']
for i, item in enumerate(lista):
    print('i: {} | item: {}'.format(i, item) )

i: 0 | item: list_b1
i: 1 | item: list_b2
i: 2 | item: list_b3

In [12]:
response_objects_cum = []
response_objects1 = []

response_object11 = {
    'status':'success',
    'message': 'validity has been added to the database.'
    }
response_object12 = {
    'status':'fail',
    'message': 'validity has not been added to the database.'
    }

response_objects1.append(response_object11)
response_objects1.append(response_object12)

response_objects2 = []
response_object21 = {
    'status':'error',
    'message': 'validity has been added to the database.'
    }
response_object22 = {
    'status':'cool',
    'message': 'validity has not been added to the database.'
    }

response_objects2.append(response_object21)
response_objects2.append(response_object22)

response_objects_cum.append(response_objects1)
response_objects_cum.append(response_objects2)

flat_response_objects = [response_object for response_objects in response_objects_cum for response_object in response_objects]

print(response_objects_cum)
print("")
print(flat_response_objects)

[[{'status': 'success', 'message': 'validity has been added to the database.'}, {'status': 'fail', 'message': 'validity has not been added to the database.'}], [{'status': 'error', 'message': 'validity has been added to the database.'}, {'status': 'cool', 'message': 'validity has not been added to the database.'}]]

[{'status': 'success', 'message': 'validity has been added to the database.'}, {'status': 'fail', 'message': 'validity has not been added to the database.'}, {'status': 'error', 'message': 'validity has been added to the database.'}, {'status': 'cool', 'message': 'validity has not been added to the database.'}]

In [ ]:
response_object1 = {
    'status':'success',
    'message': 'validity has been added to the database.'
    }
response_object2 = {
    'status':'fail',
    'message': 'validity has not been added to the database.'
    }

In [13]:
import pandas as pd
#file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rates.csv'
#file = '/Users/tm/Projects/NTAMAZON/webapp_data/templates/distance_sales.csv'
transaction_report = '/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/transaction/in/55462838340018328.csv'
df = pd.read_csv(transaction_report, encoding='utf-8')

In [14]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A2UTOJEVH3PSRA,2020-FEB,AFN,amazon.es,SALE,406-4519657-8433903,DNZrvv3ss,29.02.20,29.02.20,NaN,...,NaN,NaN,NaN,NaN,NO,https://www.Amazon.es/gp/invoice/download.html...,NaN,NaN,NaN,NaN
1,A2UTOJEVH3PSRA,2020-FEB,AFN,amazon.es,SALE,408-2349041-7668310,DwtBQ03ms,29.02.20,29.02.20,NaN,...,NaN,NaN,NaN,NaN,NO,https://www.Amazon.es/gp/invoice/download.html...,NaN,NaN,NaN,NaN
2,A2UTOJEVH3PSRA,2020-FEB,AFN,amazon.es,SALE,408-1170503-4433923,DGfJcs3Zs,29.02.20,29.02.20,NaN,...,NaN,NaN,NaN,NaN,NO,https://www.Amazon.es/gp/invoice/download.html...,NaN,NaN,NaN,NaN
3,A2UTOJEVH3PSRA,2020-FEB,AFN,amazon.es,SALE,406-9580196-3347538,D1W9BjhMF,29.02.20,29.02.20,NaN,...,NaN,NaN,NaN,NaN,NO,https://www.Amazon.es/gp/invoice/download.html...,NaN,NaN,NaN,NaN
4,A2UTOJEVH3PSRA,2020-FEB,AFN,amazon.es,SALE,408-7155543-8767533,DXlTc1lFM,29.02.20,29.02.20,NaN,...,NaN,NaN,NaN,NaN,NO,https://www.Amazon.es/gp/invoice/download.html...,NaN,NaN,NaN,NaN

In [30]:

from werkzeug.exceptions import UnsupportedMediaType

class ExchangeRateCollection(db.Model):
    """ ExchangeRates parent_model """
    __tablename__ = "exchange_rate_collection"
    id = db.Column(db.Integer, primary_key=True)
    date = db.Column(db.Date, default=date.today)
    created_on = db.Column(db.DateTime, default=datetime.utcnow)
    exchange_rates_eur = db.relationship(
        'ExchangeRatesEUR', backref='exchange_rate_collection', lazy=True)
    exchange_rates_gbp = db.relationship(
        'ExchangeRatesGBP', backref='exchange_rate_collection', lazy=True)
    exchange_rates_czk = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)
    exchange_rates_pln = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)


    def __init__(self, **kwargs):
        super(ExchangeRateCollection, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRates: %r>' % self.date

def get_date_or_None_incl_format(df, i: int, column: str, dstr_format:str, alternative_dstr_format) -> date or None:
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            date = datetime.strptime(df.iloc[i][column], dstr_format).date()
        except:
            try:
                date = datetime.strptime(
                    df.iloc[i][column], alternative_dstr_format).date()
            except:
                raise UnsupportedMediaType('Can not read date format.')
    return date


def create_exchange_rate_collection(date: date) -> ExchangeRateCollection:
    exchange_rate_collection = ExchangeRateCollection.query.filter_by(date=date).first()

    if not exchange_rate_collection:
        #create new exchange_rate_collection based on TaxAuditor model
        new_exchange_rate_collection = ExchangeRateCollection(
            date=date,
            created_on=datetime.utcnow()
        )

        #add exchange_rate_collection to db
        db.session.add(new_exchange_rate_collection)
        db.session.commit()

        return new_exchange_rate_collection

In [45]:
for row in range(3):
    date = get_date_or_None_incl_format(df, i=row, column='Date', dstr_format='%Y-%m-%d', alternative_dstr_format='%Y.%m.%d')
    if not date:
        print(error)
    else:      
        source='ECB'
        created_on=datetime.utcnow()
        date=date
        #exchange_rate_collection_id=exchange_rate_collection.id,
        eur=1.0000
        gbp=float(df.iloc[row]['GBP'])
        czk=float(df.iloc[row]['CZK'])
        pln=float(df.iloc[row]['PLN'])
        
        print(date, eur, gbp, czk, pln)
        #print(type(date), type(eur), type(gbp), type(czk), type(pln))
        print("")

2020-05-04 1.0 0.8789799999999999 27.119 4.5668

2020-04-30 1.0 0.86905 27.096999999999998 4.5336

2020-04-29 1.0 0.8737799999999999 27.125 4.5442

In [73]:
from os import path
BASE_PATH_SEEDS = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/seeds/static_data/'
file = 'countries.csv'

dirpath = path.join(
    BASE_PATH_SEEDS,
    file)


df = pd.read_csv(dirpath)
countries = df.to_dict('records')

In [33]:
date.today()

datetime.date(2020, 5, 6)

In [1]:
things_list = {
    'currencies': [0, 1],
    'countries': [0, 2],
    'tax_codes': [0, 3],
    'tax_rate_types': [0, 4],
    'tax_rates': [0, 5],
    'transaction_types': [0, 6],
}
print(len(things_list.items()))

6

In [191]:
for key, val in things_list.items():
    print(type(key), val[0], val[1])

<class 'str'> 0 1
<class 'str'> 0 2
<class 'str'> 0 3
<class 'str'> 0 4
<class 'str'> 0 5
<class 'str'> 0 6

In [56]:
df1 = df.loc[df['country_code'] == 'AT'].loc[df['tax_rate_type_code'] == 'S'].iloc[0]['rate']

In [59]:
float(df1)

0.2

In [150]:
df_rates = pd.read_csv(file_rates)
df_types = pd.read_csv(file_types)


df_types.loc[df_types['tax_code']=='A_GEN_STANDARD']

,tax_code,AT,BE,BG,HR,CY,CZ,DK,EE,FI,...,MT,NL,PL,PT,RO,SK,SI,ES,SE,GB
0,A_GEN_STANDARD,S,S,S,S,S,S,S,S,S,...,S,S,S,S,S,S,S,S,S,S

In [151]:
df_types.iloc[0]['tax_code']

'A_GEN_STANDARD'

In [21]:
file_rates = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rates.csv'
file_types = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rate_types.csv'

df_rates = pd.read_csv(file_rates)
df_types = pd.read_csv(file_types)



def get_tax_rates(df_rates, df_types):
    tax_rates = []

    countries = ['AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU',
                'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'GB']

    for country in countries:
        print(country)
        for tax_code_row in range(len(df_types.index)):
            tax_code = df_types.iloc[tax_code_row]['tax_code']
            tax_rate_type_code = df_types.loc[df_types['tax_code'] == tax_code][country].iloc[0]
            rate = df_rates.loc[df_rates['country_code'] == country].loc[df_rates['tax_rate_type_code'] == tax_rate_type_code].iloc[0]['rate']
            
            #print(country)
            #print(tax_code)
            #print(tax_rate_type)
            #print(rate)

            tax_rate = {
                'valid_from': datetime.strptime('01-06-2018', '%d-%m-%Y').date(),
                'country_code': country,
                'tax_rate_type_code': tax_rate_type_code,
                'rate': rate
            }
            tax_rates.append(tax_rate)

    return tax_rates


tax_rates = get_tax_rates(df_rates, df_types)

AT
BE
BG
HR
CY
CZ
DK
EE
FI
FR
DE
GR
HU
IE
IT
LV
LT
LU
MT
NL
PL
PT
RO
SK
SI
ES
SE
GB

In [26]:
for i in range(5):
    a = tax_rates[i]
    print(a)

NameError: name 'tax_rates' is not defined

In [104]:
from datetime import datetime

file_rates = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rates.csv'
df_rates = pd.read_csv(file_rates)
print(df_rates.columns.values)
file_types = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_rate_types.csv'
df_types = pd.read_csv(file_types)
print(df_types.columns.values)

tax_rates = []

countries = ['AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU', 'IE',' IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'GB']

for country in countries:
    print(country)
    for tax_rate_code in range(len(df_types.index)):
        tax_rate_type_code = df_types.iloc[tax_rate_code]['tax_code']
        rate = df_rates.loc[df_rates['country_code'] == 'AT'].loc[df_rates['tax_rate_type_code'] == 'S'].iloc[0]['rate']

        tax_rate = {
            'valid_from': datetime.strptime('01-06-2018', '%d-%m-%Y').date(),
            'country_code' : country,
            'tax_rate_type_code': tax_rate_type_code,
            'rate': rate
        }
        tax_rates.append(tax_rate)

['country_code' 'tax_rate_type_code' 'rate']
['tax_code' 'AT' 'BE' 'BG' 'HR' 'CY' 'CZ' 'DK' 'EE' 'FI' 'FR' 'DE' 'GR'
 'HU' 'IE' 'IT' 'LV' 'LT' 'LU' 'MT' 'NL' 'PL' 'PT' 'RO' 'SK' 'SI' 'ES'
 'SE' 'GB']
AT
BE
BG
HR
CY
CZ
DK
EE
FI
FR
DE
GR
HU
IE
 IT
LV
LT
LU
MT
NL
PL
PT
RO
SK
SI
ES
SE
GB

In [27]:
#tax_rates

In [20]:
#df.to_dict('records')
db.session.rollback()

/usr/local/lib/python3.7/site-packages/sqlalchemy/orm/session.py:561: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [16]:
class Parent(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    children = db.relationship('Child', backref='parent', lazy=True)
    
class Child(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    parent_id = db.Column(db.String(4), db.ForeignKey('parent.id'), default=None)

In [21]:
p1 = Parent()
c1 = Child(parent_id=1)

db.session.add(p1)
db.session.add(c1)
db.session.commit()

In [32]:
    file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/tax_codes.csv'
    df = pd.read_csv(file)
    df.to_dict('records')

[{'code': 'A_GEN_STANDARD', 'description': 'Standard Rate'},
 {'code': 'A_BOOKS_GEN', 'description': 'Printed Books'},
 {'code': 'A_BOOK_ATLAS', 'description': 'Book of Maps or Charts'},
 {'code': 'A_BOOK_AUDIOBOOK',
  'description': 'Audiobooks in the physical format'},
 {'code': 'A_BOOK_GLOBE', 'description': 'Spherical Map or Chart'},
 {'code': 'A_BOOK_MAGAZINE', 'description': 'Periodical Publication'},
 {'code': 'A_BOOK_MAP', 'description': 'Diagrammatic Area of Land or Sea'},
 {'code': 'A_BOOK_ADULT', 'description': 'Adult Coloring or Activity Book'},
 {'code': 'A_CLTH_BABY', 'description': 'General Baby Clothing'},
 {'code': 'A_CLTH_CHILD', 'description': "General Children's Clothing"},
 {'code': 'A_CLTH_PROTECTIVE',
  'description': 'Protective Sport or Work Clothing'},
 {'code': 'A_FOOD_GEN', 'description': 'General Food Products'},
 {'code': 'A_FOOD_CAKEDECOR', 'description': 'Cake Decorating Foods'},
 {'code': 'A_FOOD_CANFRUIT', 'description': 'Canned Fruit and Vegetables'},
 {'code': 'A_FOOD_CEREALBARS', 'description': 'Cereal Bars'},
 {'code': 'A_FOOD_CEREALCHOCBARS', 'description': 'Chocolate Cereal Bars'},
 {'code': 'A_FOOD_CHOCEREAL', 'description': 'Chocolate Cereal'},
 {'code': 'A_FOOD_CNDY', 'description': 'Candy'},
 {'code': 'A_FOOD_COFFEE', 'description': 'Coffee'},
 {'code': 'A_FOOD_DAIRY', 'description': 'Milk and other Dairy Foods'},
 {'code': 'A_FOOD_DESSERT', 'description': 'Desserts Without Chocolate'},
 {'code': 'A_FOOD_DRIEDFRUIT', 'description': 'Dried Fruits and Vegetables'},
 {'code': 'A_FOOD_FLOUR', 'description': 'Flour'},
 {'code': 'A_FOOD_MEATCHICKEN', 'description': 'Chicken or Other Meats'},
 {'code': 'A_FOOD_MISCBEVERAGE',
  'description': 'Carbonated Water or Other Non-Soda / Juice Drinks'},
 {'code': 'A_FOOD_NAAN', 'description': 'Naan'},
 {'code': 'A_FOOD_NCARBWTR', 'description': 'Non-Carbonated Water'},
 {'code': 'A_FOOD_OIL', 'description': 'Oils'},
 {'code': 'A_FOOD_PASTANOODLE', 'description': 'Pasta and Noodles'},
 {'code': 'A_FOOD_PASTRYCASE', 'description': 'Pastry'},
 {'code': 'A_FOOD_PLAINBISCUIT', 'description': 'Plain Biscuits'},
 {'code': 'A_FOOD_PLAINCRACKER', 'description': 'Plain Crackers'},
 {'code': 'A_FOOD_PLAINNUT', 'description': 'Plain Nuts'},
 {'code': 'A_FOOD_RICE', 'description': 'Rice'},
 {'code': 'A_FOOD_SEASONINGS',
  'description': 'Salt, Pepper, and other Seasonings'},
 {'code': 'A_FOOD_SNACK', 'description': 'Non-chocolate Snacks and Treats'},
 {'code': 'A_FOOD_SODAJUICE', 'description': 'Sodas and Juices'},
 {'code': 'A_FOOD_SPREAD', 'description': 'Spreadable Food'},
 {'code': 'A_FOOD_SWEETNER', 'description': 'Sugar and other Sweeteners'},
 {'code': 'A_FOOD_TEA', 'description': 'Tea'},
 {'code': 'A_FOOD_VEGETABLE',
  'description': 'Fresh or Frozen Fruits and Vegetables'},
 {'code': 'A_FOOD_PETFOOD', 'description': 'Food for Pets'},
 {'code': 'A_FOOD_ANIMALFOOD', 'description': 'Food for Farm Animals'},
 {'code': 'A_FOOD_ANIMALMED', 'description': 'Medicine for Farm Animals'},
 {'code': 'A_FOOD_ANIMALVITAMINS', 'description': 'Vitamins for Farm Animals'},
 {'code': 'A_HLTH_NUTRITIONBAR', 'description': 'Nutrition Bar'},
 {'code': 'A_HLTH_NUTRITIONDRINK', 'description': 'Nutrition Drink'},
 {'code': 'A_HLTH_PILLCAPSULETABLET', 'description': 'Pills and Capsules'},
 {'code': 'A_HLTH_SMOKINGCESSATION', 'description': 'Smoking Cessation Aids'},
 {'code': 'A_HLTH_SMOKINGGUM', 'description': 'Smoke Cessation Gum'},
 {'code': 'A_HLTH_VITAMINS', 'description': 'Vitamins and Minerals'},
 {'code': 'A_HPC_CONTRACEPTIVE',
  'description': 'Condoms and other Contraceptive Aids'},
 {'code': 'A_HPC_DIETARYSUPPL', 'description': 'Dietary Supplements'},
 {'code': 'A_HPC_INCONTINENCE',
  'description': 'Adult Diapers and Incontinence Aids'},
 {'code': 'A_HPC_MEDICINE', 'description': 'Other Medicines'},
 {'code': 'A_HPC_SANITARYPRODUCTS',
  'description': 'Female Hygienic and Other Sanitary Products'},
 {'code': 'A_HPC_WALKINGSTICK',
  'description': 'Walking Sticks and other Mobility Aids'},
 {'code': 'A_OUTDOOR_FERTILIZER', 'description': 'Plant Fertilizers'},
 {'code': 'A_OUTDOOR_LAWNCONTROL',
  'description': 'Insecticides, Herbicides, and Fungicides'},
 {'code': 'A_OUTDOOR_PLANTFOOD', 'description': 'Plant Food'},
 {'code': 'A_OUTDOOR_PLANTS', 'description': 'Plants'},
 {'code': 'A_OUTDOOR_SEEDS', 'description': 'Plant seeds'},
 {'code': 'A_BABY_BIBCLOTH', 'description': 'Baby Bib Cloth'},
 {'code': 'A_BABY_CARSEAT', 'description': 'Car Seats for Baby and Children'},
 {'code': 'A_BABY_NAPPIES',
  'description': "Baby or Children's Nappy or Diaper"},
 {'code': 'A_GEN_NOTAX', 'description': 'Outside the scope of VAT'}]

In [25]:
p1.children

'1'

In [26]:
import pandas as pd
file = '/Users/tm/Projects/NTAMAZON/webapp/api/commands/eu.csv'

df = pd.read_csv(file)

eu = EU.query.filter_by(id=1).first()

for row in range(len(df.index)):
    if bool(df.iloc[row]['eu_1']):
        country = Country.query.filter_by(code=df.iloc[row]['code']).first()
        eu.append(country)

In [5]:
#db.session.commit()

In [23]:
def get_transaction_input_identifier_from_amazon_df(df, i: int):
    try:
        account_public_id = TransactionInputService.get_str(df, i, column='UNIQUE_ACCOUNT_IDENTIFIER').upper()
        print(account_public_id)
        channel_code = TransactionInputService.get_str(df, i, column='SALES_CHANNEL').upper() # str #-->PlatformService.retrieve_account()
        print(channel_code)
        transaction_public_id = TransactionInputService.get_str(df, i, column='TRANSACTION_EVENT_ID') # str #-->transaction
        print(transaction_public_id)
        transaction_activity_id = TransactionInputService.get_str(df, i, column='ACTIVITY_TRANSACTION_ID')  # str #-->transaction --> becomes shipment_id/return_id , etc.
        print(transaction_activity_id)
        
        return account_public_id, channel_code, transaction_public_id, transaction_activity_id

    except:
        return None 
    
    
class TransactionInputService:
    @staticmethod
    def get_str(df, i:int, column:str) -> str:
        try:
            string = str(df.iloc[i][column])
        except:
            raise UnsupportedMediaType('Can not read date format.')
        return string

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/tm/Downloads/Dummy_csv.csv', encoding='latin-1')

In [101]:
df = pd.read_csv('/Users/tm/Downloads/Dummy_txt.txt', delimiter='\t')

In [3]:
datetime.utcnow()

datetime.datetime(2020, 5, 4, 9, 55, 34, 721865)

In [22]:
str(df.iloc[1]['TRANSACTION_EVENT_ID'])

'4776207619'

In [5]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4738902045,4738902045,NaN,31.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4776207619,4776207619,NaN,30.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701102862,4701102862,NaN,30.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31.03.20,31.03.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def get_date_or_None(df, i:int, column:str):
    #date = datetime.strptime(df.iloc[i]['TRANSACTION_DEPART_DATE'], '%d-%m-%Y').date() if not pd.isnull(df.iloc[i]['TRANSACTION_DEPART_DATE']) else None
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
        except:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
            except:
                date = datetime.strptime(df.iloc[i][column], '%d.%m.%Y').date()
    return date

#to_datetime('13000101', format='%Y%m%d', errors='ignore')

In [7]:
def get_str_or_None(df, i:int, column:str):
    if pd.isnull(df.iloc[i][column]):
        return None
    else:
        try:
            string = str(df.iloc[i][column])
        except:
            raise UnsupportedMediaType('Can not read date format.')

    return string

In [9]:
for i in range(3):
    check_tax_calculation_date = get_date_or_None(df, i, column='TAX_CALCULATION_DATE')
    channel_code_upper = get_str_or_None(df, i, column='SALES_CHANNEL').upper()
    channel_code = get_str_or_None(df, i, column='SALES_CHANNEL')
    print(check_tax_calculation_date)
    print(channel_code_upper)
    print(channel_code)

None
AFN
AFN
None
AFN
AFN
None
AFN
AFN

In [10]:
class Input:
    def __init__(self,df, i):
        self.account_public_id = get_str_or_None(df, i, column='UNIQUE_ACCOUNT_IDENTIFIER').upper()
        self.public_activity_period = get_str_or_None(df, i, column='ACTIVITY_PERIOD').upper() # --> OUTPUT
        self.channel_code = get_str_or_None(df, i, column='SALES_CHANNEL').upper() # str #-->PlatformService.retrieve_account()
        self.marketplace_name = get_str_or_None(df, i, column='MARKETPLACE') # str #-->transaction
        self.transaction_type_public_code = get_str_or_None(df, i, column='TRANSACTION_TYPE') #-->TransactionService.retrieve_transaction_type()
        self.transaction_public_id = str(df.iloc[i]['TRANSACTION_EVENT_ID']) # str #-->transaction
        self.transaction_activity_id = str(df.iloc[i]['ACTIVITY_TRANSACTION_ID'])  # str #-->transaction --> becomes shipment_id/return_id , etc.

        self.check_tax_calculation_date = get_date_or_None(df, i, column='TAX_CALCULATION_DATE')
        self.shipment_date = get_date_or_None(df, i, column='TRANSACTION_DEPART_DATE')
        self.arrival_date = get_date_or_None(df, i, column='TRANSACTION_ARRIVAL_DATE')
        self.tax_date = get_date_or_None(df, i, column='TRANSACTION_COMPLETE_DATE')

        self.item_sku = str(df.iloc[i]['SELLER_SKU']) # str --> ItemService.retrieve_item() --> transaction
        self.item_name = str(df.iloc[i]['ITEM_DESCRIPTION']) #str
        self.item_manufacture_country = get_str_or_None(df, i, column='ITEM_MANUFACTURE_COUNTRY') #str/NoneType
        self.item_quantity = int(df.iloc[i]['QTY']) #-->transaction
        self.item_weight_kg = float(df.iloc[i]['ITEM_WEIGHT']) if not pd.isnull(df.iloc[i]['ITEM_WEIGHT']) else None #float/NoneType
        self.item_weight_kg_total = float(df.iloc[i]['TOTAL_ACTIVITY_WEIGHT']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_WEIGHT']) else None

        self.unit_cost_price_net = float(df.iloc[i]['COST_PRICE_OF_ITEMS']) if not pd.isnull(df.iloc[i]['COST_PRICE_OF_ITEMS']) else None

        self.check_item_price_discount_net = float(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.check_item_price_discount_vat = float(df.iloc[i]['PROMO_PRICE_OF_ITEMS_VAT_AMT']) if not pd.isnull(df.iloc[i]['PROMO_PRICE_OF_ITEMS_VAT_AMT']) else None
        self.item_price_discount_gross = float(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PROMO_PRICE_OF_ITEMS_AMT_VAT_INCL']) else None #-->transaction

        self.check_item_price_net = float(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.check_item_price_vat = float(df.iloc[i]['PRICE_OF_ITEMS_VAT_AMT']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.item_price_gross = float(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None #-->transaction

        self.check_item_price_total_net = float(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_EXCL']) else None
        self.check_item_price_total_vat = float(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_VAT_AMT']) else None
        self.item_price_total_gross = float(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_PRICE_OF_ITEMS_AMT_VAT_INCL']) else None #-->transaction

        self.check_item_price_tax_rate_rate = float(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) else None

        self.check_shipment_price_discount_net = float(df.iloc[i]['PROMO_SHIP_CHARGE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_shipment_price_discount_vat = float(df.iloc[i]['PROMO_SHIP_CHARGE_VAT_AMT']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.shipment_price_discount_gross = float(df.iloc[i]['PROMO_SHIP_CHARGE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None #-->transaction

        self.check_shipment_price_net = float(df.iloc[i]['SHIP_CHARGE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_AMT_VAT_EXCL']) else None
        self.check_shipment_price_vat = float(df.iloc[i]['SHIP_CHARGE_VAT_AMT']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_VAT_AMT']) else None
        self.shipment_price_gross = float(df.iloc[i]['SHIP_CHARGE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_AMT_VAT_INCL']) else None #-->transaction

        self.check_shipment_price_total_net = float(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_EXCL']) else None
        self.check_shipment_price_total_vat = float(df.iloc[i]['TOTAL_SHIP_CHARGE_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_SHIP_CHARGE_VAT_AMT']) else None
        self.shipment_price_total_gross = float(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_SHIP_CHARGE_AMT_VAT_INCL']) else None #-->transaction

        self.check_shipment_price_tax_rate_rate = float(df.iloc[i]['SHIP_CHARGE_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['SHIP_CHARGE_VAT_RATE_PERCENT']) else None

        self.check_sale_total_value_net = float(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_EXCL']) else None
        self.check_sale_total_value_vat = float(df.iloc[i]['TOTAL_ACTIVITY_VALUE_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_VALUE_VAT_AMT']) else None
        self.sale_total_value_gross = float(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_ACTIVITY_VALUE_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_discount_net = float(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_gift_wrap_price_discount_vat = float(df.iloc[i]['PROMO_GIFT_WRAP_VAT_AMT']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_VAT_AMT']) else None
        self.gift_wrap_price_discount_gross = float(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['PROMO_GIFT_WRAP_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_net = float(df.iloc[i]['GIFT_WRAP_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_gift_wrap_price_vat = float(df.iloc[i]['GIFT_WRAP_VAT_AMT']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_VAT_AMT']) else None
        self.gift_wrap_price_gross = float(df.iloc[i]['GIFT_WRAP_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_total_net = float(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_EXCL']) if not pd.isnull(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_EXCL']) else None
        self.check_gift_wrap_price_total_vat = float(df.iloc[i]['TOTAL_GIFT_WRAP_VAT_AMT']) if not pd.isnull(df.iloc[i]['TOTAL_GIFT_WRAP_VAT_AMT']) else None
        self.gift_wrap_price_total_gross = float(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_INCL']) if not pd.isnull(df.iloc[i]['TOTAL_GIFT_WRAP_AMT_VAT_INCL']) else None #-->transaction

        self.check_gift_wrap_price_tax_rate = float(df.iloc[i]['GIFT_WRAP_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['GIFT_WRAP_VAT_RATE_PERCENT']) else None


        self.currency_code = get_str_or_None(df, i, column='TRANSACTION_CURRENCY_CODE') #str/NoneType

        self.check_item_tax_code_code = get_str_or_None(df, i, column='PRODUCT_TAX_CODE') #str/NoneType


        self.departure_country_code = str(df.iloc[i]['DEPARTURE_COUNTRY']) #str
        self.departure_postal_code = str(df.iloc[i]['DEPARTURE_POST_CODE']) #str
        self.departure_city = str(df.iloc[i]['DEPATURE_CITY']) #str

        self.arrival_country_code = str(df.iloc[i]['ARRIVAL_COUNTRY']) #str
        self.arrival_postal_code = str(df.iloc[i]['ARRIVAL_POST_CODE']) #str
        self.arrival_city = str(df.iloc[i]['ARRIVAL_CITY']) #str
        self.arrival_address = str(df.iloc[i]['ARRIVAL_ADDRESS']) if not pd.isnull(df.iloc[i]['ARRIVAL_ADDRESS']) else None #str/NoneType

        self.shipment_mode = str(df.iloc[i]['TRANSPORTATION_MODE']) if not pd.isnull(df.iloc[i]['TRANSPORTATION_MODE']) else None #str/NoneType
        self.shipment_conditions = str(df.iloc[i]['DELIVERY_CONDITIONS']) if not pd.isnull(df.iloc[i]['DELIVERY_CONDITIONS']) else None #str/NoneType


        self.check_departure_seller_vat_country_code = get_str_or_None(df, i, column='SELLER_DEPART_VAT_NUMBER_COUNTRY')
        self.check_departure_seller_vat_number = get_str_or_None(df, i, column='SELLER_DEPART_COUNTRY_VAT_NUMBER')

        self.check_arrival_seller_vat_country_code = get_str_or_None(df, i, column='SELLER_ARRIVAL_VAT_NUMBER_COUNTRY')
        self.check_arrival_seller_vat_number = get_str_or_None(df, i, column='SELLER_ARRIVAL_COUNTRY_VAT_NUMBER')

        self.check_seller_vat_country_code = get_str_or_None(df, i, column='TRANSACTION_SELLER_VAT_NUMBER_COUNTRY')
        self.check_seller_vat_number = get_str_or_None(df, i, column='TRANSACTION_SELLER_VAT_NUMBER')


        self.check_tax_calculation_imputation_country = get_str_or_None(df, i, column='VAT_CALCULATION_IMPUTATION_COUNTRY')
        self.check_tax_jurisdiction = get_str_or_None(df, i, column='TAXABLE_JURISDICTION')
        self.check_tax_jurisdiction_level = get_str_or_None(df, i, column='TAXABLE_JURISDICTION_LEVEL')

        self.invoice_number = get_str_or_None(df, i, column='VAT_INV_NUMBER')
        self.check_invoice_amount_vat = float(df.iloc[i]['VAT_INV_CONVERTED_AMT'])
        self.check_invoice_currency_code = get_str_or_None(df, i, column='VAT_INV_CURRENCY_CODE')
        self.check_invoice_exchange_rate = float(df.iloc[i]['VAT_INV_EXCHANGE_RATE']) if not pd.isnull(df.iloc[i]['VAT_INV_EXCHANGE_RATE']) else None
        self.check_invoice_exchange_rate_date = get_date_or_None(df, i, column='VAT_INV_EXCHANGE_RATE_DATE')
        self.invoice_url = str(df.iloc[i]['INVOICE_URL']) if not pd.isnull(df.iloc[i]['INVOICE_URL']) else None


        self.check_export = get_str_or_None(df, i, column='EXPORT_OUTSIDE_EU')  #str #-->transaction

        self.customer_name = get_str_or_None(df, i, column='BUYER_NAME')
        self.customer_vat_number = get_str_or_None(df, i, column='BUYER_VAT_NUMBER')
        self.customer_vat_number_country_code = get_str_or_None(df, i, column='BUYER_VAT_NUMBER_COUNTRY')

        self.supplier_vat_number = get_str_or_None(df, i, column='SUPPLIER_VAT_NUMBER') # #NoneType/str object #-->transaction
        self.supplier_name = get_str_or_None(df, i, column='SUPPLIER_NAME') #NoneType/str object #-->transaction

In [54]:
validity_dict_customer=[]

customer_vat_number_country_code = 'FR'
customer_vat_number = '17850992868' 
result = check_data(customer_vat_number_country_code, customer_vat_number)
print(customer_vat_number_country_code)
print(customer_vat_number)
print(result)
print("")
validity_dict_customer.append(None if None else bool(result.valid))

Forcing soap:address location to HTTPS

FR
17850992868
{
    'countryCode': 'FR',
    'vatNumber': '17850992868',
    'requestDate': datetime.date(2020, 4, 30),
    'valid': True,
    'name': 'STE ON LINE DESK S.A.',
    'address': 'RUE FERRAZ 28\n99999 28008 MADRID'
}

In [45]:
validity_dict_customer

In [68]:
date = date.today()
vobjects = VOBject.query.filter(VOBject.valid_from<=date + timedelta(days=200), VOBject.valid_to>=date + timedelta(days=500)).all()

In [103]:
date= None
check_date(date)

'Hello, world.'

In [91]:
transaction_date = date.today() - timedelta(days=200) 
#print (transaction_date)

check_scope = date.today() - timedelta(days=100)
#print(check_until_here)
check_scope <= transaction_date

#date.today() + timedelta(days=1) < date.today()

False

In [2]:
class VOBject(db.Model):
    __tablename__ = 'v_object'
    
    id = db.Column(db.Integer, primary_key=True)
    valid_from = db.Column(db.Date, nullable=True)
    valid_to = db.Column(db.Date, nullable=False)
    
    def __init__(self, valid_from, valid_to):
        self.valid_from=valid_from
        self.valid_to = valid_to

In [5]:
v1 = VOBject(valid_from=None, valid_to=date.today())

db.session.add(v1)
db.session.commit()

In [7]:
v1.valid_to

datetime.date(2020, 5, 1)

In [3]:
db.create_all()

In [28]:
test_dict = {
    'a' : 1,
    'b' : 2
}

In [78]:
'a' not in test_dict

False

In [74]:
date1 = date.today()
date2 = date1 + timedelta(days=20)

print(date1)
print(date2)
max(date1, date2)

2020-05-01
2020-05-21

datetime.date(2020, 5, 21)

In [62]:
def create_vobject(date, **kwargs: date) -> VOBject:
    if not 'valid_from' in kwargs:
        valid_from = date
    else:
        valid_from=kwargs['valid_from']

    if not 'valid_to' in kwargs:
        valid_to = date.today() + timedelta(days=1)
    else:
        valid_to=kwargs['valid_to']

    new_vobject = VOBject(
        valid_from=valid_from,
        valid_to=valid_to
        )

    db.session.add(new_vobject)
    db.session.commit()

In [11]:
vobject1 = VOBject(valid_from=date.today(), valid_to=date.today() + timedelta(days=1))
vobject2 = VOBject( valid_from=date.today(), valid_to=date.today() + timedelta(days=2))
vobject3 = VOBject(valid_from=date.today(), valid_to=date.today() + timedelta(days=2))

In [63]:
#vobject4 = create_vobject(date)
vobject5 = create_vobject(date, valid_from=date.today() + timedelta(400))

In [6]:
db.session.add(vobject1)
db.session.add(vobject2)
db.session.add(vobject3)
db.session.commit()

In [29]:
class InputService:

    @staticmethod
    def get_date_or_None(df, i:int, column:str):
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
            except:
                try:
                    date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
                except:
                    raise UnsupportedMediaType('Can not read date format.')
        return date

    @staticmethod
    def get_str_or_None(df, i:int, column:str):
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                string = str(df.iloc[i][column])
            except:
                raise UnsupportedMediaType('Can not read date format.')

        return string

In [32]:
from zeep import Client
def check_data(country_code, number):
    """VIES API response data."""
    client = Client(VIES_WSDL_URL)
    try:
        return client.service.checkVat(country_code, number)
        time.sleep(0.2)
    except Exception as e:
        logger.exception(e)
        return False

In [34]:
import time


def func(a,b):
    print(a+b)
    time.sleep(0.2)

df.head()

In [ ]:
def create_check_list_from_input(input: Input):
    vat_data_customer = [input.customer_vat_number_country_code, input.customer_vat_number]
    vat_data_departure_seller = [input.check_departure_seller_vat_country_code, input.check_departure_seller_vat_number]
    vat_data_arrival_seller = [input.check_arrival_seller_vat_country_code, input.check_arrival_seller_vat_number]
    vat_data_seller = [input.check_seller_vat_country_code, input.check_seller_vat_number]

    vat_data_list = [vat_data_customer, vat_data_departure_seller, vat_data_arrival_seller, vat_data_seller]

    return vat_data_list

{'a': 5, 'b': 6}

In [16]:

def check_valid(country_code, number, tax_date):
    
    vat = vat_precheck(country_code, number)
    if vat:
        vatin = VATIN.query.filter(VATIN.country_code==country_code, VATIN.number==number, VATIN.initial_transaction_date<=date, VATIN.valid_to>=date)
        if vatin:
            valid = vatin.valid
        else:
            valid = is_valid(country_code, number, date=tax_date)

        return valid
    else:
        return False


def vat_precheck(country_code, number):
    
    if not number:
        return None
    
    elif not re.match(r"^[a-zA-Z]", number):
        vat = [country_code, number]

    elif country_code == number[:2].strip():
        vat = [country_code, number]

    else: 
        print("country codes dont match. Proceeding with country code from VAT Number.")
        country_code = number[:2].strip()
        number = number[2:].strip()
        vat = [country_code, number]
            
    return vat

In [12]:
import re
def dk_format(v):
    return "{} {} {} {}".format(v[:4], v[4:6], v[6:8], v[8:10])


def gb_format(v):
    if len(v) == 11:
        return "{} {} {}".format(v[:5], v[5:9], v[9:11])
    if len(v) == 14:
        return "{} {}".format(gb_format(v[:11]), v[11:14])
    return v


def fr_format(v):
    return "{} {}".format(v[:4], v[4:])

VIES_WSDL_URL = (
    "https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl"  # NoQA
)
VATIN_MAX_LENGTH = 14

VIES_OPTIONS = {
    "AT": ("Austria", re.compile(r"^ATU\d{8}$")),
    "BE": ("Belgium", re.compile(r"^BE0?\d{9}$")),
    "BG": ("Bulgaria", re.compile(r"^BG\d{9,10}$")),
    "HR": ("Croatia", re.compile(r"^HR\d{11}$")),
    "CY": ("Cyprus", re.compile(r"^CY\d{8}[A-Z]$")),
    "CZ": ("Czech Republic", re.compile(r"^CZ\d{8,10}$")),
    "DE": ("Germany", re.compile(r"^DE\d{9}$")),
    "DK": ("Denmark", re.compile(r"^DK\d{8}$"), dk_format),
    "EE": ("Estonia", re.compile(r"^EE\d{9}$")),
    "EL": ("Greece", re.compile(r"^EL\d{9}$")),
    "ES": ("Spain", re.compile(r"^ES[A-Z0-9]\d{7}[A-Z0-9]$")),
    "FI": ("Finland", re.compile(r"^FI\d{8}$")),
    "FR": ("France", re.compile(r"^FR[A-HJ-NP-Z0-9][A-HJ-NP-Z0-9]\d{9}$"), fr_format),
    "GB": (
        "United Kingdom",
        re.compile(r"^(GB(GD|HA)\d{3}|GB\d{9}|GB\d{12})$"),
        gb_format,
    ),
    "HU": ("Hungary", re.compile(r"^HU\d{8}$")),
    "IE": ("Ireland", re.compile(r"^IE\d[A-Z0-9\+\*]\d{5}[A-Z]{1,2}$")),
    "IT": ("Italy", re.compile(r"^IT\d{11}$")),
    "LT": ("Lithuania", re.compile(r"^LT(\d{9}|\d{12})$")),
    "LU": ("Luxembourg", re.compile(r"^LU\d{8}$")),
    "LV": ("Latvia", re.compile(r"^LV\d{11}$")),
    "MT": ("Malta", re.compile(r"^MT\d{8}$")),
    "NL": ("The Netherlands", re.compile(r"^NL\d{9}B\d{2}$")),
    "PL": ("Poland", re.compile(r"^PL\d{10}$")),
    "PT": ("Portugal", re.compile(r"^PT\d{9}$")),
    "RO": ("Romania", re.compile(r"^RO\d{2,10}$")),
    "SE": ("Sweden", re.compile(r"^SE\d{10}01$")),
    "SI": ("Slovenia", re.compile(r"^SI\d{8}$")),
    "SK": ("Slovakia", re.compile(r"^SK\d{10}$")),
}

VIES_COUNTRY_CHOICES = sorted(
    (("", "--"),) + tuple((key, key) for key, value in VIES_OPTIONS.items())
)

MEMBER_COUNTRY_CODES = VIES_OPTIONS.keys()

In [3]:
from werkzeug.exceptions import HTTPException
from werkzeug.utils import cached_property
from zeep import Client

              

class VATIN(object):
    """Object wrapper for the european VAT Identification Number."""

    def __init__(self, country_code, number):
        self.country_code = country_code
        self.number = number

    def __str__(self):
        unformated_number = "{country_code}{number}".format(
            country_code=self.country_code, number=self.number,
        )

        country = VIES_OPTIONS.get(self.country_code, {})
        if len(country) == 3:
            return country[2](unformated_number)
        return unformated_number

    def __repr__(self):
        return "<VATIN {}>".format(self.__str__())

    @property
    def country_code(self):
        return self._country_code

    @country_code.setter
    def country_code(self, value):
        self._country_code = value.upper()

    @property
    def number(self):
        return self._number

    @number.setter
    def number(self, value):
        self._number = value.upper().replace(" ", "")


    @cached_property
    def data(self):
        """VIES API response data."""
        client = Client(VIES_WSDL_URL)
        try:
            return client.service.checkVat(self.country_code, self.number)
        except Exception as e:
            logger.exception(e)
            raise

    def is_valid(self):
        try:
            self.verify()
            self.validate()
        except HTTPException:
            return False
        else:
            return True

    def verify_country_code(self):
        if not re.match(r"^[a-zA-Z]", self.country_code):
            msg ="{} is not a valid ISO_3166-1 country code.".format(self.country_code)
            raise HTTPException(msg)
            return msg
        elif self.country_code not in MEMBER_COUNTRY_CODES:
            msg ="{} is not a European member state.".format(self.country_code)
            raise HTTPException(msg)
            #return msg

    def verify_regex(self):
        country = dict(
            map(
                lambda x, y: (x, y),
                ("country", "validator", "formatter"),
                VIES_OPTIONS[self.country_code],
            )
        )
        if not country["validator"].match("{}{}".format(self.country_code, self.number)):
            msg ="{} does not match the country's VAT ID specifications.".format(self.country_code)
            raise HTTPException(msg)
            #return msg

    def verify(self):
        self.verify_country_code()
        self.verify_regex()

    def validate(self):
        if not self.data.valid:
            msg ="{} is not a valid VATIN.".format(self.country_code)
            raise HTTPException(msg)
            #return msg

    @classmethod
    def from_str(cls, value):
        """Return a VATIN object by given string."""
        return cls(value[:2].strip(), value[2:].strip())

In [14]:
date = date.today()
value = 'DE190200766'
#value = 'IT190200766_false'
country_code = value[:2].strip()
number = value[2:].strip()

In [15]:
check = is_valid(country_code, number)

NameError: name 'is_valid' is not defined

In [101]:
check

True

In [ ]:
def is_valid(country_code, number, date):
    if vatin:
        return vatin.valid
    else:
        try:
            verify(country_code, number)
            validate(country_code, number)
        except HTTPException:
            return False
        else:
            return True

In [13]:
class VATIN(db.Model):
    """ VATIN model """
    __tablename__ = "vatin"

    id = db.Column(db.Integer, primary_key=True)
    valid_from = db.Column(db.Date, nullable=False)
    valid_to = db.Column(db.Date, default=date.today() + timedelta(days=3))
    _country_code = db.Column(db.String(4), nullable=False)
    _number = db.Column(db.String(4), nullable=False)
    valid = db.Column(db.Boolean, nullable=False)

    def __init__(self, **kwargs):
        super(VATIN, self).__init__(**kwargs)
        self.country_code = country_code
        self.number = number
        self.valid = valid


    # https://www.python-course.eu/python3_properties.php
    @property
    def country_code(self):
        return self._country_code

    @country_code.setter
    def country_code(self, value):
        self._country_code = value.upper()

    @property
    def number(self):
        return self._number

    @number.setter
    def number(self, value):
        self._number = value.upper().replace(" ", "")



    def __str__(self):
        unformated_number = "{country_code}{number}".format(
            country_code=self.country_code, number=self.number,
        )

        country = VIES_OPTIONS.get(self.country_code, {})
        if len(country) == 3:
            return country[2](unformated_number)
        return unformated_number

    def __repr__(self):
        return "<VATIN {}>".format(self.__str__())

In [84]:


def verify(country_code, number):
    verify_country_code(country_code)
    verify_regex(country_code, number)


def validate(country_code, number):
    valid = request_validity(country_code, number)
    if not valid:
        msg ="{} is not a valid VATIN.".format(country_code)
        raise HTTPException(msg)
        return msg

In [13]:
from zeep import Client

def request_validity(country_code, number):
        """VIES API response data."""
        client = Client(VIES_WSDL_URL)
        try:
            return client.service.checkVat(country_code, number)
        except Exception as e:
            logger.exception(e)
            return False

In [86]:
def verify_country_code(country_code):
    if not re.match(r"^[a-zA-Z]", country_code):
        msg ="{} is not a valid ISO_3166-1 country code.".format(country_code)
        raise HTTPException(msg)
        return msg
    elif country_code not in MEMBER_COUNTRY_CODES:
            msg ="{} is not a European member state.".format(country_code)
            raise HTTPException(msg)
            return msg

def verify_regex(country_code, number):
        country = dict(
            map(
                lambda x, y: (x, y),
                ("country", "validator", "formatter"),
                VIES_OPTIONS[country_code],
            )
        )
        if not country["validator"].match("{}{}".format(country_code, number)):
            msg ="{} does not match the country's VAT ID specifications.".format(country_code)
            raise HTTPException(msg)
            return msg

In [18]:
not re.match(r"^[a-zA-Z]", number)

True

In [21]:
date.today() <= date.today() + timedelta(days=1)

True

In [19]:
a = 1
b = 2
c = 3

def f(**kwargs):
    return kwargs.get('a') + kwargs.get('b') + kwargs.get('c')

In [14]:
from zeep import helpers

In [15]:
vat_es = request_validity('ES', 'B86728631')
vat_cz = request_validity('CZ', '684824655') 
vat_de = request_validity('DE', '322857776')

Forcing soap:address location to HTTPS
Forcing soap:address location to HTTPS
Forcing soap:address location to HTTPS

In [16]:
new_vat_es = helpers.serialize_object(vat_es)
new_vat_cz = helpers.serialize_object(vat_cz)
new_vat_de = helpers.serialize_object(vat_de)

In [17]:
print(new_vat_es)
print(new_vat_cz)
print(new_vat_de)

OrderedDict([('countryCode', 'ES'), ('vatNumber', 'B86728631'), ('requestDate', datetime.date(2020, 5, 25)), ('valid', True), ('name', '---'), ('address', '---')])
OrderedDict([('countryCode', 'CZ'), ('vatNumber', '684824655'), ('requestDate', datetime.date(2020, 5, 25)), ('valid', True), ('name', 'ON LINE DESK, S.A.'), ('address', 'Calle Ferraz 28, Planta 1, Puerta Izd\n28008 MADRID\n ')])
OrderedDict([('countryCode', 'DE'), ('vatNumber', '322857776'), ('requestDate', datetime.date(2020, 5, 25)), ('valid', True), ('name', '---'), ('address', '---')])

In [39]:
new_vat['countryCode']
valid = new_vat['valid']
name = new_vat['name']
address = new_vat['address']

print(valid, name, address)

False --- ---

In [117]:
vat.data

{
    'countryCode': 'DE',
    'vatNumber': '190200766',
    'requestDate': datetime.date(2020, 4, 15),
    'valid': True,
    'name': '---',
    'address': '---'
}

In [119]:
print(vat.country_code)
print(vat.number)

DE
190200766

In [120]:
vat.verify_regex()

In [100]:
country = dict(
            map(
                lambda x, y: (x, y),
                ("country", "validator", "formatter"),
                VIES_OPTIONS[vat.country_code],
            )
        )

In [121]:
country

{'country': 'Spain',
 'validator': re.compile(r'^ES[A-Z0-9]\d{7}[A-Z0-9]$', re.UNICODE)}

In [122]:
def verify_country_code(self):
    if not re.match(r"^[a-zA-Z]", self.country_code):
        msg ="{} is not a valid ISO_3166-1 country code.".format(self.country_code)
        raise HTTPException(msg)
    elif self.country_code not in MEMBER_COUNTRY_CODES:
        msg ="{} is not a european member state.".format(self.country_code)
        raise HTTPException(msg)

In [125]:
vat.verify_country_code()

In [126]:
def from_str(value):
        """Return a VATIN object by given string."""
        return (value[:2].strip(), value[2:].strip())

In [127]:
from_str('DE190200766')

('DE', '190200766')

In [258]:
import datetime

today = datetime.date.today()

In [259]:
today

datetime.date(2020, 4, 16)

In [268]:
# Retrieve daily exchange rate and add to csv file
def daily_ecb_exchange_rate():
    #df = pd.read_csv(filepath, sep=',')
    daily_rate_dict = {}

    #get exchange rate data
    import requests
    r = requests.get(
        'http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml', stream=True)
    from xml.etree import ElementTree as ET
    tree = ET.parse(r.raw)
    root = tree.getroot()
    namespaces = {'ex': 'http://www.ecb.int/vocabulary/2002-08-01/eurofxref'}
    for cube in root.findall('.//ex:Cube[@currency]', namespaces=namespaces):
        # data is added to dict
        daily_rate_dict[str(cube.attrib['currency'])] = cube.attrib['rate']
    #daily_rate_dict['Date'] = datetime.date.today().strftime("%d.%m.%y")
    return daily_rate_dict
    
    #dict is used for new df row
    #new_row = pd.DataFrame(data=daily_rate_dict, index=[0])

    #append row to the dataframe
    #df = pd.concat([new_row, df], sort=False).reset_index(drop=True)

    #move 'Date' column to front
    #cols = list(df)
    #cols.insert(0, cols.pop(cols.index('Date')))
    #df = df.loc[:, cols]

    #write new df into csv_file
    #df.to_csv(filepath, index=False)

In [269]:
daily_rate_dict = daily_ecb_exchange_rate()

In [282]:
daily_rate_dict['CZK']

'26.991'

In [6]:
db.drop_all()

In [51]:
class ExchangeRateCollection(db.Model):
    """ ExchangeRates parent_model """
    __tablename__ = "exchange_rate_collection"
    id = db.Column(db.Integer, primary_key=True)
    date = db.Column(db.Date, default=datetime.date.today)
    created_on = db.Column(db.DateTime, default=datetime.datetime.utcnow)
    exchange_rates_eur = db.relationship(
        'ExchangeRatesEUR', backref='exchange_rate_collection', lazy=True)
    exchange_rates_gbp = db.relationship(
        'ExchangeRatesGBP', backref='exchange_rate_collection', lazy=True)
    exchange_rates_czk = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)
    exchange_rates_czk = db.relationship(
        'ExchangeRatesPLN', backref='exchange_rate_collection', lazy=True)


    def __init__(self, **kwargs):
        super(ExchangeRateCollection, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRates: %r>' % self.date



    discriminator = db.Column('exchange_rates_currency', db.String(50))
    __mapper_args__ = {'polymorphic_on': discriminator}

class ExchangeRatesCURRENCY(db.Model):
    """ ExchangeRates BASE model """
    __tablename__ = "exchange_rates"
    id = db.Column(db.Integer, primary_key=True)
    source = db.Column(db.String(32), default="ECB")
    created_on = db.Column(db.DateTime, default=datetime.datetime.utcnow)
    exchange_rate_collection_id = db.Column(db.Integer, db.ForeignKey('exchange_rate_collection.id'),
                                            nullable=False)
    eur = db.Column(db.Numeric(scale=8))
    gbp = db.Column(db.Numeric(scale=8))
    czk = db.Column(db.Numeric(scale=8))
    pln = db.Column(db.Numeric(scale=8))

    discriminator = db.Column('exchange_rates_base', db.String(32))
    __mapper_args__ = {'polymorphic_on': discriminator}


class ExchangeRatesEUR(ExchangeRatesCURRENCY):
    """ ExchangeRates EUR model """
    __tablename__ = "exchange_rates_eur"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_eur'}

    exchange_rates_eur_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                         primary_key=True)

    def __init__(ExchangeRatesEUR, **kwargs):
        super(ExchangeRatesEUR, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesEUR: %r>' % self.exchange_rate_collection.date


class ExchangeRatesGBP(ExchangeRatesCURRENCY):
    """ ExchangeRates GPB model """
    __tablename__ = "exchange_rates_gbp"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_gbp'}

    exchange_rates_gbp_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                                      primary_key=True)

    def __init__(ExchangeRatesGBP, **kwargs):
        super(ExchangeRatesGBP, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesGBP: %r>' % self.exchange_rate_collection.date


class ExchangeRatesCZK(ExchangeRatesCURRENCY):
    """ ExchangeRates CZK model """
    __tablename__ = "exchange_rates_czk"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_czk'}

    exchange_rates_czk_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                                      primary_key=True)

    def __init__(ExchangeRatesCZK, **kwargs):
        super(ExchangeRatesCZK, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesCZK: %r>' % self.exchange_rate_collection.date


class ExchangeRatesPLN(ExchangeRatesCURRENCY):
    """ ExchangeRates PLN model """
    __tablename__ = "exchange_rates_pln"
    __mapper_args__ = {'polymorphic_identity': 'exchange_rates_pln'}

    exchange_rates_pln_id = db.Column('id', db.Integer, db.ForeignKey('exchange_rates.id'),
                                      primary_key=True)

    def __init__(ExchangeRatesPLN, **kwargs):
        super(ExchangeRatesPLN, self).__init__(**kwargs)

    def __repr__(self):
        return '<ExchangeRatesPLN: %r>' % self.exchange_rate_collection.date

In [52]:
from werkzeug.exceptions import InternalServerError

class ExchangeRatesService:

    @staticmethod
    def retrieve_ecb_exchange_rates():
        #df = pd.read_csv(filepath, sep=',')
        exchange_rate_dict = {}

        #get exchange rate data
        import requests
        r = requests.get(
            'http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml', stream=True)
        from xml.etree import ElementTree as ET
        tree = ET.parse(r.raw)
        root = tree.getroot()
        namespaces = {
            'ex': 'http://www.ecb.int/vocabulary/2002-08-01/eurofxref'}
        for cube in root.findall('.//ex:Cube[@currency]', namespaces=namespaces):
            # data is added to dict
            exchange_rate_dict[str(cube.attrib['currency'])] = cube.attrib['rate']
        #daily_rate_dict['Date'] = datetime.date.today().strftime("%d.%m.%y")
        return exchange_rate_dict


    def create_exchange_rate_collection(date) -> ExchangeRateCollection:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(date=date).first()

        if not exchange_rate_collection:
            #create new exchange_rate_collection based on TaxAuditor model
            new_exchange_rate_collection = ExchangeRateCollection(
                date=date,
                created_on=datetime.datetime.utcnow()
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rate_collection)
            db.session.commit()

            return new_exchange_rate_collection


    def create_exchange_rates_EUR(date) -> ExchangeRatesEUR:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
            date=date).first()

        if exchange_rate_collection:

            #api call to ECB
            exchange_rate_dict = ExchangeRatesService.retrieve_ecb_exchange_rates()

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1.0000,
                gbp=exchange_rate_dict['GBP'],
                czk=exchange_rate_dict['CZK'],
                pln=exchange_rate_dict['PLN']
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_EUR)
            db.session.commit()

            return new_exchange_rates_EUR

        else:
            response_object = {
                'status' : 'error',
                'message': 'The corresponding exchange rate collection can not be found.'
            }
            raise InternalServerError(response_object)


    def create_exchange_rates_GBP(date) -> ExchangeRatesGBP:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
                date=date).first()

        exchange_rates_EUR = ExchangeRatesEUR.query.filter_by(
                exchange_rate_collection_id=exchange_rate_collection.id)

        if exchange_rate_collection and exchange_rates_EUR:

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1/exchange_rates_EUR.gbp,
                gbp=1.0000,
                czk=eur * exchange_rates_EUR.czk,
                pln=eur * exchange_rates_EUR.pln
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_GBP)
            db.session.commit()

            return new_exchange_rates_GBP

        else:
            response_object = {
                'status': 'error',
                'message': 'An error occured.'
            }
            raise InternalServerError(response_object)


    def create_exchange_rates_CZK(date) -> ExchangeRatesCZK:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
            date=date).first()

        exchange_rates_EUR = ExchangeRatesEUR.query.filter_by(
            exchange_rate_collection_id=exchange_rate_collection.id)

        if exchange_rate_collection and exchange_rates_EUR:

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1/exchange_rates_EUR.czk,
                gbp=eur * exchange_rates_EUR.gbp,
                czk=1.0000,
                pln=eur * exchange_rates_EUR.pln
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_CZK)
            db.session.commit()

            return new_exchange_rates_CZK

        else:
            response_object = {
                'status': 'error',
                'message': 'An error occured.'
            }
            raise InternalServerError(response_object)

    def create_exchange_rates_PLN(date) -> ExchangeRatesPLN:
        exchange_rate_collection = ExchangeRateCollection.query.filter_by(
            date=date).first()

        exchange_rates_EUR = ExchangeRatesEUR.query.filter_by(
            exchange_rate_collection_id=exchange_rate_collection.id)

        if exchange_rate_collection and exchange_rates_EUR:

            new_exchange_rates_EUR = ExchangeRatesEUR(
                source='ECB',
                created_on=datetime.datetime.utcnow(),
                exchange_rate_collection_id=exchange_rate_collection.id,
                eur=1/exchange_rates_EUR.pln,
                gbp=eur * exchange_rates_EUR.gbp,
                czk=eur * exchange_rates_EUR.czk,
                pln=1.0000
            )

            #add exchange_rate_collection to db
            db.session.add(new_exchange_rates_PLN)
            db.session.commit()

            return new_exchange_rates_PLN

        else:
            response_object = {
                'status': 'error',
                'message': 'An error occured.'
            }
            raise InternalServerError(response_object)

In [53]:
db.create_all()
date = datetime.date.today()
exchange_rate_collection = ExchangeRatesService.create_exchange_rate_collection(date)
ExchangeRatesService.create_exchange_rates_EUR(date)
ExchangeRatesService.create_exchange_rates_GBP(date)
ExchangeRatesService.create_exchange_rates_CZK(date)
ExchangeRatesService.create_exchange_rates_PLN(date)

NameError: name 'self' is not defined

In [59]:
exchange_rate_collection.date

datetime.date(2020, 4, 16)

In [60]:
exchange_rate_collection = ExchangeRateCollection.query.filter_by(date=date).first()

In [61]:
exchange_rate_collection.id

1

In [110]:
test()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [99]:
df.head()

,UNIQUE_ACCOUNT_IDENTIFIER,ACTIVITY_PERIOD,SALES_CHANNEL,MARKETPLACE,TRANSACTION_TYPE,TRANSACTION_EVENT_ID,ACTIVITY_TRANSACTION_ID,TAX_CALCULATION_DATE,TRANSACTION_DEPART_DATE,TRANSACTION_ARRIVAL_DATE,...,VAT_INV_CONVERTED_AMT,VAT_INV_CURRENCY_CODE,VAT_INV_EXCHANGE_RATE,VAT_INV_EXCHANGE_RATE_DATE,EXPORT_OUTSIDE_EU,INVOICE_URL,BUYER_NAME,ARRIVAL_ADDRESS,SUPPLIER_NAME,SUPPLIER_VAT_NUMBER
0,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4738902045,4738902045,NaN,31-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4776207619,4776207619,NaN,30-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701102862,4701102862,NaN,30-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A2SC0NLSYTA68B,2020-MAR,AFN,NaN,FC_TRANSFER,4701201862,4701201862,NaN,31-03-2020,31-03-2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
from datetime import datetime

In [100]:
date_str = df.iloc[5]['TRANSACTION_DEPART_DATE']

date_object = datetime.strptime(date_str, '%d-%m-%Y').date()

In [101]:
date_object

datetime.date(2018, 8, 30)

In [111]:
export = not bool(pd.isnull(df.iloc[5]['EXPORT_OUTSIDE_EU']))

In [139]:
channel_code = str(df.iloc[5]['TRANSACTION_EVENT_ID']).upper()

In [176]:
for i in range(100):
    #tax_calculation_date = datetime.strptime(df.iloc[i]['TAX_CALCULATION_DATE'], '%d-%m-%Y').date() if type(df.iloc[i]['TAX_CALCULATION_DATE']) == str else None
    #if not type(df.iloc[i]['TAX_CALCULATION_DATE']) == str or not type(type(df.iloc[i]['TAX_CALCULATION_DATE']) == float):
     #   print(df.iloc[i]['TAX_CALCULATION_DATE'])
        #print(type(df.iloc[i]['TAX_CALCULATION_DATE']))
    if not type(df.iloc[i]['TAX_CALCULATION_DATE']) == str and not type(df.iloc[i]['TAX_CALCULATION_DATE']) == float:
        print(df.iloc[i]['TAX_CALCULATION_DATE'])
        print(type(df.iloc[i]['TAX_CALCULATION_DATE']))

In [214]:
#for i in range(10,25):
    #departure_seller_vat_number = str(df.iloc[i]['SELLER_DEPART_VAT_NUMBER']) if not pd.isnull(df.iloc[i]['SELLER_DEPART_VAT_NUMBER']) else None
    #arrival_date = datetime.strptime(str(df.iloc[i]['TRANSACTION_ARRIVAL_DATE']), '%d-%m-%Y').date() if type(df.iloc[i]['TRANSACTION_ARRIVAL_DATE']) == str else None #datetime.date object #-->transaction
 #   print(df.iloc[i]['SELLER_DEPART_VAT_NUMBER'])
  #  print(type(df.iloc[i]['SELLER_DEPART_VAT_NUMBER']))
   # print("")

In [46]:
df = pd.read_csv('/Users/tm/Downloads/Dummy_txt.txt', encoding='latin-1', delimiter='\t')
#df = pd.read_csv('/Users/tm/Downloads/THOMAS/02_Monthly_Data/Sales_Tax_Transaction_Reports/Sales_Tax_Transaction_Report_M-2019-06.txt', encoding='latin-1', delimiter='\t') 
for i in range(25):
    print(float(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) if not pd.isnull(df.iloc[i]['PRICE_OF_ITEMS_VAT_RATE_PERCENT']) else None)

None
None
None
None
None
None
0.19
None
0.19
0.19
0.19
0.19
0.19
0.19
0.19
0.23
None
None
0.19
0.19
0.19
0.19
0.19
0.19
0.2

Does not exist

'None is a and 5 is b'

In [71]:
a = 5
b = 1
5 or 1
#True if ( b==1 and a == (2 or 3 or 5)) else False

5

In [65]:
default=datetime.date.today()

In [56]:
exchange_rate_date = default - datetime.timedelta(days=1)

In [57]:
exchange_rate_date

datetime.date(2020, 4, 27)

datetime.date(2020, 4, 27)

In [3]:
class Currency(db.Model):  # type: ignore
    """ Currency model """
    __tablename__ = "currency"

    code = db.Column(db.String(4), primary_key=True)
    country_codes = db.relationship('Country', backref='currency', lazy=True)
    

    def __init__(self, **kwargs):
        super(Currency, self).__init__(**kwargs)

    def __repr__(self):
        return '<Currency: {}>'.format(self.code)


class TaxRateType(db.Model):  # type: ignore
    """ TaxRateType model, e.g. R, R2, Z, S """
    __tablename__ = "tax_rate_type"

    code = db.Column(db.String(8), primary_key=True)
    description = db.Column(db.String(256), default=None)
    tax_rates = db.relationship('TaxRate', backref='tax_rate_type', lazy=True)


    def __init__(self, **kwargs):
        super(TaxRateType, self).__init__(**kwargs)

    def __repr__(self):
        return '<TaxRateType: {}'.format(self.code)


class Country(db.Model):  # type: ignore
    """ Country model """
    __tablename__ = "country"

    code = db.Column(db.String(4), primary_key=True)
    id = db.Column(db.Integer, autoincrement=True)
    country_name = db.Column(db.String(40), nullable=False)
    
    
    currency_code = db.Column(db.String(8), db.ForeignKey('currency.code'))
    tax_rates = db.relationship('TaxRate', backref='country')


    def __init__(self, **kwargs):
        super(Country, self).__init__(**kwargs)

    def __repr__(self):
        return '<Country: {}>'.format(self.code)


class TaxCode(db.Model):  # type: ignore
    """ Item tax_code, e.g. A_GEN_STANDARD """
    __tablename__ = "tax_code"

    code = db.Column(db.String(8), primary_key=True)
    description = db.Column(db.String(64))
    tax_rates = db.relationship('TaxRate', backref='tax_code')

    
    def __init__(self, **kwargs):
        super(TaxCode, self).__init__(**kwargs)

    def __repr__(self):
        return '<TaxCode:{} valid from:{}>'.format(self.code, self.description)

    
class TaxRate(db.Model):  # type: ignore
    """ TaxRate model, e.g. rate: 0.2 """
    __tablename__ = "tax_rate"

    id = db.Column(db.Integer, primary_key=True)
    
    valid_from = db.Column(db.DateTime, nullable=False)
    valid_to = db.Column(db.DateTime)
    
    rate = db.Column(db.Numeric(precision=8, scale=4))
    
    tax_rate_type_code = db.Column(db.String(4), db.ForeignKey('tax_rate_type.code'))
    country_code = db.Column(db.String(4), db.ForeignKey('country.code'))
    tax_code_code = db.Column(db.String(8), db.ForeignKey('tax_code.code'))


    def __init__(self, **kwargs):
         super(TaxRate, self).__init__(**kwargs)

    def __repr__(self):
        return '<TaxRate: valid: {}-{} – country_code: {} – rate {}>'.format(self.valid_from, self.valid_to, self.country_code, self.rate)

#mapped class TaxCode->tax_code' has no property 'country'

In [4]:
db.create_all()

In [5]:
germany, poland, great_britain, netherlands = Country(code="DE", country_name="Germany", currency_code = "EUR"), Country(code="PL", country_name="Poland", currency_code = "PLN"), Country(code="GB", country_name="Great Britain", currency_code = "GBP"), Country(code="NL", country_name="Netherlands", currency_code = "EUR")

db.session.add(germany)
db.session.add(poland)
db.session.add(great_britain)
db.session.add(netherlands)


eur, gbp, pln, czs = Currency(code="EUR"), Currency(code="GBP"), Currency(code="PLN"), Currency(code="CZS")

db.session.add(eur)
db.session.add(gbp)
db.session.add(pln)
db.session.add(czs)


s = TaxRateType(code="S", description="Standard Rate")
r = TaxRateType(code="R", description="Reduced Rate")
r2 = TaxRateType(code="R2", description="Reduced Rate 2")
z = TaxRateType(code="Z", description="Zero Rate")

db.session.add(s)
db.session.add(r)
db.session.add(r2)
db.session.add(z)

A_GEN_STANDARD = TaxCode(code="A_GEN_STANDARD", description="Standard Rate")
A_BOOK_AUDIOBOOK = TaxCode(code="A_BOOK_AUDIOBOOK", description="Audiobooks in the physical format")
A_BOOKS_GEN = TaxCode(code="A_BOOKS_GEN", description="Printed Books")

db.session.add(A_GEN_STANDARD)
db.session.add(A_BOOK_AUDIOBOOK)
db.session.add(A_BOOKS_GEN)

db.session.commit()


    
t1 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.19, tax_rate_type_code="S", country_code="DE", tax_code_code="A_GEN_STANDARD")
t2 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.19, tax_rate_type_code="S", country_code="FR", tax_code_code="A_GEN_STANDARD")
t3 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.19, tax_rate_type_code="S", country_code="DE", tax_code_code="A_BOOK_AUDIOBOOK")
t4 = TaxRate(valid_from=datetime.datetime.utcnow(), rate=0.0, tax_rate_type_code="Z", country_code="DE", tax_code_code="A_BOOKS_GEN")

db.session.add(t1)
db.session.add(t2)
db.session.add(t3)
db.session.add(t4)

db.session.commit()

In [45]:
TaxCode.query.all()

[<TaxCode:A_GEN_STANDARD valid from:Standard Rate>,
 <TaxCode:A_BOOK_AUDIOBOOK valid from:Audiobooks in the physical format>,
 <TaxCode:A_BOOKS_GEN valid from:Printed Books>]

In [11]:
tax_rate = TaxRate.query.filter(TaxRate.valid_from<datetime.datetime.utcnow(), TaxRate.country_code=='DE').all()

In [14]:
germany.tax_rates

[<TaxRate: valid: 2020-04-29 07:41:43.661656-None – country_code: DE – rate 0.1900>,
 <TaxRate: valid: 2020-04-29 07:41:43.662270-None – country_code: DE – rate 0.1900>,
 <TaxRate: valid: 2020-04-29 07:41:43.662407-None – country_code: DE – rate 0.0000>]

In [89]:
def check_refund_case(item_price_total_gross, shipment_price_total_gross, gift_wrap_price_total_gross):
        sale_transaction = True
        if sale_transaction:
            print("check1")
            if not item_price_total_gross or not shipment_price_total_gross or not gift_wrap_price_total_gross:
                return print("check none")
            else:
                print('all here')
        else:
            return False

In [90]:
item_price_total_gross = 1
shipment_price_total_gross = None
gift_wrap_price_total_gross =3

In [91]:
check_refund_case(item_price_total_gross, shipment_price_total_gross, gift_wrap_price_total_gross)

check1
check none

In [124]:
i = 1
from datetime import datetime

In [157]:
class Calculation:
    def __init__(self):
        self.amazon_vat_calculation_service: bool = TransactionService.check_amazon_vat_calculation_service(input.check_tax_calculation_date)

        self.account: Account = PlatformService.get_by_public_id_channel_code(input.account_public_id, input.channel_code)
        self.item: Item = ItemService.get_by_sku_account_date(input.item_sku, account, input.tax_date)
        self.bundle: Bundle = TransactionService.get_bundle_by_account_item__date(account, item, input.transaction_public_id)
        self.transaction_type: TransactionType = get_transaction_type_by_public_code_account(input.transaction_type_public_code, account)

        !!!!! #customer_type = CustomerService.get_type_by_vatin_date(vat_number=input.customer_vat_number, date=input.tax_date, !!!!! )

        self.arrival_country: Country = CountryService.get_by_code(input.arrival_country_code)
        self.departure_country: Country = CountryService.get_by_code(input.departure_country_code)
        self.eu: EU = CountryService.get_eu_by_date(input.tax_date) #EU

        self.tax_treatment_code: str = TaxRateService.define_tax_treatment_code(account, input.check_export, eu, customer_type, departure_country, arrival_country, amazon_vat_calculation_service, input.check_item_price_tax_rate_rate)

        self.tax_juristdiction: Country = TransactionService.define_tax_jurisdiction(tax_treatment_code, departure_country, arrival_country)
        self.item_tax_code_code: str = TransactionService.get_item_tax_code_code(item, input.check_item_tax_code_code)

        self.item_price_tax_rate_rate, gift_wrap_tax_rate_rate, shipment_price_tax_rate_rate = TransactionService.get_tax_rate_rates(tax_jurisdiction, tax_treatment_code, item_tax_code_code, input.tax_date)

        self.item_price_net: float = TransactionService.get_price_net(input.item_price_gross, item_price_tax_rate_rate)
        self.item_price_discount_net: float = TransactionService.get_price_net(input.item_price_discount_gross, item_price_tax_rate_rate)
        self.item_price_total_net: float = TransactionService.get_price_net(input.item_price_total_gross, item_price_tax_rate_rate)

        self.shipment_price_net: float = TransactionService.get_price_net(input.shipment_price_gross, shipment_price_tax_rate_rate)
        self.shipment_price_discount_net: float = TransactionService.get_price_net(input.shipment_price_discount_gross, shipment_price_tax_rate_rate)
        self.shipment_price_total_net: float = TransactionService.get_price_net(input.shipment_price_total_gross, shipment_price_tax_rate_rate)

        self.gift_wrap_price_net: float = TransactionService.get_price_net(input.gift_wrap_price_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_discount_net: float = TransactionService.get_price_net(input.gift_wrap_price_discount_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_total_net: float = TransactionService.get_price_net(input.gift_wrap_price_total_gross, gift_wrap_price_tax_rate_rate)

        self.item_price_vat: float = TransactionService.get_price_vat(input.item_price_gross, item_price_tax_rate_rate)
        self.item_price_discount_vat: float = TransactionService.get_price_vat(input.item_price_discount_gross, item_price_tax_rate_rate)
        self.item_price_total_vat: float = TransactionService.get_price_vat(input.item_price_total_gross, item_price_tax_rate_rate)

        self.shipment_price_vat: float = TransactionService.get_price_vat(input.shipment_price_gross, shipment_price_tax_rate_rate)
        self.shipment_price_discount_vat: float = TransactionService.get_price_vat(input.shipment_price_discount_gross, shipment_price_tax_rate_rate)
        self.shipment_price_total_vat: float = TransactionService.get_price_vat(input.shipment_price_total_gross, shipment_price_tax_rate_rate)

        self.gift_wrap_price_vat: float = TransactionService.get_price_vat(input.gift_wrap_price_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_discount_vat: float = TransactionService.get_price_vat(input.gift_wrap_price_discount_gross, gift_wrap_price_tax_rate_rate)
        self.gift_wrap_price_total_vat: float = TransactionService.get_price_vat(input.gift_wrap_price_total_gross, gift_wrap_price_tax_rate_rate)

        self.total_value_net: float = TransactionService.get_total_value(item_price_total_net, shipment_price_total_net, gift_wrap_price_total_net)
        self.total_value_vat: float = TransactionService.get_total_value(item_price_total_vat, shipment_price_total_vat, gift_wrap_price_total_vat)
        self.total_value_gross: float = TransactionService.get_total_value(input.item_price_total_gross, input.shipment_price_total_gross, input.gift_wrap_price_total_gross)

        self.invoice_currency_code: str = tax_juristdiction.currency_code

        self.invoice_exchange_rate: float = get_invoice_exchange_rate(input.currency_code, invoice_currency_code, input.tax_date)

        self.invoice_amount_net: float = TransactionService.get_invoice_amount(total_value_net, invoice_exchange_rate)
        self.invoice_amount_vat: float = TransactionService.get_invoice_amount(total_value_vat, invoice_exchange_rate)
        self.invoice_amount_gross: float = TransactionService.get_invoice_amount(total_value_gross, invoice_exchange_rate)

        self.arrival_seller_vat_country_code: str = arrival_country.vat_country_code
        self.departure_seller_vat_country_code: str = departure_country.vat_country_code
        self.seller_vat_country_code: str = tax_juristdiction.vat_country_code

In [152]:
inputs = []
for i in range(len(df.index)):
    inputs.append(Input(df, i))

In [140]:
new_input.account_public_id

'A2SC0NLSYTA68B'

In [158]:
input = Input(df, 210)

In [159]:
input.check_tax_jurisdiction

'GERMANY'

In [162]:
for i in range(190,219):
    print(inputs[i].account_public_id)

A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B
A2SC0NLSYTA68B

In [2]:
# Test Item upload
import pandas as pd

In [3]:
TAX_DEFAULT_VALIDITY = datetime.strptime('31-12-2099', '%d-%m-%Y').date()

class Item(db.Model):  # type: ignore
    """ Item model """
    __tablename__ = "item"

    id = db.Column(db.Integer, primary_key=True)
    sku = db.Column(db.String(48), nullable=False)
    seller_firm_id = db.Column(db.Integer)
    valid_from = db.Column(db.Date, nullable=False)
    valid_to = db.Column(db.Date, default=TAX_DEFAULT_VALIDITY)
    brand_name = db.Column(db.String(256), nullable=False)
    name = db.Column(db.String(256), nullable=False)
    ean = db.Column(db.String(64), nullable=False)
    asin = db.Column(db.String(64), nullable=False)
    fnsku = db.Column(db.String(64), nullable=False)
    # length_mm = db.Column(db.Integer, nullable=False)
    # width_mm = db.Column(db.Integer, nullable=False)
    # height_mm = db.Column(db.Integer, nullable=False)
    # volume_m3 = db.Column(db.Float(precision=28), nullable=False)
    # volume_f3 = db.Column(db.Float(precision=28), nullable=False)
    weight_kg = db.Column(db.Float(precision=28), nullable=False)
    # storage_size = db.Column(db.String(32), nullable=False)
    # storage_media_type = db.Column(db.String(32), nullable=False)
    # storage_category = db.Column(db.String(32), nullable=False)

    tax_code_code = db.Column(db.String(8))

    # item_purchase_price_currency_code = db.Column(db.String(4), db.ForeignKey('currency.code'), nullable=False)
    # item_purchase_price_net = db.Column(db.Float(precision=28))

    unit_cost_price_currency_code = db.Column(db.String(4), nullable=False)
    unit_cost_price_net = db.Column(db.Float(precision=28))




    def __init__(self, **kwargs):
        super(Item, self).__init__(**kwargs)
        #self.item_volume_m3 = (self.item_length_mm * self.item_width_mm * self.item_height_mm) / (1000**3)

    def __repr__(self):
        return '<Item: {} {} {} {}>'.format(self.seller_firm_id, self.sku, self.valid_from, self.valid_to)

    def update(self, data_changes):
        for key, val in data_changes.items():
            setattr(self, key, val)
        return self

In [119]:
import os
from datetime import date, timedelta
from typing import List


from werkzeug.exceptions import NotFound, UnsupportedMediaType


from flask import current_app

ITEM_DATA_ALLOWED_EXTENSIONS = ['csv']
BASE_PATH_STATIC_DATA_SELLER_FIRM = '/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm/static_data'
TAX_DEFAULT_VALIDITY = datetime.strptime('31-12-2099', '%d-%m-%Y').date()
MAX_FILE_SIZE_INPUT = 50 * 1024 * 1024


class InputService:
    @staticmethod
    def allowed_file(filename: str, allowed_extensions: list) -> bool:
        return '.' in filename and \
            filename.rsplit('.', 1)[1].lower(
            ) in allowed_extensions


    @staticmethod
    def allowed_filesize(file_path: str) -> bool:
        file_size = os.stat(file_path).st_size
        if not file_size <= MAX_FILE_SIZE_INPUT:
            os.remove(file_path)


    @staticmethod
    def store_file(file, allowed_extensions: list, basepath: str, file_type: str, owner_id: int):
        if allowed_file(filename=file.filename, allowed_extensions=allowed_extensions):
            filename = secure_filename(file.filename)

            basepath_in = os.path.join(basepath, filetype, 'in')
            os.makedirs(basepath_in, exist_ok=True)

            stored_filename = "{}_{}.{}".format(owner_id, filename, filename.rsplit('.', 1)[1].lower())
            file_path = os.path.join(basepath_in, stored_filename)
            file.save(file_path)

            if InputService.allowed_filesize(file_path):
                return file_path

            else:
                raise RequestEntityTooLarge('Uploaded files exceed the file limit. Please reduce the number of files to be processed at once.')

        else:
            raise UnsupportedMediaType('The file {} is not allowed. Please recheck if the file extension matches {}'.format(filename, allowed_extensions))


    
    @staticmethod
    def get_date_or_None(df, i:int, column:str) -> date or None:
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                date = datetime.strptime(df.iloc[i][column], '%d-%m-%Y').date()
            except:
                try:
                    date = datetime.strptime(df.iloc[i][column], '%d.%m.%Y').date()
                except:
                    try:
                        date = datetime.strptime(df.iloc[i][column], '%d.%m.%y').date()
                    except:
                        raise UnsupportedMediaType('Can not read date format.')
        return date



    @staticmethod
    def get_str(df, i:int, column:str) -> str:
        try:
            string = str(df.iloc[i][column])
        except:
            raise UnsupportedMediaType('Can not read date format.')
        return string


    @staticmethod
    def get_str_or_None(df, i:int, column:str) -> str or None:
        if pd.isnull(df.iloc[i][column]):
            return None
        else:
            try:
                string = str(df.iloc[i][column])
            except:
                raise UnsupportedMediaType('Can not read date format.')

        return string


    @staticmethod
    def get_float(df, i:int, column:str) -> float:
        if pd.isnull(df.iloc[i][column]):
            return 0.0
        else:
            try:
                flt = float(df.iloc[i][column])
            except:
                raise UnsupportedMediaType('Can not read date format.')

        return flt


    @staticmethod
    def get_bool(df, i:int, column:str, value_true) -> bool:
        try:
            boolean = bool(df.iloc[i][column] == value_true)
        except:
            raise UnsupportedMediaType('Can not read date format.')

        return boolean

    
    @staticmethod
    def create_input_response_objects(file_path, input_type: str, total_number_inputs: int, error_counter: int, redundancy_counter: int) -> List[dict]:
        response_objects = []
        success_status = 'successfully'
        notification = ''

        if redundancy_counter > 0:
                response_object_info = {
                    'status': 'info',
                    'message': '{} {}s had been uploaded earlier already and were skipped.'.format(str(redundancy_counter), input_type)
                }
                response_objects.append(response_object_info)

        if error_counter > 0:
            notification = 'However, please recheck the submitted file for invalid data.'

            response_object_error = {
                'status': 'warning',
                'message': 'For {} {}s, the necessary {} details could not be read.'.format(str(error_counter), input_type, input_type)
            }
            response_objects.append(response_object_error)

        filename = os.path.basename(file_path)

        ending = 's' if total_number_inputs != 1 else ''

        response_object = {
            'status': 'success',
            'message': 'The {} file "{}" ({} {}{} in total) has been {} uploaded. {}'.format(input_type, filename, str(total_number_inputs), input_type, ending, success_status, notification)
        }

        response_objects.append(response_object)

        return response_objects
    
    
class ItemService:


    @staticmethod
    def process_item_lists_upload(item_list_files: list, seller_firm_id_list: list):
        file_path_list = []
        for i, item_list_file in enumerate(item_list_files):
            seller_firm_id = seller_firm_id_list[i]
            try:
                file_path = ItemService.store_item_list_file(item_list_file, seller_firm_id)
                file_path_list.append(file_path)

            except:
                raise
                !!! log??

        ItemService.create_item_inputs(file_path_list, seller_firm_id)


        return flat_response_objects



    @staticmethod
    def store_item_list_file(item_list_file, seller_firm_id: int):
        file_path = InputService.store_file(file=item_list_file, allowed_extensions=ITEM_DATA_ALLOWED_EXTENSIONS, basepath=BASE_PATH_STATIC_DATA_SELLER_FIRM, file_type='item_list', owner_id=seller_firm_id)
        return file_path

#1.
    def create_item_inputs(file_path_list: list, seller_firm_id_list: list):
        if (file_path_list and seller_firm_id_list):
            response_objects_cum = []
            for i, file_path in enumerate(file_path_list):
                seller_firm_id = seller_firm_id_list[i]
                try:
                    response_objects = ItemService.create_item_input(file_path, seller_firm_id)

                    response_objects_cum.append(response_objects)
                    
                except:
                    raise

            # flatten list of response_object lists (i.e. response_objects)
            flat_response_objects = [response_object for response_objects in response_objects_cum for response_object in response_objects]
            return flat_response_objects

        else:
            raise




    @staticmethod
    def read_item_list_upload_into_df(file_path: str):
        if os.path.isfile(file_path):
            file_name = os.path.basename(file_path)
            try:
                if file_name.lower().endswith('.csv'):
                    df = pd.read_csv(file_path, encoding=None)
                else:
                    raise UnsupportedMediaType(
                        'File extension invalid (file: {}).'.format(file_name))
                return df
            except:
                raise UnsupportedMediaType(
                    'Cannot read file {}.'.format(file_name))

        else:
            raise #!!! (not a file)




    @staticmethod
    def create_item_input(file_path: str, seller_firm_id: int):
        df = ItemService.read_item_list_upload_into_df(file_path)

        redundancy_counter = 0
        error_counter = 0
        total_number_items = len(df.index)
        input_type = 'item'

        for i in range(total_number_items):

            sku = InputService.get_str(df, i, column='sku')
            seller_firm_id = seller_firm_id

            valid_from = InputService.get_date_or_None(df, i, column='valid_from')
            valid_to = InputService.get_date_or_None(df, i, column='valid_to')

            if sku and seller_firm_id:
                if not valid_from:
                    valid_from = date.today()
                if not valid_to:
                    valid_to = valid_from + timedelta(days=TAX_DEFAULT_VALIDITY)

                try:
                    print('{}: type:{}'.format(sku, type(sku)))
                    print('{}: type:{}'.format(seller_firm_id, type(seller_firm_id)))
                    print('{}: type:{}'.format(valid_from, type(valid_from)))
                    print('{}: type:{}'.format(valid_to, type(valid_to)))
                    new_item = ItemService.create_item(df, i, sku, seller_firm_id, valid_from, valid_to)
                    db.session.add(new_item)
                    db.session.commit()

                except:
                    raise
                    #db.session.rollback()

                    error_counter += 1

            else:
                redundancy_counter += 1

        response_objects = InputService.create_input_response_objects(file_path, input_type, total_number_items, error_counter, redundancy_counter)

        return response_objects




    @staticmethod
    def create_item(df, i, sku: str, seller_firm_id, valid_from: date, valid_to: date) -> dict:
        item: Item = Item.query.filter(Item.sku == sku, Item.seller_firm_id == seller_firm_id, Item.valid_to >= valid_from).first()

        new_item = Item(
            sku = sku,
            seller_firm_id = seller_firm_id,
            valid_from = valid_from,
            valid_to = valid_to,
            brand_name = InputService.get_str_or_None(df, i, column='brand_name'),
            name=InputService.get_str_or_None(df, i, column='name'),
            ean=InputService.get_str_or_None(df, i, column='ean'),
            asin=InputService.get_str_or_None(df, i, column='asin'),
            fnsku=InputService.get_str_or_None(df, i, column='fnsku'),
            weight_kg = InputService.get_float(df, i, column='weight_kg'),
            tax_code_code =InputService.get_str_or_None(df, i, column='tax_code_code'),
            unit_cost_price_currency_code =InputService.get_str_or_None(df, i, column='unit_cost_price_currency_code'),
            unit_cost_price_net =InputService.get_float(df, i, column='unit_cost_price_net')
        )

        if item:
            if item.valid_from >= valid_from:
                db.session.delete(item)
                
            else:
                data_changes = {
                    'valid_to': valid_from - timedelta(days=1)
                }
                item.update(data_changes)


        return new_item

In [5]:
db.drop_all()
db.create_all()

In [28]:
file_path_list = ['/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/in/item_list.csv']
seller_firm_id_list = ['A2SC0NLSYTA68B']
response_objects = ItemService.create_item_inputs(file_path_list, seller_firm_id_list)

WE-01-02-01-01-01-01-41: type:<class 'str'>
A2SC0NLSYTA68B: type:<class 'str'>
2016-06-01: type:<class 'datetime.date'>
2025-06-01: type:<class 'datetime.date'>
WE-01-02-01-01-01-01-41: type:<class 'str'>
A2SC0NLSYTA68B: type:<class 'str'>
2016-06-01: type:<class 'datetime.date'>
2025-06-01: type:<class 'datetime.date'>

In [17]:
file_path_list = ['/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/in/item_list.csv']
file_path = file_path_list[0]
df = pd.read_csv(file_path)

In [18]:
df.head()

,valid_from,valid_to,sku,brand_name,name,ean,asin,fnsku,weight_kg,tax_code_code,unit_cost_price_currency_code,unit_cost_price_net
0,01.06.16,01.06.25,WE-01-02-01-01-01-01-41,weltenmann,WELTENMANN Classic Men Cotton Slip-on Espadril...,8.440000e+12,B07DFKN4TM,X000UUSGXL,0.57,A_GEN_STANDARD,EUR,9.7
1,01.06.16,01.06.25,WE-01-02-01-01-01-01-41,weltenmann,WELTENMANN Classic Men Cotton Slip-on Espadril...,8.440000e+12,B07DFKN4TM,X000UUSGXL,0.57,A_GEN_STANDARD,EUR,9.7

In [87]:
sku = string = str(df.iloc[0]['sku'])
valid_from = InputService.get_date_or_None(df, 0, column='valid_from')
fnsku=InputService.get_str_or_None(df, 0, column='fnsku')

In [29]:
items = Item.query.all()

In [30]:
response_objects

[{'status': 'success',
  'message': 'The item file "item_list.csv" (2 items in total) has been successfully uploaded. '}]

In [31]:
items

[<Item: A2SC0NLSYTA68B WE-01-02-01-01-01-01-41 2016-06-01 2016-05-31>,
 <Item: A2SC0NLSYTA68B WE-01-02-01-01-01-01-41 2016-06-01 2025-06-01>]

In [37]:
int_1 = 1
int_2 = 2

def operation(function, int_a, int_b):
    return function(int_a, int_b)

def add(int_1: int, int_2: int):
    return int_1 + int_2

def sub(int_1: int, int_2: int):
    return int_1 - int_2

In [39]:
operation(function=sub, int_a=int_1, int_b=int_2)

-1

In [48]:
long_list = []
string_a = 'ALALAL'
long_list = [string_a] * 15

In [50]:
len(long_list)

15

In [51]:
type(operation)

function

In [55]:
a = 0
a +=0
a

0

In [56]:
d = {
    'a':1,
    'b':2
}

d.get('a')

1

In [62]:
a = 1
b = 2
c = 3

def add(a,b, **kwargs):
    result = a + b + kwargs['c']
    return result
    
add(a,b, c=c)

6

In [82]:
import shutil
file_path_in_list = ['/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/in/item_list.csv', '/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/in/item_list_copy.csv']
basepath = '/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/'
file_type = 'item_list'

def move_file_to_out(file_path_in_list: list, basepath: str, file_type: str):
    basepath_in = os.path.join(basepath, file_type, 'in')
    basepath_out = os.path.join(basepath, file_type, 'out')
    os.makedirs(basepath_out, exist_ok=True)

    for file_path_in in file_path_in_list:
        print (file_path_in)
        file_name = os.path.basename(file_path_in)
        print(file_name)
        file_path_out = os.path.join(basepath, file_type, 'out', file_name)
        print(file_path_out)
        try:
            shutil.move(file_path_in, file_path_out)
        except:
            raise

In [83]:
move_file_to_out(file_path_in_list, basepath, file_type)

/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/in/item_list.csv
item_list.csv
/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/out/item_list.csv
/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/in/item_list_copy.csv
item_list_copy.csv
/Users/tm/Projects/NTAMAZON/webapp_data/seller_firm_data/static/item_list/out/item_list_copy.csv

In [10]:
def f(**kwargs):
    if ('df' and 'i') in kwargs and isinstance(kwargs['df'], pd.DataFrame) and isinstance(kwargs['i'], int):
        print('passed')
    else:
        print('failed')

In [11]:
f(df=df, i=1)

passed

In [1]:
import pandas as pd

In [3]:

class InputService:
    @staticmethod
    def read_file_path_into_df(file_path: str, encoding, delimiter):
        if os.path.isfile(file_path):
            file_name = os.path.basename(file_path)
            try:
                if file_name.lower().endswith('.csv'):
                    df = pd.read_csv(file_path, encoding=encoding, delimiter=delimiter)
                else:
                    raise UnsupportedMediaType(
                        'File extension invalid (file: {}).'.format(file_name))
                return df
            except:
                raise UnsupportedMediaType(
                    'Cannot read file {}.'.format(file_name))

        else:
            raise  # !!! (not a file)

In [6]:
file_path = '/Users/tm/Projects/NTAMAZON/webapp_data/templates/distance_sales.csv'
df = InputService.read_file_path_into_df(file_path, encoding=None, delimiter=None)

In [7]:
df.head()

  seller_firm_public_id valid_from  valid_to arrival_country_code  status
0                   A00   01.06.16  01.06.25                   CZ   False
1                   A01   01.06.18  31.12.19                   DE   False
2                   A01   01.06.18  31.12.19                   ES   False
3                   A01   01.06.18  31.12.19                   FR   False
4                   A01   01.06.18  31.12.19                   GB   False

In [8]:
isinstance(df, pd.DataFrame)

True

In [121]:
valid_from = InputService.get_date_or_None(df, 1, column='valid_from')

In [3]:
db.create_all()

In [2]:
class VATIN(db.Model):
    """ VATIN model """
    __tablename__ = "vatin"

    id = db.Column(db.Integer, primary_key=True)
    created_on = db.Column(db.Date, default=date.today())
    valid_from = db.Column(db.Date, nullable=False)
    valid_to = db.Column(db.Date, default=date.today() + timedelta(days=1))
   
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

In [4]:
vatin = VATIN(valid_from=date.today())
db.session.add(vatin)
db.session.commit()

In [5]:
vatin = VATIN.query.first()

In [8]:
vatin.valid_to

datetime.date(2020, 5, 14)

In [12]:
seller_firm_id_list = [5] * 3

In [13]:
seller_firm_id_list

[5, 5, 5]

In [15]:
def function1(**kwargs):
    a = 1
    b = 2
    function2(a=a,b=b, **kwargs)

def function2(**kwargs):
    function3(**kwargs)
    
def function3(**kwargs):
    a = kwargs.get('a')
    b = kwargs.get('b')
    c = kwargs.get('c')
    print(a,b,c)
    

function1(c=3)

1 2 3

In [3]:
file_path = 'distance_sales.csv'
os.path.basename(file_path)

'distance_sales.csv'

In [5]:

from datetime import datetime, date, timedelta
import os
from flask import Flask, session
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite://"
app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False

db = SQLAlchemy(app)

In [2]:
from typing import NamedTuple


class Transaction(db.Model):
    __tablename__= "transaction"
    id = db.Column(db.Integer, primary_key=True)
    date = db.Column(db.Date)
    account_id = db.Column(db.Integer, db.ForeignKey('account.id'))
    
    def __init__(self, **kwargs):
        super().__init__(**kwargs)
        
    def __repr__(self):
        return '<Transaction: id: {}, date: {}, account_id: {}'.format(self.id, self.date, self.account_id)
    
        
        
class Account(db.Model):
    __tablename__= "account"
    id = db.Column(db.Integer, primary_key=True)
    seller_firm_id = db.Column(db.Integer, db.ForeignKey('seller_firm.id'))
    transactions = db.relationship('Transaction', backref='account', lazy=True)
    
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

class SellerFirm(db.Model):
    __tablename__= "seller_firm"
    id = db.Column(db.Integer, primary_key=True)
    accounts = db.relationship('Account', backref='seller_firm', lazy=True)

    
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

In [3]:
db.drop_all()
db.create_all()

In [4]:
s1 = SellerFirm()
s2 = SellerFirm()

db.session.add(s1)
db.session.add(s2)

a1 = Account(seller_firm_id = 1)
a2 = Account(seller_firm_id = 1)
a3 = Account(seller_firm_id = 2)

db.session.add(a1)
db.session.add(a2)
db.session.add(a3)

t1 = Transaction(date=date.today(), account_id=1)
t2 = Transaction(date=date.today() + timedelta(days=1), account_id=1)
t3 = Transaction(date=date.today() + timedelta(days=5), account_id=3)
t4 = Transaction(date=date.today() + timedelta(days=1), account_id=2)
t5 = Transaction(date=date.today() + timedelta(days=1), account_id=1)

db.session.add(t1)
db.session.add(t2)
db.session.add(t3)
db.session.add(t4)
db.session.add(t5)

db.session.commit()

In [5]:
seller_firm_id = 1
date_start = date.today()
print('date_start', date_start)
date_end = date.today() + timedelta(days=1)
print('date_end', date_end)

date_start 2020-05-16
date_end 2020-05-17

In [13]:
for a in Account.query.all():
    print(a.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1127e9590>, 'id': 1, 'seller_firm_id': 1}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1127e9450>, 'id': 2, 'seller_firm_id': 1}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1127e9610>, 'id': 3, 'seller_firm_id': 2}

In [40]:
l = []
for i in range(20):
    start = datetime.utcnow()
    transactions = Transaction.query.join(Transaction.account, aliased=True).filter_by(seller_firm_id=seller_firm_id).all()
    end = datetime.utcnow()
    duration = end - start
     l.append(duration)

import statistics
statistics.mean(l)

print(l)

0:00:00.002055
0:00:00.003452
0:00:00.002479
0:00:00.002092
0:00:00.002365
0:00:00.001912
0:00:00.001712
0:00:00.001642
0:00:00.001822
0:00:00.001571
0:00:00.001594
0:00:00.001718
0:00:00.001673
0:00:00.001669
0:00:00.005029
0:00:00.004237
0:00:00.002735
0:00:00.003369
0:00:00.003343
0:00:00.002868

In [27]:
class Parent(db.Model):
    __tablename__= "parent"
    id = db.Column(db.Integer, primary_key=True)
    
    def __init__(self, **kwargs):
        super().__init__(**kwargs)
        
    
class Girl(Parent):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(40))


class Boy(Parent):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(40))

In [28]:
transactions

[<Transaction: id: 1, date: 2020-05-15, account_id: 1,
 <Transaction: id: 2, date: 2020-05-16, account_id: 1,
 <Transaction: id: 4, date: 2020-05-16, account_id: 2,
 <Transaction: id: 5, date: 2020-05-16, account_id: 1]

In [34]:
start = datetime.utcnow()

datetime.datetime(2020, 5, 15, 13, 28, 32, 925875)